{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
				{% if (data['transfer-reason'] == "done") %}
				<a href="building-choices/open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
				{% else %}
				<a href="open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
				{% endif %}
				<div class="moj-button-menu">
				  	<div class="moj-button-menu__wrapper">
					  	<div style="float: right;">
							<div class="moj-button-menu">
						  		<div class="moj-button-menu__wrapper">
									<a href="update-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Update status</a>
									<a href="change-programme" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change programme</a>
						  		</div>
							</div>
					  	</div>
				  	</div>
				</div>
		  	</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="pni">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="status-history">Status history</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Status history</h2>
		{% if (data['transfer-reason'] == "done") %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-07-03T14:09:00.000Z">3 July 2023 at 2:09pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--grey">Moved to Building Choices</strong>
					<p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1"><strong>Details:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by Jordan Smith</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
			  	</div>
			</div>
		</div>
		{% else %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by Jordan Smith</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
			  	</div>
			</div>
		</div>
		{% endif %}
    </div>
</div>

{% endblock %}
