{% extends "layouts/main.html" %}

{% block pageTitle %}
Transfer referral to Building Choices - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}	
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="#" method="post">
			<h1 class="govuk-heading-l">Transfer referral to Building Choices: high intensity</h1>
			<p class="govuk-body">Submitting this will transfer the referral to Building Choices: high intensity.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by Jordan Smith</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<h2 class="govuk-heading-m govuk-!-margin-top-7">Transfer referral</h2>
			<p class="govuk-body">You must give a reason for transferring this referral to Building Choices: high intensity.</p>
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
				<div class="govuk-form-group">
					<h3 class="govuk-label-wrapper">
						<label class="govuk-label govuk-label--s" for="transfer-reason">Add reason</label>
					</h3>
					<textarea class="govuk-textarea govuk-js-character-count" id="transfer-reason" name="transfer-reason" rows="12" aria-describedby="transfer-reason-info">{{ data['transfer-reason'] }}</textarea>
				</div>
				<div id="transfer-reason-info" class="govuk-hint govuk-character-count__message">You have 500 characters remaining</div>
			</div> 
			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Select the programme strand</legend>
				  <div class="govuk-radios" data-module="govuk-radios">
					  <div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="programme-strand" name="programme-strand" type="radio" value="General offence" {{ checked("programme-strand", "General offence") }}>
						  <label class="govuk-label govuk-radios__label" for="programme-strand">General offence</label>
					  </div>
					  <div class="govuk-radios__item">
						  <input class="govuk-radios__input" id="programme-strand-2" name="programme-strand" type="radio" value="Sexual offence" {{ checked("programme-strand", "Sexual offence") }}>
						  <label class="govuk-label govuk-radios__label" for="programme-strand-2">Sexual offence</label>
					  </div>
				  </div>
			  </fieldset>
			</div>
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
				<span class="govuk-visually-hidden">Warning</span>This referral will close, and a new referral will be created and added to Building Choices: high intensity.</strong>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
				<a class="govuk-link" href="#">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
