{% extends "layouts/main.html" %}

{% block pageTitle %}
Recommended programme pathway - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Recommended programme pathway</h1>
		<p class="govuk-body">Based on Del Hatton's risks and needs, this is the recommended programme pathway.</p>
		<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="red"><strong>HIGH INTENSITY</strong></span>
			</h2>
			<p class="govuk-body-m govuk-!-margin-bottom-1">Based on their risks and needs scores, this person may be eligible for high intensity programmes.</p>
		</div>
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  	<span class="govuk-details__summary-text">How is this calculated?</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body">The pathway was calculated using the Programmes Needs Identifier, which takes information about the person's risks and needs from OASys.</p>

				<h2 class="govuk-heading-m">Programme needs score breakdown</h2>
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Sex</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.11 - Sexual Pre-occupation</dt>
								<dd class="govuk-summary-list__value">0</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.12 - Offence related Sexual Interests </dt>
								<dd class="govuk-summary-list__value">0</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">6.12  Emotional congruence with children or feeling closer to children than adults</dt>
								<dd class="govuk-summary-list__value">0</dd>
							</div>
						</dl>
					</div>
				</div>
		
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Cognitive</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">12.1 Pro-criminal attitudes</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">12.9 Hostile orientation</dt>
								<dd class="govuk-summary-list__value">2</dd>
							</div>
						</dl>
					</div>
				</div>
		
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Relationships</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">6.1 - Current relationship with close family</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">6.6 - Previous experience of close relationships</dt>
								<dd class="govuk-summary-list__value">2</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">7.3 - Easily influenced by criminal associates</dt>
								<dd class="govuk-summary-list__value">2</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.3 - Aggressive or controlling behaviour</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
						</dl>
					</div>
				</div>
		
				<div class="govuk-summary-card">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Self-management</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.2 - Impulsivity</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.4 - Temper control</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">11.6 - Problem-solving skills</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">10.1 - Difficulties coping</dt>
								<dd class="govuk-summary-list__value">1</dd>
							</div>
						</dl>
					</div>
				</div>
			</div>
		</details>
		<div class="govuk-button-group govuk-!-margin-top-4">
			<a class="govuk-button" href="high-acp-programmes">Recommended programmes</a>
		</div>
    </div>
</div>

{% endblock %}
