{% extends "layouts/main.html" %}

{% block pageTitle %}
Additional information - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}	
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="#" method="post">
			<h1 class="govuk-heading-l">Additional information</h1>
			<p class="govuk-body">There is no additional information for this referral because it was transferred from a previous referral to Becoming New Me Plus.</p>
			<p class="govuk-body">You can see <a href="#" class="govuk-link">notes from the previous referral</a>.</p>
			<!-- <h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by Jordan Smith</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
					</div>
				</div>
			</div> -->
		</form>
	</div>
</div>
{% endblock %}
