{% extends "layouts/main.html" %}

{% block pageTitle %}
Override reason - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-two-thirds">
		<form action="building-choices-moderate" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="reasonOveride-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Override reason</h1>
					</legend>
					<div id="reasonOveride-hint" class="govuk-hint govuk-!-margin-bottom-6">Give a reason for requesting the override.</div>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="programmeSpecific" name="programmeSpecific" type="radio" value="pna-completed">
							<label class="govuk-label govuk-radios__label" for="programmeSpecific">A programme needs assessment (PNA) has been completed and shows high need in Attitudes, Relationships and Self-management</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="programmeSpecific-2" name="programmeSpecific" type="radio" value="other">
							<label class="govuk-label govuk-radios__label" for="programmeSpecific-2">Other</label>
						</div>
				  	</div>
				</fieldset>
			</div>
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
				  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Give reason</legend>
				  	<textarea class="govuk-textarea" id="giveReason" name="giveReason" rows="5">{{ data['give-reason'] }}</textarea>
				</fieldset>
		  	</div>
			<div class="govuk-button-group govuk-!-margin-top-6">
				<button class="govuk-button" data-module="govuk-button">Submit override request</button>
				<a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
			</div>
	  	</form>
	</div>
</div>
{% endblock %}
