{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		{% if (data['delete-programme-history'] == "done") %}
		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
			  	<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
			</div>
			<div class="govuk-notification-banner__content">
			  	<h3 class="govuk-notification-banner__heading">Programme deleted</h3>
			  	<p class="govuk-body">Healthy Sex Programme 2024 has been deleted from Del Hatton's programme history.</p>
			</div>
		</div>
		{% endif %}
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<p class="govuk-body">This is a list of programmes Del Hatton has started or completed. Programme history is collected through DPS or added by the referrer. You can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>add missing programme history</li>
			<li>change details added by a referrer, if they're incorrect</li>
		</ul>
	</div>
	<div class="govuk-grid-column-full">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Programme</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
				<th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">Action</a></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if (data['delete-programme-history'] == "done") %}

				{% else %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="programme-history-details" class="govuk-link govuk-link--no-visited-state">Healthy Sex Programme</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Completed 2024</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="delete-programme-history">Delete<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Completed 2023</td>
					<td class="govuk-table__cell">n/a &ndash; confirmed</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Deselected 2022</td>
					<td class="govuk-table__cell">n/a &ndash; confirmed</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Becoming New Me Plus</td>
					<td class="govuk-table__cell">Lowdham Grange</td>
					<td class="govuk-table__cell">Deselected 2020</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="task-list?referral-information-one=done&">Return to task list</button>
			</div>
		</form>
    </div>
</div>

{% endblock %}
