{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
Digital Prison Services - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = "dps-home" %}

{% block header %}
    {% include "/includes/head-dps-assess.html" %}
{% endblock %}

{% block content %}
<div class="moj-width-container">
    <h1 class="govuk-heading-l">View Accredited Programmes and referrals</h1>
</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul class="govuk-grid-row card-group govuk-!-margin-bottom-9">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Find an Accredited Programme</a>
                    </h2>
                    <p class="govuk-body card__description">Search for an Accredited Programme and make a referral.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="open-referrals">Manage referrals</a>
                    </h2>
                    <p class="govuk-body card__description">View, manage, and update referrals.</p>
                </div>
            </li>
        </ul>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
        <div class="faux-div govuk-!-margin-bottom-9">&nbsp;</div>
    </div>
</div>
{% endblock %}
