{% extends "layouts/main.html" %}

{% block pageTitle %}
Update referral status - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
			  	<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Referral does not match PNI</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-body">This referral does not match the recommendation based on the risk and programme needs identifier (PNI) scores.</p>
			</div>
		</div>
		<h1 class="govuk-heading-l">Update referral status</h1>
		<p class="govuk-body">Record all decisions to keep the status up to date.</p>
		<h2 class="govuk-heading-m">Current status</h2>
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
				</div>
				<p class="moj-timeline__date">
					<time datetime="2023-07-07T16:25:00.000Z">7 July 2023 at 4:25pm</time>
				</p>
				<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--blue">Assessment started</strong>
				</div>
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<form action="update-status" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">Select decision</h2>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="assessed-suitable" name="assessed-suitable" type="radio" value="On hold – assessment not completed" {{ checked("assessed-suitable", "On hold – assessment not completed") }}>
							<label class="govuk-label govuk-radios__label" for="assessed-suitable">On hold – assessment not completed</label>
							<div class="govuk-hint govuk-radios__hint">The assessment has not been completed, but the referral will be paused until the person is ready to continue.</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="assessed-suitable-2" name="assessed-suitable" type="radio" value="Assessed as suitable and ready to continue" {{ checked("assessed-suitable", "Assessed as suitable and ready to continue") }}>
							<label class="govuk-label govuk-radios__label" for="assessed-suitable-2">Assessed as suitable and ready to continue</label>
							<div class="govuk-hint govuk-radios__hint">This person meets the suitability criteria. They can now be considered to join the programme.</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="assessed-suitable-3" name="assessed-suitable" type="radio" value="Assessed as suitable but not ready" {{ checked("assessed-suitable", "Assessed as suitable but not ready") }}>
							<label class="govuk-label govuk-radios__label" for="assessed-suitable-3">Assessed as suitable but not ready</label>
							<div class="govuk-hint govuk-radios__hint">This person meets the suitability criteria but is not ready to start the programme. The referral will be paused until they are ready.</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="assessed-suitable-4" name="assessed-suitable" type="radio" value="Not suitable" {{ checked("assessed-suitable", "Not suitable") }}>
							<label class="govuk-label govuk-radios__label" for="assessed-suitable-4">Not suitable</label>
							<div class="govuk-hint govuk-radios__hint">This person does not meet the suitability criteria for this programme. The referral will be closed.</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="assessed-suitable-5" name="assessed-suitable" type="radio" value="Withdraw referral" {{ checked("assessed-suitable", "Withdraw referral") }}>
							<label class="govuk-label govuk-radios__label" for="assessed-suitable-5">Withdraw referral</label>
							<div class="govuk-hint govuk-radios__hint">The referral will be closed.</div>
						</div>
					</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-7">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
					<a class="govuk-link" href="status-history">Cancel</a>
				</div>
			</div>
		</form>
    </div>
</div>

{% endblock %}
