{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm the OASys information - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a> -->
	<a href="task-list" class="govuk-back-link govuk-!-margin-bottom-0">Back to the tasklist</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Confirm the OASys information</h1>
		<p class="govuk-body">This service will provide the relevant sections from OASys that the programme team needs to assess this referral. The programme team may also need to access the full OASys Layer 3.</p>
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
			  <span class="govuk-warning-text__assistive">Warning</span>You must confirm that the OASys information is accurate before submitting your application.</strong>
		</div>
		<form action="task-list?referral-information-two=done&" method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
					  <input class="govuk-checkboxes__input" id="oasys-information-accurate" name="oasys-information-accurate" type="checkbox" value="{{ data['oasys-information-accurate'] }}">
					  <label class="govuk-label govuk-checkboxes__label" for="oasys-information-accurate">I confirm that the OASys information is accurate.</label>
					</div>
				</div>
			</div>
			<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Continue</button>
		</form>
    </div>
</div>

{% endblock %}
