{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<div class="moj-banner moj-banner--success" role="region" aria-label="Success">
			<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
			  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
			</svg>
			<div class="moj-banner__message">You have successfully added a programme.</div>  
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				{% if data['add-accredited-programme'] %}
			  	<h2 class="govuk-summary-card__title">{{ data['add-accredited-programme'] }}</h2>
				{% elseif data['add-accredited-programme'] == "Other" %}
			  	<h2 class="govuk-summary-card__title">Other - {{ data['add-accredited-programme-other'] }}</h2>
				{% else %}
				<h2 class="govuk-summary-card__title">Kaizen</h2>
				{% endif %}
			  	<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link" href="remove">Remove<span class="govuk-visually-hidden"> Kaizen</span></a>
					</li>
			  	</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme name</dt>
						{% if data['add-accredited-programme'] %}
						<dd class="govuk-summary-list__value">{{ data['add-accredited-programme'] }}</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Kaizen</dd>
						{% endif %}
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="add-accredited-programme?camefromaccreditedprogrammeanswers=true&">
							  Change<span class="govuk-visually-hidden"> Programme name</span>
							</a>
						</dd>
				  	</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Setting</dt>
						{% if data['setting'] == "Community" and data['setting-community'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% elseif data['setting'] == "Community" %}
						<dd class="govuk-summary-list__value">{{ data['setting'] }}, {{ data['setting-community'] }}</dd>
						{% elseif data['setting'] == "Custody" and data['setting-custody'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% elseif data['setting'] == "Custody" %}
						<dd class="govuk-summary-list__value">{{ data['setting'] }}, {{ data['setting-custody'] }}</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Custody, HMP Erlestoke</dd>
						{% endif %}
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="add-programme-details?camefromaccreditedprogrammeanswers=true&">
							  Change<span class="govuk-visually-hidden"> Setting</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						{% if data['outcome'] == "Complete" and data['outcome-complete'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% elseif data['outcome'] == "Complete" %}
						<dd class="govuk-summary-list__value">{{ data['outcome'] }}, Year started {{ data['outcome-complete'] }}</dd>
						{% elseif data['outcome'] == "Incomplete" and data['outcome-incomplete'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% elseif data['outcome'] == "Incomplete" %}
						<dd class="govuk-summary-list__value">{{ data['outcome'] }}, Year started {{ data['outcome-incomplete'] }}</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Incomplete, Year started 2021</dd>
						{% endif %}
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="add-programme-details?camefromaccreditedprogrammeanswers=true&">
							  Change<span class="govuk-visually-hidden"> Outcome</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						{% if data['provide-additional-detail'] %}
						<dd class="govuk-summary-list__value">{{ data['provide-additional-detail'] }}</dd>
						{% elseif data['provide-additional-detail'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Del's motivation for the programme declined after the first 2 sessions due to a family bereavement.</dd>
						{% endif %}
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="add-programme-details?camefromaccreditedprogrammeanswers=true&">
							  Change<span class="govuk-visually-hidden"> Additional detail</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
					  	<dt class="govuk-summary-list__key">Source of information</dt>
						{% if data['provide-source-detail'] %}
					  	<dd class="govuk-summary-list__value">{{ data['provide-source-detail'] }}</dd>
						{% elseif data['provide-source-detail'] == false %}
						<dd class="govuk-summary-list__value">Not known</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Found on OASys</dd>
						{% endif %}
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="add-programme-details?camefromaccreditedprogrammeanswers=true&">
							  Change<span class="govuk-visually-hidden"> Source of information</span>
							</a>
						</dd>
					</div>
			  	</dl>
			</div>
		</div>
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="task-list?referral-information-one=done&">Skip this section</button>
			</div>
		</form>
    </div>
</div>
{% endblock %}
