{% extends "layouts/main.html" %}

{% block pageTitle %}
Withdraw referral - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="status-history" method="post">
			<h1 class="govuk-heading-l">Withdraw referral</h1>
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
						<h1 class="govuk-fieldset__heading">Why are you withdrawing this referral?</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason" name="referral-reason" type="radio" value="duplicate-referral">
							<label class="govuk-label govuk-radios__label" for="referral-reason">Duplicate referral</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-2" name="referral-reason" type="radio" value="submitted-in-error">
							<label class="govuk-label govuk-radios__label" for="referral-reason-2">Submitted in error</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-3" name="referral-reason" type="radio" value="risk-scores-have-changed">
							<label class="govuk-label govuk-radios__label" for="referral-reason-3">Risk scores have changed</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-4" name="referral-reason" type="radio" value="person-has-changed-their-mind">
							<label class="govuk-label govuk-radios__label" for="referral-reason-4">Person has changed their mind</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-5" name="referral-reason" type="radio" value="person-has-left-prison">
							<label class="govuk-label govuk-radios__label" for="referral-reason-5">Person has left prison</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-6" name="referral-reason" type="radio" value="person-has-died">
							<label class="govuk-label govuk-radios__label" for="referral-reason-6">Person has died</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-7" name="referral-reason" type="radio" value="transferred-to-another-prison">
							<label class="govuk-label govuk-radios__label" for="referral-reason-7">Transferred to another prison</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-8" name="referral-reason" type="radio" value="health-reasons">
							<label class="govuk-label govuk-radios__label" for="referral-reason-8">Health reasons</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="referral-reason-9" name="referral-reason" type="radio" value="drug-use">
							<label class="govuk-label govuk-radios__label" for="referral-reason-9">Drug use</label>
						</div>
					</div>
					<div class="govuk-form-group govuk-!-margin-top-7">
						<label class="govuk-label govuk-label--s" for="provide-additional-detail">Provide additional detail (if known)</label>
						<textarea class="govuk-textarea" id="provide-additional-detail" name="provide-additional-detail" rows="5">{{ data['provide-additional-detail'] }}</textarea>
					</div>
				</fieldset>
				<div class="govuk-warning-text">
					<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
					<strong class="govuk-warning-text__text">
					<span class="govuk-warning-text__assistive">Warning</span>Withdrawing this referral will move it to closed referrals.</strong>
				</div>
				<div class="govuk-button-group govuk-!-margin-top-2">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
