{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt-secondary.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a> -->
	<a href="open-referrals" class="govuk-back-link govuk-!-margin-bottom-0">Back to referrals</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
	  			<div class="moj-button-menu">
					<div class="moj-button-menu__wrapper">
						<a class="govuk-button moj-button-menu__item govuk-button--warning moj-page-header-actions__actiong" href="withdraw-referral">Withdraw referral</a>
					</div>
	  			</div>
			</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  	<a class="moj-sub-navigation__link" aria-current="page" href="personal-details">Referral details</a>
			 	</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
		  	</ul>
		</nav>
		<h2 class="govuk-heading-m">Referral summary</h2>
		<ul class="govuk-list">
			<li><strong>Programme name:</strong> Becoming New Me Plus (BNM+)</li>
			<li><strong>Programme strand:</strong> Intimate partner violence</li>
			<li><strong>Programme location:</strong> HMP Frankland</li>
		</ul>
		<ul class="govuk-list">
			<li><strong>Date referred:</strong> 12 June 2023</li>
			<li><strong>Referrer name:</strong> Jordan Smith</li>
			<li><strong>Referrer email address:</strong> <a href="mailto:interventions.erlestoke@justice.gov.uk" class="govuk-link">interventions.frankland@justice.gov.uk</a></li>
			<li><strong>Referrer contact number:</strong> 01380 814250</li>
		</ul>
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="personal-details">Personal details</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="programme-history">Programme history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="offence-history">Offence history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="sentence-information">Sentence information</a>
		  		</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="additional-information" aria-current="location">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-inset-text govuk-!-margin-top-0">Submitted in referral by Jordan Smith on 11 June 2023</div>
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
			  		<h2 class="govuk-summary-card__title">Additional information</h2>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<p class="govuk-!-margin-bottom-2">Del's OASys scores show that he meets the criteria for this programme as he is a high risk individual who has learning needs. He also has enough time left on his sentence to complete the programme.</p>
						</div>
					</dl>
				</div>
		 	</div>
		</div>
	</div>
</div>

{% endblock %}
