{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
Digital Prison Services - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = "dps-home" %}

{% block header %}
{% include "/includes/community/e2e/header-home.html" %}
{% endblock %}

{% block content %}
<div class="moj-width-container">
    <span class="govuk-caption-xl">North East</span>
    <h1 class="govuk-heading-xl">Accredited Programmes</h1>
</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul class="govuk-grid-row card-group govuk-!-margin-bottom-9">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="referrals/open-referrals">Case list</a>
                    </h2>
                    <p class="govuk-body card__description">Track and update referrals for your region</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="groups/group-list">Groups</a>
                    </h2>
                    <p class="govuk-body card__description">Create groups, schedule sessions, and record attendance and notes</p>
                    <br />
                    <br />
                    <br />
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
