{% extends "layouts/main.html" %}

{% block pageTitle %}
Availability and motivation: Alex River - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-pop.html" %}
{% include "/includes/community/e2e/header-pop-sub-nav-allocation-notes.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions govuk-!-margin-bottom-0">
			<div class="moj-page-header-actions__title">
	  			<span class="govuk-caption-xl">Building Choices: moderate intensity</span>
				<h1 class="govuk-heading-xl">Availability and motivation: {{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}}</h1>
			</div>
			<div class="moj-button-group moj-button-group--inline govuk-!-margin-top-6">
				<div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Update referral" data-button-classes="govuk-button--secondary">
					<a href="change-referral-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Update status</a>
					<a href="change-ldc-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change LDC status</a>
					<a href="change-cohort" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change cohort</a>		  
				</div>
			</div>
 		</div>
	</div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<div class="govuk-inset-text govuk-!-margin-bottom-0">
			{{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}} is allocated to <a href="../../groups/group-details-allocated-ur" class="govuk-link">{{data['groupCode'] | default('BCNE2026-0409')}}</a>.
		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="availability">Availability</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="location">Location</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="motivation-background">Motivation, background and non-associations</a>
		  		</li>
			</ul>
		</nav>
	</div>


	<div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-l">Availability</h2>
		<p class="govuk-body">No availability details added for Alex River.</p>

		<!-- To do: Add journey for availability -->
		
		<form action=" " method="post">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add availability</button>
			</div>
		</form>

	</div>
</div>
{% endblock %}
