{% extends "layouts/main.html" %}

{% block pageTitle %}
Update Alex River’s referral status - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Alex River is allocated to a group</h1>

		<div class="govuk-inset-text">
			Alex River is allocated to <a href="../../groups/group-details-allocated" class="govuk-link" rel="noreferrer noopener" target="_blank">BCCDD1 (opens in a new tab)</a>.
		</div>

		<form action="change-referral-status-scheduled-group-post" method="post">
			<div class="govuk-form-group">
		
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
		name: "started-programme",
		fieldset: {
			legend: {
			text: "Has Alex River started the programme?",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
			{
			value: "yes",
			text: "Yes",
			hint: {
				text: "They have started the programme."
			}
			},
			{
			value: "no",
			text: "No",
			hint: {
				text: "They are being removed from the group."
			}
			}
		]
		}) }}

		<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			<a class="govuk-link" href="status-history">Cancel</a>
		</div>
		</div>
	</form>

	</div>
</div>

{% endblock %}
