{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link">Back</a> -->
	<a href="../../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Building Choices: moderate intensity</h1>
			</div>
			<div class="moj-button-group moj-button-group--inline govuk-!-margin-top-6">
				<a href="../../referrals/open-referrals" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
				<div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Update referral" data-button-classes="govuk-button--secondary">
					<a href="change-referral-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Update status</a>
					<a href="change-ldc-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change LDC status</a>
					<a href="change-cohort" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change cohort</a>		  
				</div>
			</div>
 		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  	<a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
			 	</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="pni">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="availability">Group allocation notes</a>
				</li>
		  	</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Group allocation notes</h2>
		<p class="govuk-body">Use this section to add and view information to help you match the person to a group.</p>
		<div class="govuk-inset-text">
			Alex River is allocated to <a href="../../groups/group-details-allocated" class="govuk-link">BCCDD1</a>.
		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="availability">Availability</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="location">Location</a>
		  		</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="motivation-background">Motivation, background and non-associations</a>
		  		</li>
			</ul>
		</nav>
	</div>

	<div class="govuk-grid-column-three-quarters">
		{% if showBanner %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: File uploaded successfully" data-module="moj-alert" data-dismissible="true">
			<div>
			  	<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
					<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			  	</svg>
			</div>
			<div class="moj-alert__content">Motivation, background and non-associations details added.</div>
			<div class="moj-alert__action">
			  <button class="moj-alert__dismiss" hidden>Dismiss</button>
			</div>
		</div>
		{% endif %}

		<h2 class="govuk-heading-m">Motivation, background and non-associations</h2>

		{% if data['show-last-update'] %}
			{{ govukInsetText({
				text: "Last updated by Berta Tonka on 13 October 2025."
			}) }}
		
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				Maintains innocence
				</dt>
				{% if data['maintain-innocence'] == "yes" %}
					<dd class="govuk-summary-list__value">Yes</dd>
				{% elseif data['maintain-innocence'] == "no" %}
					<dd class="govuk-summary-list__value">No</dd>
				{% else %}
					<dd class="govuk-summary-list__value">No information added</dd>
				{% endif %}
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				Motivation to participate in an Accredited Programme
				</dt>
				{% if data['motivation'] %}
					<dd class="govuk-summary-list__value">{{ data['motivation'] }}</dd>
				{% else %}
					<dd class="govuk-summary-list__value">No information added</dd>
				{% endif %}
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				Other people on probation who the person should not attend a group with
				</dt>
				{% if data['non-associations'] %}
					<dd class="govuk-summary-list__value">{{ data['non-associations'] }}</dd>
				{% else %}
					<dd class="govuk-summary-list__value">No information added</dd>
				{% endif %}
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				Other considerations
				</dt>
				{% if data['other-considerations'] %}
					<dd class="govuk-summary-list__value">{{ data['other-considerations'] }}</dd>
				{% else %}
					<dd class="govuk-summary-list__value">No information added</dd>
				{% endif %}
			</div>
		</dl>

		<form action="change-motivation-background" method="post">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Update notes</button>
			</div>
		</form>

		{% else %}

		<p class="govuk-body">No motivation, background and non-associations added for Alex River.</p>	

		<form action="change-motivation-background" method="post">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add notes</button>
			</div>
		</form>

		{% endif %}

		</div>
	</div>
</div>
{% endblock %}
