{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-pop-no-primary-nav.html" %}
{% include "/includes/community/e2e/header-pop-sub-nav-referral-details.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-xl">Referral details</h1>
			</div>
			<div class="moj-button-group moj-button-group--inline govuk-!-margin-top-6">
				<div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Update referral" data-button-classes="govuk-button--secondary">
					<a href="change-referral-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Update status</a>
					<a href="change-ldc-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change LDC status</a>
					<a href="change-cohort" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change cohort</a>		  
				</div>
			</div>
 		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

		<!-- Cohort - conditional formatting for showing a success banner -->
		{% if data['choose-cohort'] == "general-offence" %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: cohort changed" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
			<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">
			<h2 class="moj-alert__heading">Cohort changed</h2>
			Alex River is in the general offence cohort
		</div>

		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
		</div>

		{% elseif data['choose-cohort'] == "sexual-offence" %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: cohort changed" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
			<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">
			<h2 class="moj-alert__heading">Cohort changed</h2>
			Alex River is in the sexual offence cohort
		</div>

		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
		</div>
		
		{% else %}
		<!-- No success banner to display yet -->
		{% endif %}

		<!-- LDC status - conditional formatting for showing a success banner -->
		{% if data['choose-ldc-status'] == "yes-ldc" %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: LDC status changed" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
			<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">
			<h2 class="moj-alert__heading">LDC status changed</h2>
			{{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}} may need an LDC-adapted programme.
		</div>

		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
		</div>

		{% elseif data['choose-ldc-status'] == "no-ldc" %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: LDC status changed" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
			<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">
			<h2 class="moj-alert__heading">LDC status changed</h2>
			{{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}} does not need an LDC-adapted programme.
		</div>

		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
		</div>
		
		{% else %}
		<!-- No success banner to display yet -->
		{% endif %}

		<h2 class="govuk-heading-m">Referral summary</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Applicant name</dt>
				<dd class="govuk-summary-list__value">{{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}}</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme name</dt>
				<dd class="govuk-summary-list__value">Building Choices: moderate intensity</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Cohort</dt>
				{% if data['choose-cohort'] == "general-offence" %}
				<dd class="govuk-summary-list__value">General offence<span class="moj-badge moj-badge--bright-purple govuk-!-margin-left-1">LDC</span></dd>
				{% else %}
				<dd class="govuk-summary-list__value">Sexual offence<span class="moj-badge moj-badge--bright-purple govuk-!-margin-left-1">LDC</span></dd>
				{% endif %}
		  	</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Date referred</dt>
			  	<dd class="govuk-summary-list__value">11 June 2023</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Probation practitioner</dt>
			  	<dd class="govuk-summary-list__value">Tom Saunders</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Probation practitioner email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">tom.saunders@justice.gov.uk</a></dd>
			</div>
		</dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 


<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="personal-details" aria-current="personal details">Personal details</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href=" ">Programme history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href=" ">Offence history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href=" ">Sentence information</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href=" ">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	

	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-inset-text govuk-!-margin-top-0">Imported from NDelius on 1 August 2023, last updated on 4 January 2023</div>
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
			  		<h2 class="govuk-summary-card__title">Personal details</h2>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Name</dt>
							<dd class="govuk-summary-list__value">{{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}}</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">CRN</dt>
							<dd class="govuk-summary-list__value">X123456</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Date of birth</dt>
							<dd class="govuk-summary-list__value">5 July 1971 (52 years, 11 months old)</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Ethnicity</dt>
							<dd class="govuk-summary-list__value">White</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Gender</dt>
							<dd class="govuk-summary-list__value">Male</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Setting</dt>
							<dd class="govuk-summary-list__value">Community</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Probation delivery unit</dt>
							<dd class="govuk-summary-list__value">County Durham and Darlington</dd>
						</div>
					</dl>
				</div>
		 	</div>
		</div>
	</div>
</div>

{% endblock %}
