{% extends "layouts/main.html" %}

{% block pageTitle %}
Risks and needs: Alex River - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-pop.html" %}
{% include "/includes/community/e2e/header-pop-sub-nav-risks-needs.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<span class="govuk-caption-xl">Building Choices: moderate intensity</span>
				<h1 class="govuk-heading-xl">Risks and needs: {{data['firstName'] | default('Alex')}} {{data['lastName'] | default('River')}}</h1>
			</div>
			<div class="moj-button-group moj-button-group--inline govuk-!-margin-top-6">
				<div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Update referral" data-button-classes="govuk-button--secondary">
					<a href="change-referral-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Update status</a>
					<a href="change-ldc-status" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change LDC status</a>
					<a href="change-cohort" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Change cohort</a>		  
				</div>
			</div>
 		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<p class="govuk-body">Relevant sections from OASys to support the referral. The full Layer 3 assessment is available in OASys. 
			Information is accurate at the time of the referral being submitted.</p>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="risks-needs">Risks and alerts</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="learning-needs">Learning needs</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="2-offence-analysis">Section 2 - Offence analysis</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="6-relationships">Section 6 - Relationships</a>
		  		</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="7-lifestyle-associates" aria-current="page">Section 7 - Lifestyle and associates</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="8-drug-misuse">Section 8 - Drug misuse</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="9-alcohol-misuse">Section 9 - Alcohol misuse</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="10-emotional-wellbeing">Section 10 - Emotional wellbeing</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="11-thinking-behaving">Section 11 - Thinking and behaving</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="12-attitudes">Section 12 - Attitudes</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="13-health">Section 13 - Health</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="r6-rosh-analysis">Section R6 - ROSH analysis</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-l">Section 7 - Lifestyle and associates</h2>
		<div class="govuk-inset-text govuk-!-margin-top-0">Assessment completed 2 February 2026</div>
			
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h3 class="govuk-summary-card__title">7.2 - Reoffending</h3>
				</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Are there any activities that encourage reoffending</dt>
						<dd class="govuk-summary-list__value">Missing</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h3 class="govuk-summary-card__title">Lifestyle issues affecting risk or offending harm</h3>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dd class="govuk-summary-list__value">OASys Question - 'Identify lifestyle issues contributing to risks of offending and harm. Please include any positive factors.' - Answer Input - 'Test lifestyle issues contributing to risks of offending and harm'</dd>
					</div>
				</dl>
			</div>
		</div>

	</div>
</div>

{% endblock %}
