{% extends "layouts/main.html" %}

{% block pageTitle %}
Deselection - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt-secondary.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="update-status" method="post">
			<h1 class="govuk-heading-l">Deselect person</h1>
			<p class="govuk-body">Deselecting a person means that the person can no longer participate in the programme.</p>
			<h2 class="govuk-heading-m">Current status details</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Status update</h2>
						<p class="moj-timeline__byline">by Carol Duffy</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-08-09T15:31:00.000Z">9 August 2023 at 3:31pm</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">On programme</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--m" for="other-reason">Add other reason</label>
				</h1>
				<div id="other-reason-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
					<textarea class="govuk-textarea" id="other-reason" name="otherReason" rows="5" aria-describedby="other-reason-hint"></textarea>
			 	</div>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
