{% extends "layouts/main.html" %}

{% block pageTitle %}
Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-find.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Becoming New Me Plus: general violence offence</h1>
		<strong class="govuk-tag govuk-tag--yellow">General violence offence</strong>
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>High OVP (OASys Violence Predictor)</li>
						<li>High OGRS (Offender Group Reconviction Scale)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent non-LDC programme</dt>
				<dd class="govuk-summary-list__value">Kaizen</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 12 months</dd>
	  		</div>
		</dl>
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Programme description</h2>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) uses cognitive behavioural therapy. It is for men who are at high or very high risk of reoffending. This strand is for men convicted of a general violence offence.</p>
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations</h2>
		<p class="govuk-body govuk-!-margin-top-6">Prisons where the programme runs and how to contact them.</p>
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Prison</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Category</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">County</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			  	<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Aylesbury (HMP)</a></td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Buckinghamshire</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Brinsford (HMP)</a></td>
					<td class="govuk-table__cell">B</td>
					<td class="govuk-table__cell">Wolverhampton</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="hmp-erlestoke">Erlestoke (HMP)</a></td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Wiltshire</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Frankland (HMP)</a></td>
					<td class="govuk-table__cell">B</td>
					<td class="govuk-table__cell">Durham</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Stoke Heath (HMP)</a></td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Shropshire</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Swinton Hall (HMP)</a></td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Staffordshire</td>
			  	</tr>
			</tbody>
		</table>
    </div>
</div>

{% endblock %}
