{% extends "layouts/main.html" %}

{% block pageTitle %}
Put referral on hold - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}	
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="status-history" method="post">
			<h1 class="govuk-heading-l">Put referral on hold</h1>
			<p class="govuk-body">If you put a referral on hold, it will not progress until it is removed from hold.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by Jordan Smith</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<h2 class="govuk-heading-m govuk-!-margin-top-7">On hold</h2>
			<p class="govuk-body">You must give a reason for putting this referral on hold.</p>
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
				<div class="govuk-form-group">
				  	<h3 class="govuk-label-wrapper">
						<label class="govuk-label govuk-label--s" for="add-hold-reason">Add reason</label>
				  	</h3>
				  	<textarea class="govuk-textarea govuk-js-character-count" id="add-hold-reason" name="add-hold-reason" rows="5" aria-describedby="add-hold-reason-info">{{ data['add-hold-reason'] }}</textarea>
				</div>
				<div id="add-hold-reason-info" class="govuk-hint govuk-character-count__message">You have 100 characters remaining</div>
			</div> 
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
				  <span class="govuk-visually-hidden">Warning</span>This will change the referral status to on hold.</strong>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
				<a class="govuk-link" href="update-status">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
