{% extends "layouts/main.html" %}

{% block pageTitle %}
BNM+ (General Violence) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<!-- {{ govukPhaseBanner({
	tag: {
	  text: "Prototype"
	},
	html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} -->
{% endblock %}

{% block header %}
  {% include "/includes/key-details.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="#">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Status history</a>
				</li>
			</ul>
		</nav>
		

		
    </div>
</div>

{% endblock %}
