{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<p class="govuk-body">This is a list of programmes Del Hatton has started or completed. Details may have been collected by DPS or added by the referrer. You can change details added by the referrer, if you know they are incorrect.</p>
	</div>
	<div class="govuk-grid-column-full">
		<!-- <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">Kaizen</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Kaizen</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Custody, HMP Erlestoke</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Incomplete, Year started 2021</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Del's motivation for the programme declined after the first 2 sessions due to a family bereavement.</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Found on OASys</dd>
		  			</div> 
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Added by</dt>
						<dd class="govuk-summary-list__value">Jordan Smith, 11 June 2023</dd>
		  			</div> 
			  	</dl>
			</div>
		</div> -->
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Programme</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Year</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Source of information</th>
				<th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">Action</a></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Becoming New Me Plus (BNM+)</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Programme complete</strong></td>
					<td class="govuk-table__cell">2024</td>
					<td class="govuk-table__cell">DPS Accredited Programmes</td>
					<td class="govuk-table__cell">&nbsp;</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Horizon</td>
					<td class="govuk-table__cell">Fosse Way</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Deselected</strong></td>
					<td class="govuk-table__cell">2020</td>
					<td class="govuk-table__cell">Added by referrer</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Enhanced Thinking Skills</td>
					<td class="govuk-table__cell">Onley</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Deselected</strong></td>
					<td class="govuk-table__cell">2024</td>
					<td class="govuk-table__cell">DPS Accredited Programmes</td>
					<td class="govuk-table__cell">&nbsp;</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Core Sex Offender Treatment Programme</td>
					<td class="govuk-table__cell">Onley</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Programme complete</strong></td>
					<td class="govuk-table__cell">2024</td>
					<td class="govuk-table__cell">DPS Accredited Programmes</td>
					<td class="govuk-table__cell">&nbsp;</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Deselected</strong></td>
					<td class="govuk-table__cell">2024</td>
					<td class="govuk-table__cell">Added by referrer</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Building Better Relationships</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Programme complete</strong></td>
					<td class="govuk-table__cell">2024</td>
					<td class="govuk-table__cell">Added by referrer</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Controlling Anger and Learning to Manage it</td>
					<td class="govuk-table__cell">Onley</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Programme complete</strong></td>
					<td class="govuk-table__cell">2020</td>
					<td class="govuk-table__cell">Added by referrer</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="#">Skip this section</button>
			</div>
		</form>
    </div>
</div>

{% endblock %}
