{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="#" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<div class="moj-banner moj-banner--success" role="region" aria-label="Success">
			<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
			  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
			</svg>
			<div class="moj-banner__message">You have successfully added a programme.</div>  
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">Kaizen</h2>
			  	<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> Kaizen</span></a>
					</li>
			  	</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Kaizen</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Programme name</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Custody, HMP Erlestoke</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Setting</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Incomplete, Year started 2021</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Outcome</span></a>
						</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Del's motivation for the programme declined after the first 2 sessions due to a family bereavement.</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Additional detail</span></a>
						</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Found on OASys</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Source of information</span></a>
						</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">Creating better relationships</h2>
			  	<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> Creating better relationships</span></a>
					</li>
			  	</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Other, Creating better relationships</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Programme name</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Community</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Setting</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Outcome</span></a>
						</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Additional detail</span></a>
						</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Source of information</span></a>
						</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">New Me MOT</h2>
			  	<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
						<a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> New Me MOT</span></a>
					</li>
			  	</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">New Me MOT</dd>
						  <dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Programme name</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Custody</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Setting</span></a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Complete, Year complete 1993</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Outcome</span></a>
						</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Additional detail</span></a>
						</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Spoke to POM</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Source of information</span></a>
						</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="#">Skip this section</button>
			</div>
		</form>
    </div>
</div>

{% endblock %}
