{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="#" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<div class="govuk-inset-text">The history shows Del Hatton has previously started or completed an Accredited Programme.</div>
		<p class="govuk-body">Add another programme if you know that he started or completed a programme which is not listed below or skip this section of the referral if the history is not known.</p>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">Kaizen</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Kaizen</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Custody, HMP Erlestoke</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Incomplete, Year started 2021</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Del's motivation for the programme declined after the first 2 sessions due to a family bereavement.</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Found on OASys</dd>
		  			</div> 
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Added by</dt>
						<dd class="govuk-summary-list__value">Adam Lucas, 1 June 2023</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">Creating better relationships</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Other, Creating better relationships</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Community</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
		  			</div> 
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Added by</dt>
						<dd class="govuk-summary-list__value">Adam Lucas, 1 June 2023</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  	<h2 class="govuk-summary-card__title">New Me MOT</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">New Me MOT</dd>
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Setting</dt>
				  		<dd class="govuk-summary-list__value">Custody</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Complete, Year complete 1993</dd>
				  	</div>
				  	<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Not known</dd>
					</div>
			  		<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Source of information</dt>
						<dd class="govuk-summary-list__value">Spoke to POM</dd>
		  			</div> 
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Added by</dt>
						<dd class="govuk-summary-list__value">Adam Lucas, 1 June 2023</dd>
		  			</div> 
			  	</dl>
			</div>
		</div>
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="#">Skip this section</button>
			</div>
		</form>
    </div>
</div>

{% endblock %}
