{% extends "layouts/main.html" %}

{% block pageTitle %}
Recommended: high intensity Accredited Programmes - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Recommended: high intensity Accredited Programmes</h1>
		<p class="govuk-body">These programmes are recommended for people with high or very high risks and needs.</p>
		<details class="govuk-details govuk-!-margin-bottom-7">
			<summary class="govuk-details__summary">
			  	<span class="govuk-details__summary-text">I need to refer to a different programme</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body">If you think the person needs a programme not listed here, you can see non-recommended programmes and request an override. You will need to give a reason for this before you submit the referral.</p>
				<div class="govuk-button-group govuk-!-margin-top-4">
					<a class="govuk-button govuk-button--secondary" href="moderate-acp-programmes">See moderate intensity programmes</a>
				</div>
			</div>
		</details>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Becoming New Me Plus: general violence offence</a></h2>
		<strong class="govuk-tag govuk-tag--yellow">General violence offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) uses cognitive behavioural therapy. It is for men who are at high or very high risk of reoffending. This strand is for men convicted of a general violence offence.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>High OVP (OASys Violence Predictor)</li>
						<li>High OGRS (Offender Group Reconviction Scale)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent non-LDC programme</dt>
				<dd class="govuk-summary-list__value">Kaizen</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 12 months</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Becoming New Me Plus: intimate partner violence offence</a></h2>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) uses cognitive behavioural therapy. It is for men who are at high or very high risk of reoffending. This strand is for men convicted of an intimate partner violence offence.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>High SARA (Spousal Assault Risk Assessment) against partners</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent non-LDC programme</dt>
				<dd class="govuk-summary-list__value">Kaizen</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 12 months</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Becoming New Me Plus: sexual offence</a></h2>
		<strong class="govuk-tag govuk-tag--red">Sexual offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) uses cognitive behavioural therapy. It is for men who are at high or very high risk of reoffending. This strand is for men convicted of a sexual offence.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>High or very high OSP (OASys Sexual Reconviction Predictor)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent non-LDC programme</dt>
				<dd class="govuk-summary-list__value">Kaizen</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 12 months</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="building-choices-high">Building Choices: high intensity</a></h2>
		<p class="govuk-body govuk-!-margin-top-6">Building Choices helps people to develop skills for change and future-focused goals. It is a cognitive-behavioural programme, combining group and one-to-one sessions. It develops skills such as emotion management, healthy thinking, healthy relationships, sense of purpose and healthy sex. This is the high intensity pathway, including Getting Ready.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Any, depending on prison requirements</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">High or very high in at least one of these areas:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>OGRS3 (Offender Group Reconviction Scale 3)</li>
						<li>OVP (OASys Violence Predictor)</li>
						<li>OSP-DC or OSP-IIC (OASys Sexual Reconviction Predictor &ndash; Contact or Indecent Imagery)</li>
						<li>RSR (Risk of Serious Recidivism)</li>
						<li>SARA (Spousal Assault Risk Assessment)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Needs criteria</dt>
				<dd class="govuk-summary-list__value">High need, based on their programme needs score</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
				<dd class="govuk-summary-list__value">Yes</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">Around 17 to 25 weeks (2 to 3 sessions a week)</dd>
		  	</div>
		</dl> 
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Healthy Identity Intervention</a></h2>
		<strong class="govuk-tag govuk-tag--turquoise">Extremism offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Healthy Identity Intervention (HII) targets the social and psychological drivers of extremist offending. It helps participants disengage from extremist groups, causes, or ideologies and to reconnect with their own personal values and beliefs.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male or female</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>22+ ERG (Extremism Risk Guidance) and an assessment</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes, but reviewed case by case</dd>
			</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">10 to 32 sessions (at least 3 months)</dd>
	  		</div>
		</dl>
		<nav class="govuk-pagination govuk-!-margin-top-9" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">3</a>
				</li>
			</ul>
			<div class="govuk-pagination__next">
				<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg></a>
			</div>
		</nav>
    </div>
</div>

{% endblock %}
