{% extends "layouts/main.html" %}

{% block pageTitle %}
Recommended: moderate intensity Accredited Programmes - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Recommended: moderate intensity Accredited Programmes</h1>
		<p class="govuk-body">These programmes are recommended for people with medium risks and needs.</p>
		<details class="govuk-details govuk-!-margin-bottom-7">
			<summary class="govuk-details__summary">
			  	<span class="govuk-details__summary-text">I need to refer to a different programme</span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body">If you think the person needs a programme not listed here, you can see non-recommended programmes and request an override. You will need to give a reason for this before you submit the referral.</p>
				<div class="govuk-button-group govuk-!-margin-top-4">
					<a class="govuk-button govuk-button--secondary" href="high-acp-programme-override-request">See high intensity programmes</a>
				</div>
			</div>
		</details>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Building Better Relationships</a></h2>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Building Better Relationships (BBR) uses cognitive behavioural therapy. It is for men convicted of an intimate partner violence-related (IPV) offence against a female partner.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list govuk-list--bullet">
						<li>Medium SARA (Spousal Assault Risk Assessment) in custody</li>
						<li>Medium or high SARA (Spousal Assault Risk Assessment) in the community</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 6 months</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="building-choices-moderate">Building Choices: moderate intensity</a></h2>
		<p class="govuk-body govuk-!-margin-top-6">Building Choices helps people to develop skills for change and future-focused goals. It is a cognitive-behavioural programme, combining group and one-to-one sessions. It develops skills such as emotion management, healthy thinking, healthy relationships, sense of purpose and healthy sex. This is the moderate intensity pathway.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Any, depending on prison requirements</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">Medium in at least one of these areas:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>OGRS3 (Offender Group Reconviction Scale 3)</li>
						<li>OVP (OASys Violence Predictor)</li>
						<li>OSP-DC or OSP-IIC (OASys Sexual Reconviction Predictor &ndash; Contact or Indecent Imagery)</li>
						<li>RSR (Risk of Serious Recidivism)</li>
						<li>SARA (Spousal Assault Risk Assessment)</li>
					</ul>
					<p class="govuk-body">The person should not score high in any risk areas for the moderate intensity pathway.</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Needs criteria</dt>
				<dd class="govuk-summary-list__value">Medium need for OGRS, OVP, OSP and SNSV. At least low need for SARA. This is based on their programme needs score.</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
				<dd class="govuk-summary-list__value">Yes</dd>
		  	</div> 
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">Around 10 to 13 weeks (2 to 3 sessions a week)</dd>
		  	</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Horizon</a></h2>
		<strong class="govuk-tag govuk-tag--orange">Sexual offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Horizon is for men convicted of a sexual or sexually-motivated offence who are medium risk or above. It helps address problematic factors and how they contribute to behaviour.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">Medium, high or very high OSP (OASys Sexual Reconviction Predictor)</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
				<dd class="govuk-summary-list__value">No</dd>
		  	</div> 
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent LDC programme</dt>
				<dd class="govuk-summary-list__value">Becoming New Me Plus</dd>
		  	</div> 
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 6 months (custody); at least 12 months (community)</dd>
		  	</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Identity Matters</a></h2>
		<strong class="govuk-tag govuk-tag--purple">Gang-related offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Identity Matters (IM) is for men whose offending was motivated or enabled by their affiliation to a particular group. It aims to change the nature of their relationship to the group and helps them develop skills to resist peer influence.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list govuk-list--bullet">
						<li>Medium or high ROSH (Risk of Serious Harm)</li>
						<li>50+ OGRS (Offender Group Reconviction Scale)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
				<dd class="govuk-summary-list__value">Assessed case by case</dd>
		  	</div> 
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">Flexible delivery with up to 23 sessions plus pre-programme session and programme review. Around 25 hours (at least 3 months).</dd>
		  	</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Living as New Me</a></h2>
		<strong class="govuk-tag govuk-tag--light-blue">All offences</strong>
		<p class="govuk-body govuk-!-margin-top-6">Living as New Me (LNM) is a booster or maintenance programme for men who have completed New Me Strengths or Becoming New Me Plus and may need extra support. In a custody setting, it is for men convicted of any offence. In the community, it is for sexual offences only.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">Medium or above risk</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
				<dd class="govuk-summary-list__value">Yes</dd>
		  	</div> 
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">Rolling programme with at least 5 sessions, often more</dd>
		  	</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">New Me MOT</a></h2>
		<strong class="govuk-tag govuk-tag--light-blue">All offences</strong>
		<p class="govuk-body govuk-!-margin-top-6">New Me MOT (NMMOT) is not an Accredited Programme, but is for men who have already completed Becoming New Me Plus, Kaizen, Healthy Sex Programme, Horizon, iHorizon, New Me Strengths, the Cognitive Self-Change Programme or the Self-Change Programme. It offers support throughout a person’s sentence, set out as a series of short exercises. These are completed with support from the person's Prison Offender Manager in custody or their Probation Practitioner in the community. This gives them the chance to practise skills in different contexts, generalising and maintaining their learning from the Accredited Programme.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">All risk scores</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">Number of sessions is at the discretion of the practitioner and depends on the risk, need and responsivity profile of the individual. Has a 30-day Rehabilitation Activity Requirement (RAR) in the community.</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">New Me Strengths: general violence offence</a></h2>
		<strong class="govuk-tag govuk-tag--yellow">General violence offence</strong>
		<p class="govuk-body govuk-!-margin-top-6">New Me Strengths (NMS) is a cognitive-behavioural programme for men at medium risk of reconviction. In a custody setting, it is for men convicted of any offence. In the community, it is for sexual offences only. It helps people recognise the impact and consequences of offending and avoid activities that encourage offending behaviours.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list govuk-list--bullet">
						<li>Medium OVP (OASys Violence Predictor)</li>
						<li>50+ OGRS (Offender Group Reconviction Scale)</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">Yes</dd>
			</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 6 months</dd>
	  		</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Thinking Skills Programme</a></h2>
		<strong class="govuk-tag govuk-tag--light-blue">All offences</strong>
		<p class="govuk-body govuk-!-margin-top-6">Thinking Skills Programme (TSP) helps men and women to develop skills in pro-social problem solving, perspective taking, developing and managing relationships, and self-management. Suitable for all offences &ndash; for sexual offences, consider Horizon or Kaizen first.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody or community</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male or female</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">50+ OGRS3 (Offender Group Reconviction Scale 3) over 2 years</p>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Suitable for people with learning disabilities or challenges (LDC)</dt>
			  	<dd class="govuk-summary-list__value">No</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Equivalent non-LDC programmes</dt>
				<dd class="govuk-summary-list__value">New Me Strengths</dd>
	  		</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Time to complete</dt>
				<dd class="govuk-summary-list__value">At least 6 months</dd>
	  		</div>
		</dl>
		<nav class="govuk-pagination govuk-!-margin-top-9" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">3</a>
				</li>
			</ul>
			<div class="govuk-pagination__next">
				<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg></a>
			</div>
		</nav>
    </div>
</div>

{% endblock %}
