{% extends "layouts/main.html" %}

{% block pageTitle %}
Add additional information - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Add additional information</h1>
		<p class="govuk-body">You can provide additional information you feel will help the programme team in their assessment. This might include:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>The reason for the referral</li>
			<li>The person's motivation to complete a programme</li>
			<li>Information to support an override</li>
		</ul>
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
			  <span class="govuk-visually-hidden">Warning</span>This service will provide the relevant sections from OASys that the programme team needs to assess this referral. The programme team may also need to access the full OASys Layer 3.</strong>
		</div>
		<form action="task-list?referral-information-three=done&" method="post">
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--m" for="provide-additional-information">Additional information (optional)</label>
				<textarea class="govuk-textarea" id="provide-additional-information" name="provide-additional-information" rows="5">{{ data['provide-additional-information'] }}</textarea>
			</div>
			<div class="govuk-button-group govuk-!-margin-top-2">
				<button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="task-list?referral-information-three=done&">Return to tasklist</button>
			</div>
		</form>
    </div>
</div>
{% endblock %}
