{% extends "layouts/main.html" %}

{% block pageTitle %}
Withdrawal reason - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="withdrawal-reason" method="post">
			<h1 class="govuk-heading-l">Withdrawal reason</h1>
			<p class="govuk-body">If you withdraw the referral, it will be closed.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by You</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">Select the reason for this withdrawal</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="withdrawal-reason" name="withdrawal-reason" type="radio" value="Behavioural problems" {{ checked("withdrawal-reason", "Behavioural problems") }}>
							<label class="govuk-label govuk-radios__label" for="withdrawal-reason">Behavioural problems</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="withdrawal-reason-2" name="withdrawal-reason" type="radio" value="Motivation changed" {{ checked("withdrawal-reason", "Motivation changed") }}>
							<label class="govuk-label govuk-radios__label" for="withdrawal-reason-2">Motivation changed</label>
						</div>
					</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
