{% extends "layouts/main.html" %}

{% block pageTitle %}
Remove referral from hold - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="status-history?remove-hold-reason-url=done&" method="post">
			<h1 class="govuk-heading-l">Remove referral from hold</h1>
			<p class="govuk-body">Removing the referral from hold will move it back to in progress.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Status update</h2>
						<p class="moj-timeline__byline">by You</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--purple">On hold - Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<h2 class="govuk-heading-m">Remove hold</h2>
			<p class="govuk-body">The referral will move back to in progress. You must give a reason for removing the hold.</p>
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
				<div class="govuk-form-group">
				  	<h3 class="govuk-label-wrapper">
						<label class="govuk-label govuk-label--s" for="add-hold-reason">Add reason</label>
				  	</h3>
				  	<textarea class="govuk-textarea govuk-js-character-count" id="add-hold-reason" name="add-hold-reason" rows="5" aria-describedby="add-hold-reason-info">{{ data['add-hold-reason'] }}</textarea>
				</div>
				<div id="add-hold-reason-info" class="govuk-hint govuk-character-count__message">You have 100 characters remaining</div>
			</div>
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
				  	<span class="govuk-visually-hidden">Warning</span>This will put the referral back in progress.</strong>
			</div>
			<div class="govuk-button-group govuk-!-margin-top-6">
				<button type="submit" class="govuk-button" data-module="govuk-button">Submit</button>
				<a class="govuk-link" href="status-history">Cancel</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}
