{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
	  			<div class="moj-button-menu">
					<div class="moj-button-menu__wrapper">
						{% if data['add-hold-reason'] != "done" %}
						<a href="open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
						<a href="on-hold" class="govuk-button moj-button-menu__item govuk-button--secondary">Put on hold</a>
						<a href="withdrawal-category" class="govuk-button moj-button-menu__item govuk-button--secondary">Withdraw referral</a>
						{% elseif data['add-hold-reason'] == "done" %}
						<a href="open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
						<a href="remove-hold" class="govuk-button moj-button-menu__item govuk-button--secondary">Remove hold</a>
						<a href="withdrawal-category" class="govuk-button moj-button-menu__item govuk-button--secondary">Withdraw referral</a>
						{% elseif data['remove-hold-reason'] == "done" %}
						<a href="open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
						<a href="on-hold" class="govuk-button moj-button-menu__item govuk-button--secondary">Put on hold</a>
						<a href="withdrawal-category" class="govuk-button moj-button-menu__item govuk-button--secondary">Withdraw referral</a>
						{% endif %}
						
					</div>
	  			</div>
			</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="status-history">Status history</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Status history</h2>
		{% if data['add-withdrawal-reason'] == "done" %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--grey">Withdrawn</strong>
					{% if data['withdrawal-reason'] %}
					<p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1"><strong>Status reason:</strong> {{ data['withdrawal-reason'] }}</p>
					{% endif %}
					<p class="govuk-body govuk-!-margin-top-0"><strong>Status details:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% elseif data['add-hold-reason'] == "done" %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--purple">On hold - Referral submitted</strong>
					<p class="govuk-body govuk-!-margin-top-4"><strong>Status reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% elseif data['remove-hold-reason'] == "done" %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-30T10:11:00.000Z">30 June 2023 at 10:11am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
					<p class="govuk-body govuk-!-margin-top-4"><strong>Status reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--purple">On hold - Referral submitted</strong>
					<p class="govuk-body govuk-!-margin-top-4"><strong>Status reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% else %}
		<div class="moj-timeline"> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% endif %}
    </div>
</div>
{% endblock %}
