{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
	  			<div class="moj-button-menu">
					<div class="moj-button-menu__wrapper">
						<form action="open-referrals" method="post">
							<a href="open-referrals" class="govuk-button moj-button-menu__item">Back to referrals</a>
							{% if data['add-hold-reason'] %}
							<a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary" disabled aria-disabled="true">Remove hold</a>
							{% else %}
							<a href="on-hold" class="govuk-button moj-button-menu__item govuk-button--secondary" disabled aria-disabled="true">Put on hold</a>
							{% endif %}
							<a href="withdrawal-category" class="govuk-button moj-button-menu__item govuk-button--secondary" disabled aria-disabled="true">Withdraw referral</a>
						</form>
					</div>
	  			</div>
			</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="status-history-disabled">Status history</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Status history</h2>
		{% if data['reason-category'] %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--grey">Withdrawn</strong>
					{% if data['withdrawal-reason'] %}
					<p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1"><strong>Status reason:</strong> {{ data['withdrawal-reason'] }}</p>
					{% if data['add-withdrawal-reason'] %}
					<p class="govuk-body govuk-!-margin-top-0"><strong>Status details:</strong> {{ data['add-withdrawal-reason'] }}</p>
					{% else %}
					<p class="govuk-body govuk-!-margin-top-0"><strong>Status details:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
					{% endif %}
					{% else %}
					<p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1"><strong>Status reason:</strong> Submitted in error</p>
					<p class="govuk-body govuk-!-margin-top-0"><strong>Status details:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
					{% endif %}
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% elseif data['add-hold-reason'] %}
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Status update</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-29T16:12:00.000Z">29 June 2023 at 4:12pm</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--purple">On hold - Referral submitted</strong>
					{% if data['add-hold-reason'] %}
					<p class="govuk-body govuk-!-margin-top-4"><strong>Status details:</strong> {{ data['add-hold-reason'] }}</p>
					{% else %}
					<p class="govuk-body govuk-!-margin-top-4"><strong>Status details:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
					{% endif %}
			  	</div>
			</div> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% else %}
		<div class="moj-timeline"> 
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by You</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div> 
		</div>
		{% endif %}
    </div>
</div>
{% endblock %}
