{% extends "layouts/main.html" %}

{% block pageTitle %}
Cannot complete move to Building Choices - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}	
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="#" method="post">
			<h1 class="govuk-heading-l">Cannot complete move to Building Choices</h1>
			<p class="govuk-body">This referral cannot be moved at the moment because of an error. Try again later.</p>
			<a href="personal-details" class="govuk-button govuk-!-margin-top-4">Return to referral details</a>
		</form>
	</div>
</div>
{% endblock %}
