{% extends "layouts/main.html" %}

{% block pageTitle %}
Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-assess.html" %}
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div>  -->
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Referrals</span>
		<h1 class="govuk-heading-xl">Becoming New Me Plus (BNM+)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="filters-container">
			<h2 class="govuk-heading-m">Filters</h2>
			<div class="filter-options">
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="programme-strand">Programme strand</label>
					<select class="govuk-select" id="programme-strand" name="programme-strand">
						<option value="select" selected>Select</option>
						<option value="general-violence">General violence</option>
						<option value="intimate-partner-violence">Intimate partner violence</option>
					</select>
				</div>
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="sentence-type">Sentence type</label>
					<select class="govuk-select" id="sentence-type" name="sentence-type">
						<option value="select" selected>Select</option>
						<option value="determinate">Determinate</option>
						<option value="determinate-recall">Determinate recall</option>
						<option value="extended-determinate">Extended determinate</option>
						<option value="extended-determinate-recall">Extended determinate recall</option>
						<option value="ipp">IPP</option>
						<option value="ipp-recall">IPP recall</option>
						<option value="life">Life</option>
						<option value="life-recall">Life recall</option>
					</select>
				</div>
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="referral-status">Referral status</label>
					<select class="govuk-select" id="referral-status" name="referral-status">
						<option value="select" selected>Select</option>
						<option value="assessed-suitable">Assessed as suitable</option>
						<option value="assessment-started">Assessment started</option>
						<option value="awaiting-assessment">Awaiting assessment</option>
						<option value="on-programme">On programme</option>
						<!-- <option value="place-allocated">Place allocated</option> -->
						<option value="referral-submitted">Referral submitted</option>
						<option value="suitable-not-ready">Suitable but not ready</option>
					</select>
				</div>
				<button class="govuk-button" data-module="govuk-button" style="margin-bottom: 2px !important">Apply filters</button>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="#">Open referrals</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Closed referrals</a>
				</li>
			</ul>
		</nav>
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
			  	<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="none">Name / Prison number</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Conditional release date</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Parole eligibility date</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Tariff expiry date</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Programme strand</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Sentence type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Referral status</th>
			  	</tr>
			</thead>
			<tbody class="govuk-table__body">
			  	<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Del Hatton</a><br />D0168KE</td>
					<td class="govuk-table__cell">16 Aug 2023</td>
					<td class="govuk-table__cell">1 Dec 2025</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Extended determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Referral submitted</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Sham Booth</a><br />B6789KL</td>
					<td class="govuk-table__cell">27 Jul 2023</td>
					<td class="govuk-table__cell">1 Apr 2024</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Determinate</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Referral submitted</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Simon McGregor</a><br />N6005OK</td>
					<td class="govuk-table__cell">1 May 2023</td>
					<td class="govuk-table__cell">28 Dec 2027</td>
					<td class="govuk-table__cell">28 Jun 2027</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Extended determinate</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Awaiting assessment</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Richard Step</a><br />L2273CK</td>
					<td class="govuk-table__cell">10 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Awaiting assessment</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Matt Jones</a><br />A1034LK</td>
					<td class="govuk-table__cell">27 Jul 2023</td>
					<td class="govuk-table__cell">3 Apr 2030</td>
					<td class="govuk-table__cell">3 Apr 2027</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">IPP</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Assessment started</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Kevin Wright</a><br />Z2345LL</td>
					<td class="govuk-table__cell">28 Jun 2023</td>
					<td class="govuk-table__cell">15 May 2029</td>
					<td class="govuk-table__cell">15 May 2026</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">IPP recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Assessment started</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Adrian Poole</a><br />D0051ED</td>
					<td class="govuk-table__cell">15 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessed as suitable</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Nicholas Metcalfe</a><br />E7728KL</td>
					<td class="govuk-table__cell">14 Aug 2023</td>
					<td class="govuk-table__cell">3 Apr 2030</td>
					<td class="govuk-table__cell">3 Apr 2027</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Life</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessed as suitable</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Suhail Akhtar</a><br />K2273CD</td>
					<td class="govuk-table__cell">16 Aug 2023</td>
					<td class="govuk-table__cell">15 May 2029</td>
					<td class="govuk-table__cell">15 May 2026</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Life recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise">Suitable but not ready</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Luke Hemsworth</a><br />F3849MK</td>
					<td class="govuk-table__cell">15 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise">Suitable but not ready</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Jim McDonald</a><br />B1234LP</td>
					<td class="govuk-table__cell">29 Jun 2023</td>
					<td class="govuk-table__cell">3 Apr 2030</td>
					<td class="govuk-table__cell">3 Apr 2027</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Determinate</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise">Suitable but not ready</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Alistair McAdam</a><br />A114LKA</td>
					<td class="govuk-table__cell">1 May 2023</td>
					<td class="govuk-table__cell">15 May 2029</td>
					<td class="govuk-table__cell">15 May 2026</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">On programme</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Bob James</a><br />A9234LQ</td>
					<td class="govuk-table__cell">10 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026</td>
					<td class="govuk-table__cell">N/A</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Determinate recall</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">On programme</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Lukas Setto</a><br />L0994FD</td>
					<td class="govuk-table__cell">14 Aug 2023</td>
					<td class="govuk-table__cell">3 Apr 2030</td>
					<td class="govuk-table__cell">3 Apr 2027</td>
					<td class="govuk-table__cell">Intimate partner violence</td>
					<td class="govuk-table__cell">Life</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">On programme</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Rema Aalegra</a><br />F0394LM</td>
					<td class="govuk-table__cell">16 Aug 2023</td>
					<td class="govuk-table__cell">15 May 2029</td>
					<td class="govuk-table__cell">15 May 2026</td>
					<td class="govuk-table__cell">General violence</td>
					<td class="govuk-table__cell">Life</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">On programme</strong></td>
				</tr>
			</tbody>
		</table>
		<nav class="govuk-pagination" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">42</a>
			  	</li>
			</ul>
			<div class="govuk-pagination__next">
			  	<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					<path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg>
				</a>
			</div>
		</nav>
    </div>
</div>

{% endblock %}
