{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus</h1>
			</div>
			<form action="#" method="post">
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Update status</a>
				  	</div>
				</div>
			</form>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  	<a class="moj-sub-navigation__link" aria-current="page" href="#">Referral details</a>
			 	</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Status history</a>
				</li>
		  	</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Referral summary</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Applicant name</dt>
				<dd class="govuk-summary-list__value">Del Hatton</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme name</dt>
				<dd class="govuk-summary-list__value">Becoming New Me Plus: general violence offence</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme strand</dt>
				<dd class="govuk-summary-list__value">General violence offence</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme location</dt>
				<dd class="govuk-summary-list__value">Erlestoke (HMP)</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme team email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">interventions.erlestoke@justice.gov.uk</a></dd>
			</div>
		</dl>
		<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Date referred</dt>
			  	<dd class="govuk-summary-list__value">11 June 2023</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Referrer name</dt>
			  	<dd class="govuk-summary-list__value">Jordan Smith</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Referrer email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">jordan.smith@justice.gov.uk</a></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Referrer contact number</dt>
				<dd class="govuk-summary-list__value">01380 814250</dd>
			</div>
		</dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="#">Personal details</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="#">Programme history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="#">Offence history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="#">Sentence information</a>
		  		</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="#" aria-current="location">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-inset-text govuk-!-margin-top-0">Submitted in referral by Jordan Smith on 11 June 2023</div>


		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Reason why the referral does not match the PNI</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						{% if data['override-reason'] %}
						<p class="govuk-!-margin-bottom-2">{{ data['override-reason'] }}</p>
						{% else %}
						<p class="govuk-!-margin-bottom-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						{% endif %}
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Motivation</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Maintains innocence</dt>
						{% if data['innocence'] %}
				  		<dd class="govuk-summary-list__value">{{ data['innocence'] }}</dd>
						{% else %}
						<dd class="govuk-summary-list__value">Yes</dd>
						{% endif %}
					</div>
					<div class="govuk-summary-list__row">
				  		<dt class="govuk-summary-list__key">Motivation to participate in an Accredited Programme</dt>
				  		<dd class="govuk-summary-list__value">
							{% if data['motivation-information'] %}
							<p class="govuk-body">{{ data['motivation-information'] }}</p>
							{% else %}
							<p class="govuk-body">Although Del maintains his innocence, he is motivated to address his thinking and behaviour.</p>
							{% endif %}
						</dd>
					</div>
			  	</dl>
			</div>
		</div>
		{% if data['provide-additional-information'] == false %}
		<!-- Empty -->
		{% else %}
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Additional information</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						{% if data['provide-additional-information'] %}
						<p class="govuk-!-margin-bottom-2">{{ data['provide-additional-information'] }}</p>
						{% else %}
						<p class="govuk-!-margin-bottom-2">Del's OASys scores show that he meets the criteria for this programme as he is a high risk individual who has learning needs. He also has enough time left on his sentence to complete the programme.</p>
						{% endif %}
					</div>
				</dl>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
