{% extends "layouts/main.html" %}

{% block pageTitle %}
Find recommended programmes - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Find recommended programmes</h1>
		<p class="govuk-body">Enter a prison number to check what programmes are recommended based on the person's risks and needs.</p>
		<form action="pni" method="post">
			<div class="govuk-form-group">
				<!-- <label class="govuk-label govuk-label--m" for="person-identifier">Enter identifier</label> -->
				<div id="person-identifier-hint" class="govuk-hint">For example, a prison number is A1234AA</div>
				<input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="person-identifier" name="person-identifier" type="text" spellcheck="false" value="{{ data['person-identifier'] }}" aria-describedby="person-identifier-hint">
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
    </div>
</div>

{% endblock %}
