{% extends "layouts/main.html" %}

{% set serviceName %}
Accredited Programmes: Community 
{% endset%}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">

	<h1 class="govuk-heading-l">End to end (e2e) prototype</h2>
			
			<p class="govuk-body">The e2e prototype covers Match and Manage (also known as Assess).</p>
				
				<a href="/community/e2e/home" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
					Start
					<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
						<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
					</svg>
				</a>
			
			<h2 class="govuk-heading-m">Direct links to journeys</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/profiles/referral-details/personal-details">Change cohort or LDC status</a>
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/profiles/referral-details/status-history">Update a referral status</a>
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/profiles/referral-details/change-referral-status-scheduled-group">Update a Scheduled referral status</a>
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/profiles/referral-details/change-referral-status-awaiting-allocation-update">Update an Awaiting allocation referral status</a>
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/groups/group-details-waitlist-ur">Add to and remove from a group </a><br>Select Alex River to add to the group. After adding him, you'll go to the 'Allocated' tab and see Alex in the list. Select him again to remove from the group.
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/groups/group-list">Create a group </a><br>Use the 'Create group' button to set up a group. Once you've gone through the steps you'll land on the 'Schedule overview' page.
					</li>
				</ul>
			<p class="govuk-body">Areas outside of these user journeys are unlikely to be functional just yet.</p>

			<h2 class="govuk-heading-m">Static pages</h2>
			<p class="govuk-body">These static pages give a bit more context to some of the user journeys. Links and other interactions may not behave as expected.</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/groups/group-details-allocated">Groups: Example of an 'Allocated' view of a group with a list of people assigned</a>
					</li>
					<li>
						<a class="govuk-link govuk-link--no-visited-state" href="/community/e2e/groups/group-manage-schedule-empty">Schedule: Example of a schedule before any individual or catch-up sessions are added (so just shows the core group sessions)</a>
					</li>
				</ul>
				
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break govuk-section-break--visible">

		<h2 class="govuk-heading-l govuk-!-margin-bottom-8">Archive</h2>
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">Contents</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#find">Find</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#refer">Refer</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#assess">Assess</a>
			  	</li>
			</ul>

			<!-- FIND -->
			<div class="govuk-tabs__panel" id="find">
				<h3 class="govuk-heading-m">Find</h3>
				<p class="govuk-body">This is the end to end journey of when the Community Offender Manager (COM) finds a programme for the Person on Probation (PoP).</p>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/find/v2/ndelius" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/find/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
			</div>
			<!-- REFER -->
			<div class="govuk-tabs__panel" id="refer">
				<h3 class="govuk-heading-m">Refer</h3>
				<p class="govuk-body">This is the end to end journey of when the Community Offender Manager (COM) makes a programme referral for the Person on Probation (PoP).</p>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/refer/v2/pdu-programme-details" class="govuk-link govuk-link--no-visited-state">Make a referral</a></li>
					<li><a href="community/refer/v2/open-referrals" class="govuk-link govuk-link--no-visited-state">Case list view</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1">
							<li><a href="community/refer/v2/features/incomplete-referrals/open-referrals" class="govuk-link govuk-link--no-visited-state">Incomplete referrals</a></li>
							<li><a href="community/refer/v2/no-availability" class="govuk-link govuk-link--no-visited-state">PoP's availability unknown (single page)</a></li>
							<li><a href="community/refer/v2/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/refer/v2/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/refer/v1/pdu-programme-details" class="govuk-link govuk-link--no-visited-state">Make a referral</a></li>
					<li><a href="community/refer/v1/open-referrals" class="govuk-link govuk-link--no-visited-state">Case list view</a></li>
				</ul>
			</div>

			<!-- ASSESS -->
			<div class="govuk-tabs__panel" id="assess">
				
				<h3 class="govuk-heading-m">Pre-July 2025</h3>
				<p class="govuk-body">The archive includes prototypes that preceed the end to end version.</p>
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Create a group</h4>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/groups/assess/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>

				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Allocate a person to a group</h4>
				<ul class="govuk-list">
					<li>Version 2</li>
					<li>
						<a href="community/groups/assess/v2/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
							<!---<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
							<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
								<li><a href="community/groups/assess/v1/no-cohort/allocate-bc-group-1-go" class="govuk-link govuk-link--no-visited-state">Allocate people to Building Choices group 1 - No cohort</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-groups" class="govuk-link govuk-link--no-visited-state">Empty state: List of groups (single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-bc-group-1" class="govuk-link govuk-link--no-visited-state">Empty state: List of members (single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-non-associations" class="govuk-link govuk-link--no-visited-state">Empty state: No non-associations ('Adrian Poole' single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-availability" class="govuk-link govuk-link--no-visited-state">Empty state: No availability ('Adrian Poole' single page example)</a></li>
							</ul> -->
						</a>
					</li>
				</ul>

				<ul class="govuk-list">
					<li>Archive - Version 1</li>
					<li>
						<a href="community/groups/assess/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
							<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Archive - Features:</span></h4>
							<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
								<li><a href="community/groups/assess/v1/no-cohort/allocate-bc-group-1-go" class="govuk-link govuk-link--no-visited-state">Allocate people to Building Choices group 1 - No cohort</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-groups" class="govuk-link govuk-link--no-visited-state">Empty state: List of groups (single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-bc-group-1" class="govuk-link govuk-link--no-visited-state">Empty state: List of members (single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-non-associations" class="govuk-link govuk-link--no-visited-state">Empty state: No non-associations ('Adrian Poole' single page example)</a></li>
								<li><a href="community/groups/assess/v1/empty-states/no-availability" class="govuk-link govuk-link--no-visited-state">Empty state: No availability ('Adrian Poole' single page example)</a></li>
							</ul> 
						</a>
					</li>
				</ul>

				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 3</li>
					<li><a href="community/assess/v3/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
							<li><a href="community/assess/v3/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/assess/v3/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
							<li><a href="community/assess/v3/features/location/on-programme/open-referrals" class="govuk-link govuk-link--no-visited-state">Location - On programme</a></li>
						</ul> 
						<!-- <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Design concepts:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
							<li><a href="community/assess/v3/design-concepts/location/a/location" class="govuk-link govuk-link--no-visited-state">Location - Version A</a></li>
							<li><a href="community/assess/v3/design-concepts/location/b/location" class="govuk-link govuk-link--no-visited-state">Location - Version B</a></li>
							<li><a href="community/assess/v3/design-concepts/location/c/location" class="govuk-link govuk-link--no-visited-state">Location - Version C</a></li>
						</ul> -->
					</li>
				</ul>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/assess/v2/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
							<li><a href="community/assess/v2/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/assess/v2/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
							<li><a href="community/assess/v2/features/empty-states/availability" class="govuk-link govuk-link--no-visited-state">Empty states: PoP's availability (single page example)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/assess/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
			</div>
		</div>
  	</div>
</div>
{% endblock %}
