{% extends "layouts/main.html" %}

{% set serviceName %}
Accredited Programmes: Community <!-- Empty -->
{% endset%}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{ serviceName }}</h1>
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">Contents</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#find">Find</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#refer">Refer</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#assess">Assess</a>
			  	</li>
			</ul>

			<!-- FIND -->
			<div class="govuk-tabs__panel" id="find">
				<h3 class="govuk-heading-m">Find</h3>
				<p class="govuk-body">This is the end to end journey of when the Community Offender Manager (COM) finds a programme for the Person on Probation (PoP).</p>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/find/v2/ndelius" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/find/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
			</div>
			<!-- REFER -->
			<div class="govuk-tabs__panel" id="refer">
				<h3 class="govuk-heading-m">Refer</h3>
				<p class="govuk-body">This is the end to end journey of when the Community Offender Manager (COM) makes a programme referral for the Person on Probation (PoP).</p>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/refer/v2/pdu-programme-details" class="govuk-link govuk-link--no-visited-state">Make a referral</a></li>
					<li><a href="community/refer/v2/open-referrals" class="govuk-link govuk-link--no-visited-state">Case list view</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1">
							<li><a href="community/refer/v2/features/incomplete-referrals/open-referrals" class="govuk-link govuk-link--no-visited-state">Incomplete referrals</a></li>
							<li><a href="community/refer/v2/no-availability" class="govuk-link govuk-link--no-visited-state">PoP's availability unknown (single page)</a></li>
							<li><a href="community/refer/v2/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/refer/v2/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/refer/v1/pdu-programme-details" class="govuk-link govuk-link--no-visited-state">Make a referral</a></li>
					<li><a href="community/refer/v1/open-referrals" class="govuk-link govuk-link--no-visited-state">Case list view</a></li>
				</ul>
			</div>

			<!-- ASSESS -->
			<div class="govuk-tabs__panel" id="assess">
				<h3 class="govuk-heading-m">Assess</h3>
				<p class="govuk-body">This is the end to end journey of when a member of the Programme Team (PT) views and assesses the programme referral made by the Community Offender Manager (COM).</p>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Group allocation</h4>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li>
						<a href="community/group-allocation/assess/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype
							<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
							<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
								<li><a href="community/group-allocation/assess/v1/no-cohort/allocate-bc-group-1-go" class="govuk-link govuk-link--no-visited-state">Allocate people to Building Choices group 1 - No cohort</a></li>
								<li><a href="community/group-allocation/assess/v1/no-groups" class="govuk-link govuk-link--no-visited-state">Empty state: List of groups (single page example)</a></li>
								<li><a href="community/group-allocation/assess/v1/no-bc-group-1" class="govuk-link govuk-link--no-visited-state">Empty state: List of members (single page example)</a></li>
							</ul> 
						</a>
					</li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break govuk-section-break--visible" />
				<h4 class="govuk-heading-s govuk-!-margin-bottom-2">End to end journey</h4>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 3</li>
					<li><a href="community/assess/v3/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
							<li><a href="community/assess/v3/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/assess/v3/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
							<li><a href="community/assess/v3/features/location/on-programme/open-referrals" class="govuk-link govuk-link--no-visited-state">Location - On programme</a></li>
						</ul> 
					</li>
				</ul>
				<ul class="govuk-list govuk-!-margin-bottom-8">
					<li>Version 2</li>
					<li><a href="community/assess/v2/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a>
						<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-font-weight-regular"><span class="grey">Features:</span></h4>
						<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-0">
							<li><a href="community/assess/v2/features/sentence-information/licence" class="govuk-link govuk-link--no-visited-state">Sentence information: Licence only (single page example)</a></li>
							<li><a href="community/assess/v2/features/sentence-information/not-custody" class="govuk-link govuk-link--no-visited-state">Sentence information: Not from custody (single page example)</a></li>
							<li><a href="community/assess/v2/features/empty-states/availability" class="govuk-link govuk-link--no-visited-state">Empty states: PoP's availability (single page example)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="govuk-list">
					<li>Version 1</li>
					<li><a href="community/assess/v1/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state">View prototype</a></li>
				</ul>
			</div>
		</div>
  	</div>
</div>
{% endblock %}
