{% extends "layouts/main.html" %}

{% block pageTitle %}
Which session are you scheduling? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-no-primary-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Schedule a Getting started session</span>

		<form action="add-session-type-post" method="post">
		<div class="govuk-form-group">
		
		<!-- TO DO: Find a way to save the name data and pass through to caption on other pages-->
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "add-session-choose-type",
			fieldset: {
				legend: {
				text: "Which session are you scheduling?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
				}
			},
			items: [
				{
				value: "getting-started-1",
				text: "Getting started 1 catch-up"
				},
				{
				value: "getting-started-2",
				text: "Getting started 2 catch-up"
				},
				{
				value: "getting-started-121",
				text: "Getting started one-to-one"
				},
				{
				value: "getting-started-121-catch-up",
				text: "Getting started one-to-one catch-up"
				}
			]
		}) }}

		<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
		</div>
		</div>
		</form>
	</div>
</div>

{% endblock %}

