{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">BCCDD1</span>

		<form action="add-to-group-post" method="post">
			<div class="govuk-form-group">
		
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
		name: "add-to-group",
		fieldset: {
			legend: {
			text: "Add Alex River to this group?",
			isPageHeading: true,
			classes: "govuk-fieldset__legend--l"
			}
		},
		hint: {
			text: "Once you add someone to a group, their referral status will change to Scheduled in the case list and in NDelius."
		},
		items: [
			{
			value: "yes",
			text: "Yes"
			},
			{
			value: "no",
			text: "No"
			}
		]
		}) }}

		<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			<a class="govuk-link" href="group-details-waitlist">Cancel</a>
		</div>
		</div>
	</form>

	</div>
</div>

{% endblock %}

