{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the group cohort - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-no-primary-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Record attendance and progress</span>
		<h2 class="govuk-heading-l">Record attendance for Getting Started 1</h2>
		<form action="attendance-group-mark-post" method="post">
			<div class="govuk-form-group">
		
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "booth-sham",
			value: data['booth-sham'],
			fieldset: {
				legend: {
				text: "Booth, Sham",
				classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
				value: "yes",
				text: "Attended"
				},
				{
				value: "no",
				text: "Did not attend"
				}
			]
		}) }}

		{{ govukRadios({
			name: "poole-adrian",
			value: data['poole-adrian'],
			fieldset: {
				legend: {
				text: "Poole, Adrian",
				classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
				value: "yes",
				text: "Attended"
				},
				{
				value: "no",
				text: "Did not attend"
				}
			]
		}) }}

		{{ govukRadios({
			name: "river-alex",
			value: data['river-alex'],
			fieldset: {
				legend: {
				text: "River, Alex",
				classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
				value: "yes",
				text: "Attended"
				},
				{
				value: "no",
				text: "Did not attend"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Submit</button>
			</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

