{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the group cohort - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-no-primary-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Record attendance and progress</span>
		<form action="attendance-individual-post" method="post">
			<div class="govuk-form-group">
		
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "river-alex",
			value: data['river-alex'],
			fieldset: {
				legend: {
				text: "Did Alex River attend Getting Started 1?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
				}
			},
			items: [
				{
				value: "yes",
				text: "Yes - attended"
				},
				{
				value: "no",
				text: "No - did not attend"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Submit</button>
			</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

