{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the gender of the group - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Create group BCCDD1</span>
		
		<!-- TO DO: Find a way to save the name data and pass through to caption on other pages-->
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "create-group-gender",
			fieldset: {
				legend: {
				text: "Select the gender of the group",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--xl"
				}
			},
			items: [
				{
				value: "male",
				text: "Male"
				},
				{
				value: "female",
				text: "Female"
				},
				{
				value: "mixed",
				text: "Mixed"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<a href="create-group-pdu" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
				Continue
			</a>
			<!--<a class="govuk-link" href="group-details-waitlist">Cancel</a>-->
		</div>
	</div>
</div>

{% endblock %}

