{% extends "layouts/main.html" %}

{% block pageTitle %}
Create a group code - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Create a group</span>
		<form action="create-group-start-date" method="post">
			<div class="govuk-form-group">
		
		{% from "govuk/components/input/macro.njk" import govukInput %}

		{{ govukInput({
			label: {
				text: "Create a group code",
				classes: "govuk-label--l",
				isPageHeading: true
			},
			hint: {
				text: "For example, BCCDD1. This will be used to identify your group."
			},
			classes: "govuk-input--width-20",
			id: "group-code",
			name: "group-code"
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

