{% extends "layouts/main.html" %}

{% block pageTitle %}
Where does the group take place? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Create group {{data['group-code'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-l">Where does the group take place?</h1>
		
		<form action="create-group-facilitators" method="post">
		<div class="govuk-form-group">
		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

		{{ govukSummaryList({
		rows: [
			{
			key: {
				text: "PDU"
			},
			value: {
				text: "County Durham and Darlington"
			},
			actions: {
				items: [
				{
					href: "create-group-pdu",
					text: "Change",
					visuallyHiddenText: "PDU"
				}
				]
			}
			}
		]
		}) }}	

		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "create-group-location",
			fieldset: {
				legend: {
				text: "Select the delivery location",
				isPageHeading: false,
				classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
				value: "County Durham: Darlington Probation Office",
				text: "County Durham: Darlington Probation Office"
				},
				{
				value: "County Durham: Durham City Probation Office",
				text: "County Durham: Durham City Probation Office"
				},
				{
				value: "County Durham: Newton Aycliffe Probation Office",
				text: "County Durham: Newton Aycliffe Probation Office"
				},
				{
				value: "County Durham: Peterlee Probation Office",
				text: "County Durham: Peterlee Probation Office"
				},
				{
				value: "Darlington: 11 Woodland Road",
				text: "Darlington: 11 Woodland Road"
				},
				{
				value: "Durham: Wear House",
				text: "Durham: Wear House"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}

