{% extends "layouts/main.html" %}

{% block pageTitle %}
Review your group details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Create group {{data['group-code'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-l">Review your group details</h1>

		<p class="govuk-body govuk-!-margin-bottom-6">This information will be used to create a draft group and schedule. You can edit the details later.</p>
		
	<form action="group-schedule-overview-post" method="post">
		<div class="govuk-form-group">

		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

		{{ govukSummaryList({
		rows: [
			{
			key: {
				text: "Group code"
			},
			value: {
				text: data['group-code'] | default('BCNE2026-0409')
			},
			actions: {
				items: [
				{
					href: "create-group-code",
					text: "Change",
					visuallyHiddenText: "group code"
				}
				]
			}
			},
			{
			key: {
				text: "Start date"
			},
			value: {
				text: "23 April 2026"
			},
			actions: {
				items: [
				{
					href: "create-group-start-date",
					text: "Change",
					visuallyHiddenText: "start date"
				}
				]
			}
			},
			{
			key: {
				text: "Days and times"
			},
			value: {
        		html: '<p class="govuk-body">Mondays 9:30am to midday</p><p class="govuk-body">Thursdays 11am to 1:30pm</p>'
      		},
			actions: {
				items: [
				{
					href: "create-group-start-days-times",
					text: "Change",
					visuallyHiddenText: "group days and times"
				}
				]
			}
			},
			{
			key: {
				text: "Cohort"
			},
			value: {
				text: data['create-group-cohort'] | default('General offence')
			},
			actions: {
				items: [
				{
					href: "create-group-cohort",
					text: "Change",
					visuallyHiddenText: "cohort"
				}
				]
			}
			},
			{
			key: {
				text: "Gender"
			},
			value: {
				text: data['create-group-gender'] | default('Male')
			},
			actions: {
				items: [
				{
					href: "create-group-gender",
					text: "Change",
					visuallyHiddenText: "gender"
				}
				]
			}
			},
			{
			key: {
				text: "PDU"
			},
			value: {
				text: "County Durham and Darlington"
			},
			actions: {
				items: [
				{
					href: "create-group-pdu",
					text: "Change",
					visuallyHiddenText: "PDU"
				}
				]
			}
			},
			{
			key: {
				text: "Delivery location"
			},
			value: {
				text: data['create-group-location'] | default('Darlington: 11 Woodland Road')
			},
			actions: {
				items: [
				{
					href: "create-group-location",
					text: "Change",
					visuallyHiddenText: "delivery location"
				}
				]
			}
			},
			{
			key: {
				text: "Treatment Manager"
			},
			value: {
				text: "Chloe Pascal"
			},
			actions: {
				items: [
				{
					href: "create-group-facilitators",
					text: "Change",
					visuallyHiddenText: "Treatment Manager"
				}
				]
			}
			},
			{
			key: {
				text: "Facilitators"
			},
			value: {
        		html: '<p class="govuk-body">Harpreet Singh</p><p class="govuk-body">Tom Bassett</p>'
      		},
			actions: {
				items: [
				{
					href: "create-group-facilitators",
					text: "Change",
					visuallyHiddenText: "Facilitators"
				}
				]
			}
			},
			{
			key: {
				text: "Cover facilitators"
			},
			value: {
				text: "Tom Saunders"
			},
			actions: {
				items: [
				{
					href: "create-group-facilitators",
					text: "Change",
					visuallyHiddenText: "Facilitators"
				}
				]
			}
			}		
		]
		}) }}	


			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Create this group</button>
			<!--<a class="govuk-link" href="group-details-waitlist">Cancel</a>-->
		</div>
		</div>
	</form>
	</div>
</div>

{% endblock %}

