{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../home" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Create a group</span>
		
		<!-- TO DO: Find a way to save the name data and pass through to caption on other pages-->
		{% from "govuk/components/input/macro.njk" import govukInput %}

		{{ govukInput({
			label: {
				text: "Add a group code",
				classes: "govuk-label--xl",
				isPageHeading: true
			},
			hint: {
				text: "This will be used to identify the group so this needs to be unique."
			},
			classes: "govuk-input--width-20",
			id: "group-code",
			name: "group-code"
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<a href="create-group-start-date" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
				Continue
			</a>
			<!--<a class="govuk-link" href="group-details-waitlist">Cancel</a>-->
		</div>
	</div>
</div>

{% endblock %}

