{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you sure you want to delete this session? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-no-primary-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Delete Alex River: Getting started one-to-one</span>
		<form action="delete-session-post" method="post">
			<div class="govuk-form-group">
		
		<!-- TO DO: Find a way to save the name data and pass through to caption on other pages-->
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "delete-session",
			fieldset: {
				legend: {
				text: "Are you sure you want to delete this session?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
				}
			},
			hint: {
				text: "Any attendance record and session notes will also be deleted."
			},
			items: [
				{
				value: "yes",
				text: "Yes, delete session"
				},
				{
				value: "no",
				text: "No, return to session details"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

