{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the gender of the group - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-no-primary-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Edit group {{data['groupCode'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-l">Rescheduling sessions</h1>
		
		{{ govukSummaryList({
			rows: [
				{
				key: {
					text: "Previous start date"
				},
				value: {
					text: "Thursday 23 April 2026"
				}
				},
				{
				key: {
					text: "New start date"
				},
				value: {
					text: "Monday 25 May 2026"
				}
				}
			]
			}) }}
		
		<form action="group-details-overview-ur" method="post">
			<div class="govuk-form-group">

		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
			name: "edit-group-reschedule",
			fieldset: {
				legend: {
				text: "Automatically reschedule other sessions?",
				isPageHeading: false,
				classes: "govuk-fieldset__legend--m"
				}
			},
			hint: {
				html: '<p class="govuk-hint">You are updating the group overview details. The service can automatically move all scheduled group sessions to reflect the changes you have made.</p>
				<p class="govuk-hint">Any scheduled one-to-one sessions will not be moved.</p>'
			},
			items: [
				{
				value: "yes",
				text: "Yes, automatically update group sessions to reflect these changes"
				},
				{
				value: "no",
				text: "No, I will manually move sessions"
				}
			]
		}) }}

			<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Submit</button>
			</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

