{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-full">
		<div class="moj-page-header-actions clear">
			<div class="moj-page-header-actions__title">
				<span class="govuk-caption-xl">Building Choices: moderate intensity</span>
				<h1 class="govuk-heading-xl">Groups</h1>
			</div>
			<div class="moj-page-header-actions__actions">
				<div class="moj-button-group moj-button-group--inline">
					<a href="create-group-intro" class="govuk-button">Create group</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<div class="moj-filter">
			<div class="moj-filter__header">
				<div class="moj-filter__header-title">
					<h2 class="govuk-heading-m govuk-!-padding-top-0">Filters</h2>
				</div>
			</div>
		</div>
		<div class="moj-filter__content">
			<div class="moj-filter__options">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="search-name-crn">Group code</label>
					<input class="govuk-input" id="search-name-crn" name="search-name-crn" type="text">
				</div>				
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="pdu">PDU</label>
					<select class="govuk-select" id="pdu" name="pdu" style="width: 100%">
						<option value="select" selected>Select PDU</option>
						<option value="pdu-1">County Durham and Darlington</option>
						<option value="pdu-2">Gateshead and South Tyneside</option>
						<option value="pdu-3">Newcastle Upon Tyne</option>
						<option value="pdu-2">North Tyneside and Northumberland</option>
						<option value="pdu-2">Redcar, Cleveland and Middlesbrough</option>
						<option value="pdu-2">Stockton and Hartlepool</option>
						<option value="pdu-2">Sunderland</option>
					</select>
				</div>
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							<h1 class="govuk-fieldset__heading">Reporting team</h1>
						</legend>
						<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-1" name="reporting-team"
									type="checkbox" value="darlington-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-1">Darlington 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-2" name="reporting-team"
									type="checkbox" value="darlington-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-2">Darlington 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-4" name="reporting-team"
									type="checkbox" value="north-durham-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-4">North Durham 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-5" name="reporting-team"
									type="checkbox" value="north-durham-3">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-5">North Durham 3</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-6" name="reporting-team"
									type="checkbox" value="peterlee-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-6">Peterlee 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-7" name="reporting-team"
									type="checkbox" value="peterlee-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-7">Peterlee 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-8" name="reporting-team"
									type="checkbox" value="south-durham-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-8">South Durham 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-9" name="reporting-team"
									type="checkbox" value="south-durham-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-9">South Durham 2</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="cohort">Cohort</label>
					<select class="govuk-select" id="cohort" name="cohort" style="width: 100%">
						<option value="select" selected>Select cohort</option>
						<option value="general-offence">General offence</option>
						<option value="general-offence">General offence LDC</option>
						<option value="sexual-offence">Sexual offence</option>
						<option value="sexual-offence">Sexual offence LDC</option>
					</select>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="cohort">Sex</label>
					<select class="govuk-select" id="cohort" name="cohort" style="width: 100%">
						<option value="select" selected>Select sex</option>
						<option value="general-offence">Male</option>
						<option value="general-offence">Female</option>
						<option value="sexual-offence">Mixed</option>
					</select>
				</div>
				<div class="govuk-button-group govuk-!-margin-right-3">
					<button type="submit" class="govuk-button" data-module="govuk-button">Apply filters</button>
					<a class="govuk-link govuk-link--no-visited-state" href="#">Clear filters</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="govuk-grid-column-three-quarters">
		<nav class="moj-sub-navigation govuk-!-margin-bottom-4" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="group-list">Not started and in progress (50)</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="group-list-in-progress">Completed (3)</a>
				</li>
			</ul>
		</nav>
		<p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-bottom-3">Showing <strong>1</strong> to <strong>3</strong> of <strong>3</strong> results</p>

	<table class="govuk-table" data-module="moj-sortable-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Group code</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Start date</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">PDU</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Delivery location</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Cohort</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Sex</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Allocated</th>
			</tr>
		</thead>
		<tbody>
		
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state"><strong>BCNE2025-0803</strong></a></td>
			<td class="govuk-table__cell">Monday 18 Aug 2025</td>
			<td class="govuk-table__cell">Gateshead and South Tyneside</td>
			<td class="govuk-table__cell">Gateshead: Swan House</td>
			<td class="govuk-table__cell">General offence 
				<span class="moj-badge moj-badge--bright-purple">LDC</span></td>
			<td class="govuk-table__cell">Male</td>
			<td class="govuk-table__cell">10 of 10</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state"><strong>BCNE2025-0702</strong></a></td>
			<td class="govuk-table__cell">Tuesday 8 July 2025</td>
			<td class="govuk-table__cell">County Durham and Darlington</td>
			<td class="govuk-table__cell">County Durham: Darlington Probation Office</td>
			<td class="govuk-table__cell">General offence 
				<!--<span class="moj-badge moj-badge--bright-purple">LDC</span></td>-->
			<td class="govuk-table__cell">Male</td>
			<td class="govuk-table__cell">9 of 10</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state"><strong>BCNE2025-0501</strong></a></td>
			<td class="govuk-table__cell">Monday 12 May 2025</td>
			<td class="govuk-table__cell">Redcar, Cleveland and Middlesbrough</td>
			<td class="govuk-table__cell">Tees Valley: Middlesbrough Probation Office</td>
			<td class="govuk-table__cell">Sexual offence 
				<!--<span class="moj-badge moj-badge--bright-purple">LDC</span></td>-->
			<td class="govuk-table__cell">Male</td>
			<td class="govuk-table__cell">10 of 10</td>
		</tr>

		</tbody>
	</table>

	<nav class="govuk-pagination" role="navigation" aria-label="results">
		<ul class="govuk-pagination__list">
			<li class="govuk-pagination__item govuk-pagination__item--current">
				<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			</li>
		</ul>
	</nav>
		
    </div>
	</div>
</div>
{% endblock %}
