{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

	{{ mojPrimaryNavigation({
		label: "Primary navigation",
		items: [
			{
			text: "Home",
			href: "../home"
			},
			{
			text: "Case list",
			href: "../referrals/open-referrals"
			},
			{
			text: "Groups",
			href: "group-list",
			active: true
			}
		]
	}) }}

{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">

	{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

		{{ govukBreadcrumbs({
		items: [
			{
			text: "Groups",
			href: "group-list"
			},
			{
			text: data['groupCode'] | default('BCNE2026-0409'),
			href: "group-details-overview-ur"
			}
		]
		}) }}

</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-full">
		<div class="moj-page-header-actions clear">
			<div class="moj-page-header-actions__title">
				<!--<span class="govuk-caption-xl">North East</span>-->
				<h1 class="govuk-heading-xl">{{data['groupCode'] | default('BCNE2026-0409')}}</h1>
			</div>
			<!--<div class="moj-page-header-actions__actions">
				<div class="moj-button-group moj-button-group--inline govuk-!-margin-top-6">
					<a href="group-list" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to group list</a>
				</div>
			</div>
		-->
		</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="group-details-overview-ur">Group overview</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="group-details-allocated-ur">Allocations</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="group-schedule-overview">Schedule overview</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="govuk-grid-column-two-thirds">

		{% if showBanner %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: Group created successfully" data-module="moj-alert" data-dismissible="true">
			<div>
			  	<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
					<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			  	</svg>
			</div>
				<div class="moj-alert__content">Group BCNE2026-0409 has been created.</div>
			<div class="moj-alert__action">
			  <button class="moj-alert__dismiss" hidden>Dismiss</button>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="govuk-grid-column-full">

		<h2 class="govuk-heading-l govuk-!-margin-top-4">Schedule overview</h2>
		
		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

			{{ govukSummaryList({
			classes: "govuk-summary-list--no-border",
			rows: [
				{
				key: {
					text: "Pre-group one-to-ones start date"
				},
				value: {
					text: "Thursday 23 April 2026"
				}
				},
				{
				key: {
					text: "Getting started module start date"
				},
				value: {
					text: "Thursday 14 May 2026"
				}
				},
				{
				key: {
					text: "End date"
				},
				value: {
					text: "Thursday 24 September 2026"
				}
				}
			]
			}) }}

		<a href="group-manage-schedule" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
			Manage schedule details
		</a>
	</div>


</div>

<table class="govuk-table" data-module="moj-sortable-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header" aria-sort="none">Session</th>
			<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
			<th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
			<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
		</tr>
	</thead>
	
	<tbody>
		{% for session in data['sessions'] %}

		<tr class="govuk-table__row">
			<td class="govuk-table__cell">{{session.sessionName}}</td>
			<td class="govuk-table__cell">{{session.sessionType}}</td>
			<td class="govuk-table__cell">{{session.date}}</td>
			<td class="govuk-table__cell">{{session.time}}</td>
		</tr>

		{% endfor %}

	</tbody>
</table>



{% endblock %}
