{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% include "/includes/community/e2e/header-group-sub-nav-sessions.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-xl">{{data['groupCode'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-xl">Sessions and attendance</h1>
	</div>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Pre-group one-to-ones
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">	
		<p class="govuk-body"><strong>Pre-group one-to-ones:</strong> Thursday 23 April to Monday 11 May 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a pre-group session
		</a>
    </div>
  </div>

<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Getting started
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">	
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="none">Session name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date of session</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Attendees</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Facilitators</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="session-details-group" class="govuk-link govuk-link--no-visited-state">Getting started 1: Introduction to Building Choices</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 14 May 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Getting started 2: Understanding myself</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 18 May 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
			</tbody>
		</table>
		<p class="govuk-body"><strong>Getting started one-to-ones:</strong> Thursday 21 May 2026</p>
		<a href="add-session-type" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a Getting started session
		</a>
		</div>
    </div>

	<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Managing myself
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Session name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date of session</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Attendees</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Facilitators</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 1: Understanding my feelings</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 28 May 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 2: Helpful and unhelpful feelings</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 1 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 3: Managing my feelings, part 1</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 4 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 4: Managing my feelings, part 2</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 8 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 5: Understanding my thinking</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 11 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing myself 6: Developing my flexible thinking</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 15 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
			</tbody>
		</table>
		<p class="govuk-body"><strong>Managing myself one-to-ones:</strong> Thursday 18 June 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a Managing myself session
		</a>
	</div>
	</div>

	<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Managing life’s problems
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Session name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date of session</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Attendees</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Facilitators</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing life’s problems 1: Understanding problems</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 22 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing life’s problems 2: Exploring life’s problems</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 25 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing life’s problems 3: Planning to manage life’s problems</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 29 June 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing life’s problems 4: Putting it into action</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 2 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
			</tbody>
		</table>
		<p class="govuk-body"><strong>Managing life’s problems one-to-ones:</strong> Monday 6 July 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a Managing life’s problems session
		</a>		
	</div>
	</div>

	<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Managing people around me
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Session name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date of session</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Attendees</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Facilitators</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 1: Understanding the people and influences around me</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 9 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 2: My role in relationships</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 13 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 3: Relationship skills, part 1</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 16 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 4: Relationship skills, part 2</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 20 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 5: Practicing our relationship skills</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 23 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Managing people around me 6: Module skills practice</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 27 July 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
			</tbody>
		</table>
		<p class="govuk-body"><strong>Managing people around me one-to-ones:</strong> Thursday 30 July 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a Managing life’s problems session
		</a>
	</div>
	</div>

	<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Bringing it all together
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Session name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Session type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date of session</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Attendees</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Facilitators</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Bringing it all together 1: Future me plan</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 3 August 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Bringing it all together 2: Future me practice</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Thursday 6 August 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href=" " class="govuk-link govuk-link--no-visited-state">Bringing it all together 3: Programme completion</a></td>
					<td class="govuk-table__cell">Group</td>
					<td class="govuk-table__cell">Monday 10 August 2026</td>
					<td class="govuk-table__cell">11am to 1:30pm</td>
					<td class="govuk-table__cell">See session details</td>
					<td class="govuk-table__cell">Harpreet Singh<br>Tom Bassett</td>
				</tr>
			</tbody>
		</table>
		<p class="govuk-body"><strong>Bringing it all together one-to-ones:</strong> Thursday 13 August 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a Bringing it all together session
		</a>
	</div>
	</div>

	<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Post-programme reviews
        </span>
      </h2>
    </div>
    <!-- Stuff inside the accordion -->
	<div id="accordion-default-content-1" class="govuk-accordion__section-content">
		<p class="govuk-body"><strong>Post-programme reviews complete by:</strong> Monday 3 September 2026</p>
		<a href=" " role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Schedule a post-programme review
		</a>
	</div>
	</div>
</div>

{% endblock %}
