{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% include "/includes/community/e2e/header-group-sub-nav-schedule.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-xl">{{data['groupCode'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-xl">Schedule</h1>
	</div>
</div>

<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-two-thirds">

		{% if showBanner %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: Group created successfully" data-module="moj-alert" data-dismissible="true">
			<div>
			  	<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
					<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			  	</svg>
			</div>
				<div class="moj-alert__content">Group BCNE2026-0409 has been created.</div>
			<div class="moj-alert__action">
			  <button class="moj-alert__dismiss" hidden>Dismiss</button>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="govuk-grid-column-full">
		
		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

			{{ govukSummaryList({
			classes: "govuk-summary-list--no-border",
			rows: [
				{
				key: {
					text: "Pre-group one-to-ones start date"
				},
				value: {
					text: "Thursday 23 April 2026"
				}
				},
				{
				key: {
					text: "Getting started module start date"
				},
				value: {
					text: "Thursday 14 May 2026"
				}
				},
				{
				key: {
					text: "End date"
				},
				value: {
					text: "Thursday 24 September 2026"
				}
				}
			]
			}) }}
		
			<h2 class="govuk-heading-m">Schedule overview</h2>
	
		</div>
</div>

<table class="govuk-table" data-module="moj-sortable-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Session</th>
			<th scope="col" class="govuk-table__header">Session type</th>
			<th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
			<th scope="col" class="govuk-table__header">Time</th>
		</tr>
	</thead>
	
	<tbody>
		{% for session in data['sessions'] %}

		<tr class="govuk-table__row">
			<td class="govuk-table__cell">{{session.sessionName}}</td>
			<td class="govuk-table__cell">{{session.sessionType}}</td>
			<td class="govuk-table__cell">{{session.date}}</td>
			<td class="govuk-table__cell">{{session.time}}</td>
		</tr>

		{% endfor %}

	</tbody>
</table>



{% endblock %}
