{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

	{{ mojPrimaryNavigation({
		label: "Primary navigation",
		items: [
			{
			text: "Home",
			href: "../home"
			},
			{
			text: "Case list",
			href: "../referrals/open-referrals"
			},
			{
			text: "Groups",
			href: "group-list",
			active: true
			}
		]
	}) }}

{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">

	{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

		{{ govukBreadcrumbs({
		items: [
			{
			text: "Groups",
			href: "group-list"
			},
			{
			text: "BCCDD1",
			href: "group-details-overview-ur"
			},
			{
			text: "Schedule overview",
			href: "group-schedule-overview"
			},
			{
			text: "Manage schedule",
			href: "group-manage-schedule"
			}
		]
		}) }}

</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">{{data['groupCode'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-l">Getting started 1: Introduction to Building Choices</h1>

		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

		{{ govukSummaryList({
		rows: [
			{
			key: {
				text: "Session type"
			},
			value: {
				text: "Group"
			}
			},
			{
			key: {
				text: "Date"
			},
			value: {
        		text: "Thursday 14 May 2026"
      		},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "date"
				}
				]
			}
			},
			{
			key: {
				text: "Time"
			},
			value: {
				text: "11am to 1:30pm (2.5 hours)"
			},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "time"
				}
				]
			}
			},
			{
			key: {
				text: "Attendees"
			},
			value: {
        		html: '<p class="govuk-body">Booth, Sham</p>
						<p class="govuk-body">Charles, Eric</p>
						<p class="govuk-body">Dillion, Ben</p>
						<p class="govuk-body">Fredric, Roman</p>
						<p class="govuk-body">Hussain, Ali</p>
						<p class="govuk-body">Jones, Jack</p>
						<p class="govuk-body">Martinez, Gabriel</p>
						<p class="govuk-body">Poole, Adrian</p>
						<p class="govuk-body">River, Alex</p>'
      		}
			},
		{
			key: {
				text: "Facilitators"
			},
			value: {
        		html: '<p class="govuk-body">Harpreet Singh</p><p class="govuk-body">Tom Bassett</p>'
      		},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "facilitators"
				}
				]
			}
			}
		]
		}) }}	

<hr class="govuk-section-break govuk-section-break--l">

<h2 class="govuk-heading-m">Attendance and session notes</h2>

	{% if showBannerMulti %}
	<div role="region" class="moj-alert moj-alert--success" aria-label="success: Attendance recorded" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
				<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">Attendance recorded for Sham Booth, Adrian Poole and Alex River.</div>
		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
	</div>
	{% endif %}

	{% if showBannerSingle %}
	<div role="region" class="moj-alert moj-alert--success" aria-label="success: Attendance recorded" data-module="moj-alert" data-dismissible="true">
		<div>
			<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
				<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			</svg>
		</div>
		<div class="moj-alert__content">Attendance recorded for Alex River.</div>
		<div class="moj-alert__action">
			<button class="moj-alert__dismiss" hidden>Dismiss</button>
		</div>
	</div>
	{% endif %}

<form action="mark-attendance-post" method="post">
	<table class="govuk-table" data-module="moj-multi-select">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col" id="name-select-all">
					<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-all" value="all">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-all">
						<span class="govuk-visually-hidden">Select all</span>
						</label>
					</div>
				</div>
				</th>
				<th scope="col" class="govuk-table__header">Name and CRN</th>
				<th scope="col" class="govuk-table__header">Attendance</th>
				<th scope="col" class="govuk-table__header">Session notes</th>
			</tr>
		</thead>
	<tbody>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-booth-sham" value="booth-sham">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-booth-sham">
						<span class="govuk-visually-hidden">Booth, Sham</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Booth, Sham</a><br/>B739123</td>
			<td class="govuk-table__cell">
				{% if data['booth-sham'] == "yes" %}
					<strong class="govuk-tag govuk-tag--blue">Attended</strong>
				{% elseif data['booth-sham'] == "no" %}
					<strong class="govuk-tag govuk-tag--red">Not attended</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--grey">To be confirmed</strong>
				{% endif %}
			</td>
			<td class="govuk-table__cell">
				{% if data['session-notes-1'] %}
					<a href=" " class="govuk-link govuk-link--no-visited-state">Booth, Sham: Getting started 1 notes</a>
				{% else %}
					Not added
				{% endif %}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-charles-eric" value="charles-eric">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-charles-eric">
						<span class="govuk-visually-hidden">Charles, Eric</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Charles, Eric</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Not attended</strong></td>
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state">Charles, Eric: Getting started 1 notes</a>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-dillion-ben" value="dillion-ben">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-dillion-ben">
						<span class="govuk-visually-hidden">Dillion, Ben</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Dillion, Ben</a><br/>P689325</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Attended</strong></td>
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state">Dillion, Ben: Getting started 1 notes</a>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-fredric-roman" value="fredric-roman">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-fredric-roman">
						<span class="govuk-visually-hidden">Fredric, Roman</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Fredric, Roman</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Attended</strong></td>
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state">Fredric, Roman: Getting started 1 notes</a>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-hussain-ali" value="hussain-ali">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-hussain-ali">
						<span class="govuk-visually-hidden">Hussain, Ali</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Hussain, Ali</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To be confirmed</strong></td>
			<td class="govuk-table__cell">Not added</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-jones-jack" value="jones-jack">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-jones-jack">
						<span class="govuk-visually-hidden">Jones, Jack</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Jones, Jack</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To be confirmed</strong></td>
			<td class="govuk-table__cell">Not added</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-martinez-gabriel" value="martinez-gabriel">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-martinez-gabriel">
						<span class="govuk-visually-hidden">Martinez, Gabriel</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Martinez, Gabriel</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Attended</strong></td>
			<td class="govuk-table__cell">
				<a href=" " class="govuk-link govuk-link--no-visited-state">Martinez, Gabriel: Getting started 1 notes</a>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-poole-adrian" value="poole-adrian">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-poole-adrian">
						<span class="govuk-visually-hidden">Poole, Adrian</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">Poole, Adrian</a><br/>X123456</td>
			<td class="govuk-table__cell">
				{% if data['poole-adrian'] == "yes" %}
					<strong class="govuk-tag govuk-tag--blue">Attended</strong>
				{% elseif data['poole-adrian'] == "no" %}
					<strong class="govuk-tag govuk-tag--red">Not attended</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--grey">To be confirmed</strong>
				{% endif %}
			</td>
			<td class="govuk-table__cell">
				{% if data['session-notes-2'] %}
					<a href=" " class="govuk-link govuk-link--no-visited-state">Poole, Adrian: Getting started 1 notes</a>
				{% else %}
					Not added
				{% endif %}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="attendance" id="attendance-river-alex" value="river-alex">
						<label class="govuk-label govuk-checkboxes__label" for="attendance-river-alex">
						<span class="govuk-visually-hidden">River, Alex</span>
						</label>
					</div>
				</div>
			</td>
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">River, Alex</a><br/>X123456</td>
			<td class="govuk-table__cell">
				{% if data['river-alex'] == "yes" %}
					<strong class="govuk-tag govuk-tag--blue">Attended</strong>
				{% elseif data['river-alex'] == "no" %}
					<strong class="govuk-tag govuk-tag--red">Not attended</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--grey">To be confirmed</strong>
				{% endif %}
			</td>
			<td class="govuk-table__cell">
				{% if data['session-notes-3'] %}
					<a href="session-details-notes" class="govuk-link govuk-link--no-visited-state">River, Alex: Getting started 1 notes</a>
				{% else %}
					Not added
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
	<button type="submit" class="govuk-button" data-module="govuk-button">Update attendance and notes</button>
</form>

	</div>
</div>



{% endblock %}
