{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/e2e/header-group.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">{{data['groupCode'] | default('BCNE2026-0409')}}</span>
		<h1 class="govuk-heading-l">River, Alex (X123456): Getting started one-to-one</h1>

		{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

		{{ govukSummaryList({
		rows: [
			{
			key: {
				text: "Session type"
			},
			value: {
				text: "Individual"
			}
			},
			{
			key: {
				text: "Date"
			},
			value: {
        		text: "Friday 22 May 2026"
      		},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: " date"
				}
				]
			}
			},
			{
			key: {
				text: "Time"
			},
			value: {
				text: "3:30pm to 4:30pm"
			},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "time"
				}
				]
			}
			},
			{
			key: {
				text: "Scheduled to attend"
			},
			value: {
        		html: '<p class="govuk-body">River, Alex</p>'
      		},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "attendee"
				}
				]
			}
			},
		{
			key: {
				text: "Facilitator"
			},
			value: {
        		html: '<p class="govuk-body">Tom Bassett</p>'
      		},
			actions: {
				items: [
				{
					href: " ",
					text: "Change",
					visuallyHiddenText: "facilitator"
				}
				]
			}
			}
		]
		}) }}	

		<a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Delete session
		</a>

<hr class="govuk-section-break govuk-section-break--m">

<h2 class="govuk-heading-m">Attendance and session notes</h2>

<form action="mark-attendance" method="post">
	<table class="govuk-table" data-module="moj-sortable-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header">Name and CRN</th>
				<th scope="col" class="govuk-table__header">Attendance</th>
				<th scope="col" class="govuk-table__header">Session notes</th>
			</tr>
		</thead>
	<tbody>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<a href="../profiles/referral-details/availability" class="govuk-link govuk-link--no-visited-state">River, Alex</a><br/>X123456</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To be confirmed</strong></td>
			<td class="govuk-table__cell">Not added</td>
		</tr>
	</tbody>
</table>
	<button type="submit" class="govuk-button" data-module="govuk-button">Update attendance and notes</button>
</form>

	</div>
</div>



{% endblock %}
