{% extends "layouts/main.html" %}

{% block pageTitle %}
Has Alex River been convicted of a sexual offence? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/key-details-com.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="../dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Has Alex River been convicted of a sexual offence?</h1>
		<!-- <form action="/redirect-about-person-sexual-offence" method="post"> -->
		<form action="#" method="post"></form>
			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">
				  	<legend class="govuk-fieldset__legend">To add the person to the correct programme strand (general or sexual offence), tell us whether they've been convicted of a sexual offence.</legend>
				  		<div class="govuk-radios govuk-!-margin-top-4" data-module="govuk-radios">
							<div class="govuk-radios__item">
					  			<input class="govuk-radios__input" id="moderate_pso" name="moderate_pso" type="radio" value="yes" {{ checked("moderate_pso", "yes") }}>
					  			<label class="govuk-label govuk-radios__label" for="moderate_pso">Yes</label>
							</div>
							<div class="govuk-radios__item">
					  			<input class="govuk-radios__input" id="moderate_pso-2" name="moderate_pso" type="radio" value="no" {{ checked("moderate_pso", "no") }}>
					  			<label class="govuk-label govuk-radios__label" for="moderate_pso-2">No</label>
							</div>
				  		</div>
				</fieldset>
			</div>
			<div class="govuk-form-group">
				<div class="govuk-button-group govuk-!-margin-top-6">
					<!-- <button class="govuk-button" data-module="govuk-button">Continue</button> -->
					<a class="govuk-button" href="task-list">Continue</a>
				</div>
			</div>
		</form>
    </div>
</div>

{% endblock %}
