{% extends "layouts/main.html" %}

{% block pageTitle %}
Accredited Programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/key-details-com.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<div class="govuk-inset-text">There is no record of Accredited Programmes for Alex River.</div>
		<p class="govuk-body">The programme team may use information about a person's Accredited Programme history to assess whether they are suitable.</p>
		<p class="govuk-body">You can continue by adding a programme history or skip this section of the referral if the history is not known.</p>
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-6">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="task-list?referral-information-one=done&">Return to task list</button>
			</div>
		</form> -->
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Accredited Programme history</h1>
		<p class="govuk-body">This is a list of programmes Alex River has started or completed. You can add missing programme history.</p>
    </div> 
	<div class="govuk-grid-column-full">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Programme</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
				<th scope="col" class="govuk-table__header" style="width: 40%"><a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">Notes</a></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Horizon</td>
					<td class="govuk-table__cell">Whatton (HMP)</td>
					<td class="govuk-table__cell">Completed 2022</td>
					<td class="govuk-table__cell">Motivated to complete the programme</td>
				</tr>
				<!-- <tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Completed 2023</td>
					<td class="govuk-table__cell">n/a</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Deselected 2022</td>
					<td class="govuk-table__cell">n/a</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Becoming New Me Plus</td>
					<td class="govuk-table__cell">Lowdham Grange</td>
					<td class="govuk-table__cell">Deselected 2020</td>
					<td class="govuk-table__cell">Deselected for mental health reasons. Del required sessions with a psychologist to address this before he was able to continue with a programme.</td>
				</tr> -->
			</tbody>
		</table>
		<!-- <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-4">Programmes you've added</h2>
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Programme</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
				<th scope="col" class="govuk-table__header" style="width: 40%" aria-sort="none">Notes</th>
				<th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">Action</a></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if (data['delete-programme-history'] == "done") %}

				{% else %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="programme-history-details" class="govuk-link govuk-link--no-visited-state">Healthy Sex Programme</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Completed 2024</td>
					<td class="govuk-table__cell">Motivated to complete the programme</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="change-programme-history">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="delete-programme-history">Delete<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Kaizen</td>
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">Completed 2023</td>
					<td class="govuk-table__cell">n/a</td>
					<td class="govuk-table__cell">
						<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item">
								<a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details</span></a>	
							</li>
							<li class="govuk-summary-list__actions-list-item">
							  	<a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> details</span></a>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table> -->
		<form action="#" method="post">
			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button" type="submit">Add a programme</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" formaction="task-list?referral-information-one=done&">Return to task list</button>
			</div>
		</form>
    </div>
</div>
{% endblock %}
