{% extends "layouts/main.html" %}

{% block pageTitle %}
Withdrawal category - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-com.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="../dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="withdrawal-category" method="post">
			<h1 class="govuk-heading-l">Withdrawal category</h1>
			<p class="govuk-body">If you withdraw the referral, it will be closed.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by You</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">Select the withdrawal category</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="reason-category" name="reason-category" type="radio" value="Administrative error" {{ checked("reason-category", "Administrative error") }}>
							<label class="govuk-label govuk-radios__label" for="reason-category">Administrative error</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="reason-category-2" name="reason-category" type="radio" value="Motivation and behaviour" {{ checked("reason-category", "Motivation and behaviour") }}>
							<label class="govuk-label govuk-radios__label" for="reason-category-2">Motivation and behaviour</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="reason-category-3" name="reason-category" type="radio" value="Operational" {{ checked("reason-category", "Operational") }}>
							<label class="govuk-label govuk-radios__label" for="reason-category-3">Operational</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="reason-category-4" name="reason-category" type="radio" value="Personal and health" {{ checked("reason-category", "Personal and health") }}>
							<label class="govuk-label govuk-radios__label" for="reason-category-4">Personal and health</label>
						</div>
						<div class="govuk-radios__divider">or</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="reason-category-5" name="reason-category" type="radio" value="Other" data-aria-controls="conditional-reason-category-5" {{ checked("reason-category", "Other") }}>
							<label class="govuk-label govuk-radios__label" for="reason-category-5">Other</label>
						</div>
					</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
					<a class="govuk-link" href="status-history">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
