{% extends "layouts/main.html" %}

{% block pageTitle %}
Deselection - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="update-status" method="post">
			<h1 class="govuk-heading-l">Deselect person</h1>
			<p class="govuk-body">Deselecting a person means that the person can no longer participate in the programme.</p>
			<h2 class="govuk-heading-m">Current status details</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Status update</h2>
						<p class="moj-timeline__byline">by Carol Duffy</p>
					  </div>
					  <p class="moj-timeline__date">
						<time datetime="2023-07-03T14:09:00.000Z">8 August 2023 at 1:33pm</time>
					  </p>
					  <div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">On programme</strong>
					  </div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">Select the reason for deselecting this person</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="personal-health" name="personal-health" type="radio" value="Drug use" data-aria-controls="conditional-personal-health">
							<label class="govuk-label govuk-radios__label" for="personal-health">Drug use</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-personal-health">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="add-notes">Add notes</label>
								<div id="more-info-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
								<textarea class="govuk-textarea" id="add-notes" name="add-notes" rows="5" aria-describedby="more-info-hint"></textarea>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="personal-health-2" name="personal-health" type="radio" value="Medical or health reasons" data-aria-controls="conditional-personal-health-2">
							<label class="govuk-label govuk-radios__label" for="personal-health-2">Medical or health reasons</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-personal-health-2">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="add-notes-2">Add notes</label>
								<div id="more-info-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
								<textarea class="govuk-textarea" id="add-notes-2" name="add-notes-2" rows="5" aria-describedby="more-info-hint"></textarea>
							</div>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="personal-health-3" name="personal-health" type="radio" value="Personal reasons" data-aria-controls="conditional-personal-health-3">
							<label class="govuk-label govuk-radios__label" for="personal-health-3">Personal reasons</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-personal-health-3">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="add-notes-3">Add notes</label>
								<div id="more-info-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
								<textarea class="govuk-textarea" id="add-notes-3" name="add-notes-3" rows="5" aria-describedby="more-info-hint"></textarea>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="personal-health-4" name="personal-health" type="radio" value="Instructed by solicitor not to attend" data-aria-controls="conditional-personal-health-4">
							<label class="govuk-label govuk-radios__label" for="personal-health-4">Instructed by solicitor not to attend</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-personal-health-4">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="add-notes-4">Add notes</label>
								<div id="more-info-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
								<textarea class="govuk-textarea" id="add-notes-4" name="add-notes-4" rows="5" aria-describedby="more-info-hint"></textarea>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="personal-health-5" name="personal-health" type="radio" value="Death" data-aria-controls="conditional-personal-health-5">
							<label class="govuk-label govuk-radios__label" for="personal-health-5">Death</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-personal-health-5">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--s" for="add-notes-5">Add notes</label>
								<div id="more-info-hint" class="govuk-hint">Provide more information about the reason for deselecting this person.</div>
								<textarea class="govuk-textarea" id="add-notes-5" name="add-notes-5" rows="5" aria-describedby="more-info-hint"></textarea>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
