{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: high intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-find.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Building Choices: high intensity</h1>
		<h2 class="govuk-heading-m govuk-!-margin-top-8">Locations</h2>
		<p class="govuk-body">Select a prison to contact the programme team or make a referral. Online referrals are not yet available at all sites.</p>
		<p class="govuk-body">The list of suitable locations is based on what you told us about the person you're referring:</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-6">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key" style="width: 40%">Convicted of a sexual offence</dt>
				<dd class="govuk-summary-list__value">No</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Learning disabilities or challenges</dt>
				<dd class="govuk-summary-list__value">Yes</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">In a womens' prison</dt>
				<dd class="govuk-summary-list__value">Yes</dd>
			</div>
		</dl> 
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Prison</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Category</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">County</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			  	<tr class="govuk-table__row">
					<td class="govuk-table__cell">Bure</td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Norfolk</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Risley</td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Cheshire</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Whatton</td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Nottinghamshire</td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Wymott</td>
					<td class="govuk-table__cell">C</td>
					<td class="govuk-table__cell">Lancashire</td>
			  	</tr>
			</tbody>
		</table>
    </div>
</div>

{% endblock %}
