{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/includes/community/v3/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="../home"
		class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to
		Accredited Programmes homepage</a>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row clear">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Referrals in North East</span>
		<h1 class="govuk-heading-xl">Building Choices: moderate intensity</h1>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<div class="moj-filter">
			<div class="moj-filter__header">
				<div class="moj-filter__header-title">
					<h2 class="govuk-heading-m govuk-!-padding-top-0">Filters</h2>
				</div>
			</div>
		</div>
		<div class="moj-filter__content">
			<div class="moj-filter__options">
				<div class="govuk-button-group">
					<button type="submit" class="govuk-button" data-module="govuk-button">Apply filters</button>
					<a class="govuk-link govuk-link--no-visited-state" href="#">Clear filters</a>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="search-name-crn">Name or CRN</label>
					<input class="govuk-input" id="search-name-crn" name="search-name-crn" type="text">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="pdu">PDU</label>
					<select class="govuk-select" id="pdu" name="pdu" style="width: 100%">
						<option value="select" selected>Select PDU</option>
						<option value="pdu-1">County Durham and Darlington</option>
						<option value="pdu-2">Gateshead and South Tyneside</option>
						<option value="pdu-3">Newcastle Upon Tyne</option>
						<option value="pdu-2">North Tyneside and Northumberland</option>
						<option value="pdu-2">Redcar, Cleveland and Middlesbrough</option>
						<option value="pdu-2">Stockton and Hartlepool</option>
						<option value="pdu-2">Sunderland</option>
					</select>
				</div>
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							Reporting team
						</legend>
						<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-1" name="reporting-team"
									type="checkbox" value="darlington-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-1">Darlington 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-2" name="reporting-team"
									type="checkbox" value="darlington-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-2">Darlington 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-4" name="reporting-team"
									type="checkbox" value="north-durham-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-4">North Durham 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-5" name="reporting-team"
									type="checkbox" value="north-durham-3">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-5">North Durham 3</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-6" name="reporting-team"
									type="checkbox" value="peterlee-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-6">Peterlee 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-7" name="reporting-team"
									type="checkbox" value="peterlee-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-7">Peterlee 2</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-8" name="reporting-team"
									type="checkbox" value="south-durham-1">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-8">South Durham 1</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="reporting-team-9" name="reporting-team"
									type="checkbox" value="south-durham-2">
								<label class="govuk-label govuk-checkboxes__label" for="reporting-team-9">South Durham 2</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="cohort">Cohort</label>
					<select class="govuk-select" id="cohort" name="cohort" style="width: 100%">
						<option value="select" selected>Select cohort</option>
						<option value="general-offence">General offence</option>
						<option value="general-offence">General offence LDC</option>
						<option value="sexual-offence">Sexual offence</option>
						<option value="sexual-offence">Sexual offence LDC</option>
					</select>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="referral-status">Referral status</label>
					<select class="govuk-select" id="referral-status" name="referral-status" style="width: 100%">
						<option value="select" selected>Select status</option>
							<option value="awaiting-allocation">Awaiting allocation</option>	
							<option value="awaiting-assessment">Awaiting assessment</option>
							<option value="breach">Breach</option>
							<option value="deferred">Deferred</option>
							<option value="deprioritised">Deprioritised</option>
							<option value="on-programme">On programme</option>
							<option value="programme-complete">Programme complete</option>
							<option value="recall">Recall</option>
							<option value="return-to-court">Return to court</option>
							<option value="scheduled">Scheduled</option>
							<option value="suitable-but-not-ready">Suitable but not ready</option>
							<option value="withdrawn">Withdrawn</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<nav class="moj-sub-navigation govuk-!-margin-bottom-4" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="open-referrals">Open referrals (84)</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="closed-referrals">Closed referrals (3)</a>
				</li>
			</ul>
		</nav>
		<p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-bottom-3">Showing <strong>1</strong> to <strong>3</strong> of <strong>3</strong> results</p>
		
		
	<table class="govuk-table" data-module="moj-sortable-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header" aria-sort="none">Name and CRN</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">PDU</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Reporting team</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Sentence end date</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">PSS end date</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Cohort</th>
				<th scope="col" class="govuk-table__header" aria-sort="none">Referral status</th>
			</tr>
		</thead>
		<tbody>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="../profiles/referral-details/personal-details" class="govuk-link govuk-link--no-visited-state">Christiaan, Simon</a><br/>B992476</td>
				<td class="govuk-table__cell">North Tyneside and Northumberland</td>
				<td class="govuk-table__cell">North Tyneside</td>
				<td class="govuk-table__cell">14 Jun 2026<br/>Order end date</td>
				<td class="govuk-table__cell">19 Aug 2026</td>
				<td class="govuk-table__cell">General offence 
					<!-- <span class="moj-badge moj-badge--bright-purple">LDC</span></td> -->
				<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Withdrawn</strong></td>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="../profiles/referral-details/personal-details" class="govuk-link govuk-link--no-visited-state">Akhtar, Suhail</a><br/>K227326</td>
				<td class="govuk-table__cell">Sunderland</td>
				<td class="govuk-table__cell">Sunderland 2</td>
				<td class="govuk-table__cell">22 Dec 2025<br/>Licence end date</td>
				<td class="govuk-table__cell">15 Jan 2026</td>
				<td class="govuk-table__cell">Sexual offence 
					<span class="moj-badge moj-badge--bright-purple">LDC</span></td>
				<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Programme complete</strong></td>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="../profiles/referral-details/personal-details" class="govuk-link govuk-link--no-visited-state">Wright, Kevin</a><br/>A104338</td>
				<td class="govuk-table__cell">Redcar, Cleveland and Middlesbrough</td>
				<td class="govuk-table__cell">Middlesbrough 2</td>
				<td class="govuk-table__cell">14 Apr 2026<br/>Licence end date</td>
				<td class="govuk-table__cell">22 Apr 2026</td>
				<td class="govuk-table__cell">General offence 
					<span class="moj-badge moj-badge--bright-purple">LDC</span></td>
				<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Withdrawn</strong></td>
			</tr>

			<!-- {% for referral in data['people'] %}

			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="../profiles/referral-details/personal-details?firstName={{referral.firstName}}&lastName={{referral.lastName}}" class="govuk-link govuk-link--no-visited-state">{{referral.lastName}}, {{referral.firstName}}</a><br/>{{referral.crn}}</td>
				<td class="govuk-table__cell">{{referral.pdu}}</td>
				<td class="govuk-table__cell">{{referral.reportingTeam}}</td>
				<td class="govuk-table__cell">{{referral.sentenceEnd}}<br/>{{referral.sentenceType}}</td>
				<td class="govuk-table__cell">{{referral.pssEnd}}</td>
				<td class="govuk-table__cell">{{referral.cohort}} 
					<span class="moj-badge moj-badge--bright-purple">{{referral.cohortTag}}</span></td>
				<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{referral.referralColour | default('purple')}}">{{referral.referralStatus}}</strong></td>
			</tr>

			{% endfor %} -->

			</tbody>
		</table>
		
		<nav class="govuk-pagination" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}