{% extends "layouts/main.html" %}

{% block pageTitle %}
Delete this draft referral? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="draft-referrals" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="areYouSure-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Delete draft referral?</h1>
				  	</legend>
				  	<div id="areYouSure-hint" class="govuk-hint">This action cannot be undone.</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">Delete draft</button>
					<a class="govuk-link" href="task-list">Cancel</a>
				</div>
			</div>

		</form>
    </div>
</div>

{% endblock %}
