{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Healthy Sex Programme - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Healthy Sex Programme</h1>
			</div>
			<form action="#" method="post">
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Update status</a>
				  	</div>
				</div>
			</form>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="personal-details">Referral details</a>
			    </li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Status history</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Referral summary</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Applicant name</dt>
				<dd class="govuk-summary-list__value">Del Hatton</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme name</dt>
				<dd class="govuk-summary-list__value">Becoming New Me Plus: sexual offence</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme strand</dt>
				<dd class="govuk-summary-list__value">Sexual offence</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme location</dt>
				<dd class="govuk-summary-list__value">Erlestoke (HMP)</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme team email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">interventions.erlestoke@justice.gov.uk</a></dd>
			</div>
		</dl>
		<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Date referred</dt>
			  	<dd class="govuk-summary-list__value">11 June 2023</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Referrer name</dt>
			  	<dd class="govuk-summary-list__value">Jordan Smith</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Referrer email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">jordan.smith@justice.gov.uk</a></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Referrer contact number</dt>
				<dd class="govuk-summary-list__value">01380 814250</dd>
			</div>
		</dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="personal-details">Personal details</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="#">Programme history</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="offence-history" aria-current="location">Offence history</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="#">Sentence information</a>
				</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="hsp-details">HSP details</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="additional-information">Additional information</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Offences against someone aged under 18</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key" style="width: 70%">A victim aged 12 or younger</dt>
						<dd class="govuk-summary-list__value" style="width: 30%">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">A male victim aged 15 or younger</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">More than one victim aged 15 or younger</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">A victim outside the family aged 15 or younger</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Possessing indecent images of under-18s</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Self-reported sexual attraction to under-18s</dt>
						<dd class="govuk-summary-list__value">3</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Total</dt>
						<dd class="govuk-summary-list__value">4</dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Sexual offences that include violence, force or humiliation</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key" style="width: 70%">At least one conviction for a coercive sexual offence</dt>
						<dd class="govuk-summary-list__value" style="width: 30%">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">More than one conviction for a coercive sexual offence against 3 or more separate victims</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Mutilated parts of the victim's body</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Tortured or engaged in acts of cruelty to the victim</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Gratuitous violence or wounding toward the victim</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Kept records or trophies (for example hair, underwear, ID)</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Victim was abducted or confined</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Evidence of ritualism in the offence</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Objects inserted into bodily orifices</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Self-reported preference for non-consensual or forced sex</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Self-reported sexual arousal to the idea of inflicting violence, pain, fear or humiliation on another person</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Total</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Other sexual offences</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key" style="width: 70%">Exhibitionism</dt>
						<dd class="govuk-summary-list__value" style="width: 30%">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Frotteurism</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Intercourse with an animal</dt>
						<dd class="govuk-summary-list__value">3</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Sexual murder</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Sexual penetration of a corpse</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Voyeurism</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Total</dt>
						<dd class="govuk-summary-list__value">5</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</div>
{% endblock %}
