{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal and health - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<form action="withdraw-referral-answer" method="post">
			<h1 class="govuk-heading-l">Withdraw referral</h1>
			<p class="govuk-body">Withdrawing a referral means that the person can no longer participate in the programme. You can choose to close the refferal or return the person to the waiting list.</p>
			<h2 class="govuk-heading-m">Current status details</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Status update</h2>
						<p class="moj-timeline__byline">by Jordan Smith</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-07-03T14:09:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<!-- <p class="govuk-body">{{ data['add-notes-optional'] }}</p> -->
						<strong class="govuk-tag govuk-tag--grey">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">Select specific reason</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="specific-reason-motivation-behaviour" name="specific-reason-motivation-behaviour" type="radio" value="Motivation changed" data-aria-controls="conditional-specific-reason-motivation-behaviour">
							<label class="govuk-label govuk-radios__label" for="specific-reason-motivation-behaviour">Motivation changed</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-specific-reason-motivation-behaviour">
							<div class="govuk-form-group">
								<label class="govuk-label" for="add-notes-optional">Add notes (optional)</label>
								<textarea class="govuk-textarea" id="add-notes-optional" name="add-notes-optional" rows="5">{{ data['add-notes-optional'] }}</textarea>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="specific-reason-motivation-behaviour-2" name="specific-reason-motivation-behaviour" type="radio" value="Behavioural problems" data-aria-controls="conditional-specific-reason-motivation-behaviour-2">
							<label class="govuk-label govuk-radios__label" for="specific-reason-motivation-behaviour-2">Behavioural problems</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-specific-reason-motivation-behaviour-2">
							<div class="govuk-form-group">
								<label class="govuk-label" for="add-notes-optional">Add notes (optional)</label>
								<textarea class="govuk-textarea" id="add-notes-optional" name="add-notes-optional" rows="5">{{ data['add-notes-optional'] }}</textarea>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="govuk-button-group govuk-!-margin-top-6">
					<button class="govuk-button" data-module="govuk-button">Continue</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
