{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a> -->
	<a href="open-referrals" class="govuk-back-link govuk-!-margin-bottom-0">Back to referrals</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
	  			<div class="moj-button-menu">
					<div class="moj-button-menu__wrapper">	
						{% if data['operational'] == "Released after parole hearing" %}
						<a class="govuk-button govuk-button--disabled moj-button-menu__item govuk-button--warning moj-page-header-actions__actiong" href="withdraw-referral">Withdraw referral</a>
						{% else %}
						<a class="govuk-button moj-button-menu__item govuk-button--warning moj-page-header-actions__actiong" href="withdraw-referral">Withdraw referral</a>
						{% endif %}
					</div>
	  			</div>
			</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="personal-details">Referral details</a>
				</li>
		  	</ul>
		</nav>
		<h2 class="govuk-heading-m">Referral summary</h2>
		<ul class="govuk-list">
			<li><strong>Programme name:</strong> Becoming New Me Plus (BNM+)</li>
			<li><strong>Programme strand:</strong> Intimate partner violence</li>
			<li><strong>Programme location:</strong> HMP Erlestoke</li>
		</ul>
		<ul class="govuk-list">
			<li><strong>Date referred:</strong> 11 June 2023</li>
			<li><strong>Referrer name:</strong> Jordan Smith</li>
			<li><strong>Referrer email address:</strong> <a href="mailto:interventions.erlestoke@justice.gov.uk" class="govuk-link">interventions.erlestoke@justice.gov.uk</a></li>
			<li><strong>Referrer contact number:</strong> 01380 814250</li>
		</ul>
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="personal-details">Personal details</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="programme-history">Programme history</a>
		  		</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="risk-scores-alerts" aria-current="location">Risk scores and alerts</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="offence-history">Offence history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="sentence-information">Sentence information</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="additional-information">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-inset-text govuk-!-margin-top-0">Imported from OASys on 1 August 2023, last updated on 1 November 2022</div>

		<h3 class="govuk-heading-s">Offender group reconviction scale</h3>
		<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OGRS Year 1</span></span>
				<span class="red-figure">85%</span>
			</h2>
			<p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
		</div>
		<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OGRS Year 2</span></span>
				<span class="red-figure">77%</span>
			</h2>
			<p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
		</div>

		<h3 class="govuk-heading-s">Offender violence predictor</h3>
		<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OVP Year 1</span></span>
				<span class="red-figure">72%</span>
			</h2>
			<p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
		</div>
		<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OVP Year 2</span></span>
				<span class="red-figure">65%</span>
			</h2>
			<p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
		</div>

		<h3 class="govuk-heading-s">Risk of serious recidivism</h3>
		<div class="rosh-widget rosh-widget--low govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-3">
				<span class="green"><strong>LOW</strong> <span class="govuk-!-font-weight-regular">RSR</span></span>
				<span class="green-figure">0.0</span>
			</h2>
			<hr class="govuk-section-break govuk-section-break--visible">
			<ul class="govuk-list govuk-!-margin-top-3 govuk-!-margin-bottom-2">
				<li>
					<div class="predictor-timeline-item predictor-timeline-item--low">
						<span class="predictor-timeline-item__level"><strong>LOW</strong> OSP/C</span>
					</div>
				</li>
				<li>
					<div class="predictor-timeline-item predictor-timeline-item--medium">
						<span class="predictor-timeline-item__level"><strong>MEDIUM</strong> OSP/I</span>
					</div>
				</li>
			</ul>
			<hr class="govuk-section-break govuk-section-break--visible">
			<p class="text-secondary govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
		</div>

		<h3 class="govuk-heading-s">Risk of serious harm</h3>
		<div class="rosh-widget rosh-widget--low govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="green"><strong>LOW</strong> <span class="govuk-!-font-weight-regular">RoSH</span></span>
			</h2>
			<table class="govuk-table rosh-widget__table">
				<caption class="govuk-!-text-align-left">
					<p class="govuk-body-m govuk-!-margin-bottom-1">
						Risk of serious harm
					</p>
					<p class="text-secondary govuk-body-s grey">
						Last updated: 1 November 2022
					</p>
				</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Risk to</th>
						<th class="govuk-table__header">Custody</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Children</th>
						<td class="govuk-table__cell rosh-widget__risk--low">Low</td>
					</tr>
					<tr>
						<th class="govuk-table__header">Public</th>
						<td class="govuk-table__cell rosh-widget__risk--low">Low</td>
					</tr>
					<tr>
						<th class="govuk-table__header">Known adult</th>
						<td class="govuk-table__cell rosh-widget__risk--high">High</td>
					</tr>
					<tr>
						<th class="govuk-table__header">Staff</th>
						<td class="govuk-table__cell rosh-widget__risk--medium">Medium</td>
					</tr>
					<tr>
						<th class="govuk-table__header">Prisoners</th>
						<td class="govuk-table__cell rosh-widget__risk--low">Low</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="govuk-inset-text govuk-!-margin-top-8 govuk-!-margin-bottom-8">Imported from Nomis on 1 August 2023, last updated on 16 November 2022</div>

		<h3 class="govuk-heading-s">Risk alerts</h3>
		<div class="risk-flag-widget">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-3">Active alerts</h2>
			<hr class="govuk-section-break govuk-section-break--visible">
			<ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-2">
				<li>Gang member</li>
				<li>Arsonist</li>
				<li>Risk to females</li>
			</ul>
			<hr class="govuk-section-break govuk-section-break--visible">
			<p class="text-secondary govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 grey">Last updated: 2 February 2022</p>
		</div>

	</div>
</div>

{% endblock %}
