{% extends "layouts/main.html" %}

{% block pageTitle %}
My referrals - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-refer.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">My referrals</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="open-referrals">Open referrals</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="draft-referrals">Draft referrals</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="closed-referrals">Closed referrals</a>
				</li>	
			</ul>
		</nav>
		<p class="govuk-body govuk-!-margin-bottom-9">You have no closed referrals.</p>
    </div>
</div>

{% endblock %}
