{% extends "layouts/main.html" %}

{% block pageTitle %}
Allocation complete - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav-com.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
			<h1 class="govuk-panel__title">Allocation complete</h1>
			{% if data['group-waitlist'] == "Poole, Adrian" %}
			<div class="govuk-panel__body">Adrian Poole (D005188) has been added to Building Choices group 1</div>
			{% elseif data['group-waitlist'] == "Jackson, Dan" %}
			<div class="govuk-panel__body">Dan Jackson (Z234533) has been added to Building Choices group 1</div>
			{% elseif data['group-waitlist'] == "Fredric, Roman" %}
			<div class="govuk-panel__body">Roman Fredric (P227326) has been added to Building Choices group 1</div>
			{% endif %}
		</div>
		<h2 class="govuk-heading-m">What happens next</h2>
    	<p class="govuk-body"><a href="bc-group-1" class="govuk-link">[[ Link name - TBC ]]</a></p>
    </div>
</div>
{% endblock %}
