{% extends "layouts/main.html" %}

{% block pageTitle %}
Check risks and needs information (OASys) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v2/key-details-com.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Check risks and needs information (OASys)</h1>
		<p class="govuk-body">Scores and supporting information from the latest approved risks and needs assessment will be pulled into this referral. The programme team will use this to assess the referral.</p>
		<p class="govuk-body">The latest approved layer 3 assessment for Alex River was completed on <strong>28 June 2024</strong>.</p>
		<p class="govuk-body">Before you submit the referral, check that:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>all layer 3 information is complete</li>
			<li>the information is up to date</li>
		</ul>
		<form action="task-list?referral-information-two=done&" method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
					  <input class="govuk-checkboxes__input" id="oasys-information-accurate" name="oasys-information-accurate" type="checkbox" value="{{ data['oasys-information-accurate'] }}">
					  <label class="govuk-label govuk-checkboxes__label" for="oasys-information-accurate">I confirm this information is up to date.</label>
					</div>
				</div>
			</div>
			<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Continue</button>
		</form>
    </div>
</div>

{% endblock %}
