{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/key-details-com.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Building Choices: moderate intensity</h1>
			</div>
			<div class="moj-button-group moj-button-group--inline">
				<a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
				<div class="moj-button-menu" data-module="moj-button-menu" data-button-text="Update referral" data-button-classes="govuk-button--secondary govuk-!-margin-right-0">
					<a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Put on hold</a>
					<a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">Withdraw referral</a>
				</div>
			</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Status history</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="#">Availability</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Availability</h2>
		<div class="govuk-inset-text govuk-!-margin-top-0">Last updated 3 April 2025 by Tom Saunders</div>
		<p class="govuk-body govuk-!-margin-bottom-6">This is Alex River's general availability to attend an Accredited Programme.</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Mondays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Tuesdays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Wednesdays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Thursdays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Fridays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--green">available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Saturdays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Sundays</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">morning</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">afternoon</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">evening</dt>
						<dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--red">not available</strong></dd>
					</div>
				</dl>
			</div>
		</div>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Other availability details</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<p class="govuk-!-margin-bottom-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
				</dl>
			</div>
		</div>
		<a href="#" class="govuk-button govuk-!-margin-top-4">Update availability</a>
    </div>
</div>
{% endblock %}
