{% extends "layouts/main.html" %}

{% block pageTitle %}
Building Choices: Programmes Needs Identifier outcome - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Building Choices: Programmes Needs Identifier outcome</h1>
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Name</dt>
				<dd class="govuk-summary-list__value">Del Hatton</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Prison number</dt>
				<dd class="govuk-summary-list__value">D0168KE</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Date of birth</dt>
				<dd class="govuk-summary-list__value">5 July 1971</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Ethnicity</dt>
			  	<dd class="govuk-summary-list__value">White and Black African</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Custody</dd>
	  		</div>
	  		<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Current prison</dt>
				<dd class="govuk-summary-list__value">HMP Erlestoke</dd>
  			</div>
		</dl>
		<p class="govuk-body govuk-!-margin-bottom-6">The Programmes Needs Identifier (PNI) is used in referrals to Getting Ready and Building Choices. It gives an indication of whether someone is eligible for the programme, and if so, whether they need the moderate or high intensity programme.</p>
		<div class="rosh-widget rosh-widget--medium govuk-!-margin-top-6 govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="orange"><strong>MODERATE INTENSITY</strong></span>
				<span class="orange-figure">2</span>
			</h2>
			<p class="govuk-body-m govuk-!-margin-bottom-1">Based on the PNI scores, this person may be eligible for the moderate intensity programme.</p>
		</div>
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Sex</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.11 - Sexual Pre-occupation</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.12 - Offence related Sexual Interests </dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.12  Emotional congruence with children or feeling closer to children than adults</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Cognitive</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">12.1 Pro-criminal attitudes</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">12.9 Hostile orientation</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Relationships</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.1 - Current relationship with close family</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.6 - Previous experience of close relationships</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">7.3 - Easily influenced by criminal associates</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.3 - Aggressive or controlling behaviour</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Self Management</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.2 - Impulsivity</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.4 - Temper control</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.6 - Problem-solving skills</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">10.1 - Difficulties coping</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-button-group govuk-!-margin-top-9">
			<a class="govuk-button" href="list-programmes">Back to list of programmes</a>
			<a class="govuk-link" href="persons-identifier">Enter a different identifier</a>
		</div>
    </div>
</div>

{% endblock %}
