{% extends "layouts/main.html" %}

{% block pageTitle %}
Becoming New Me Plus - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-assess.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Referrals</span>
		<h1 class="govuk-heading-xl">Becoming New Me Plus</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<div class="filters-container-moj">
			<h2 class="govuk-heading-m filters-heading">Filters</h2>
			<div class="filter-options-alt">
				<div class="govuk-form-group govuk-!-margin-right-4 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="search-name-prison-number">Search by name or prison number</label>
					<input class="govuk-input" id="search-name-prison-number" name="search-name-prison-number" type="text">
				</div>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-right-4">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
					  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							<h1 class="govuk-fieldset__heading">Programme strand</h1>
						</legend>
					  	<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="programmeStrand" name="programmeStrand" type="radio" value="Extremism offence">
						  		<label class="govuk-label govuk-radios__label" for="programmeStrand">Extremism offence</label>
							</div>
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="programmeStrand-2" name="programmeStrand" type="radio" value="Gang offence">
						  		<label class="govuk-label govuk-radios__label" for="programmeStrand-2">Gang offence</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="programmeStrand-3" name="programmeStrand" type="radio" value="General offence">
								<label class="govuk-label govuk-radios__label" for="programmeStrand-3">General offence</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="programmeStrand-4" name="programmeStrand" type="radio" value="General violence offence">
								<label class="govuk-label govuk-radios__label" for="programmeStrand-4">General violence offence</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="programmeStrand-5" name="programmeStrand" type="radio" value="Intimate partner violence offence">
								<label class="govuk-label govuk-radios__label" for="programmeStrand-5">Intimate partner violence offence</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="programmeStrand-6" name="programmeStrand" type="radio" value="Sexual offence">
								<label class="govuk-label govuk-radios__label" for="programmeStrand-6">Sexual offence</label>
						  	</div>
						</div>
					</fieldset>
				</div> 
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-right-4">
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
					  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							<h1 class="govuk-fieldset__heading">Referral status</h1>
						</legend>
					  	<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="referralStatus" name="referralStatus" type="radio" value="Referral submitted">
						  		<label class="govuk-label govuk-radios__label" for="referralStatus">Referral submitted</label>
							</div>
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="referralStatus-2" name="referralStatus" type="radio" value="On hold - referral submitted">
						  		<label class="govuk-label govuk-radios__label" for="referralStatus-2">On hold - referral submitted</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-3" name="referralStatus" type="radio" value="Awaiting assessment">
								<label class="govuk-label govuk-radios__label" for="referralStatus-3">Awaiting assessment</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-4" name="referralStatus" type="radio" value="On hold - awaiting assessment">
								<label class="govuk-label govuk-radios__label" for="referralStatus-4">On hold - awaiting assessment</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-5" name="referralStatus" type="radio" value="Assessment started">
								<label class="govuk-label govuk-radios__label" for="referralStatus-5">Assessment started</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-6" name="referralStatus" type="radio" value="On hold - assessment started">
								<label class="govuk-label govuk-radios__label" for="referralStatus-6">On hold - assessment started</label>
						  	</div>

							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-7" name="referralStatus" type="radio" value="Assessed as suitable">
								<label class="govuk-label govuk-radios__label" for="referralStatus-7">Assessed as suitable</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-8" name="referralStatus" type="radio" value="Suitable but not ready">
								<label class="govuk-label govuk-radios__label" for="referralStatus-8">Suitable but not ready</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-9" name="referralStatus" type="radio" value="On programme">
								<label class="govuk-label govuk-radios__label" for="referralStatus-9">On programme</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-10" name="referralStatus" type="radio" value="Not eligible">
								<label class="govuk-label govuk-radios__label" for="referralStatus-10">Not eligible</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-11" name="referralStatus" type="radio" value="Not suitable">
								<label class="govuk-label govuk-radios__label" for="referralStatus-11">Not suitable</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-12" name="referralStatus" type="radio" value="Withdrawn">
								<label class="govuk-label govuk-radios__label" for="referralStatus-12">Withdrawn</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-13" name="referralStatus" type="radio" value="Deselected">
								<label class="govuk-label govuk-radios__label" for="referralStatus-13">Deselected</label>
						  	</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="referralStatus-14" name="referralStatus" type="radio" value="Programme complete">
								<label class="govuk-label govuk-radios__label" for="referralStatus-14">Programme complete</label>
						  	</div>
						</div>
					</fieldset>
				</div> 

				<div class="govuk-button-group govuk-!-margin-right-3 govuk-!-margin-bottom-0" style="margin-bottom: 3px !important">
					<button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Apply filters</button>
					<a class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0" href="#">Clear filters</a>
				</div> 
				


			</div>
		</div>
	</div>
</div>

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="filters-container-moj">
			<h2 class="govuk-heading-m filters-heading">Filters</h2>
			<div class="filter-options">
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="search-name-prison-number">Search by name or prison number</label>
					<input class="govuk-input" id="search-name-prison-number" name="search-name-prison-number" type="text">
			  	</div>
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="programme-strand">Programme strand</label>
					<select class="govuk-select" id="programme-strand" name="programme-strand">
						<option value="select" selected>Select</option>
						<option value="general-violence">General violence offence</option>
						<option value="intimate-partner-violence">Intimate partner violence offence</option>
					</select>
				</div>

				 <div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
					  	<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
							<h1 class="govuk-fieldset__heading">Programme strand</h1>
						</legend>
					  	<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="programmeStrand" name="programmeStrand" type="radio" value="Intimate partner violence offence">
						  		<label class="govuk-label govuk-radios__label" for="programmeStrand">Intimate partner violence offence</label>
							</div>
							<div class="govuk-radios__item">
						  		<input class="govuk-radios__input" id="programmeStrand-2" name="programmeStrand" type="radio" value="General violence offence">
						  		<label class="govuk-label govuk-radios__label" for="programmeStrand-2">General violence offence</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="programmeStrand-3" name="programmeStrand" type="radio" value="last 6 months">
								<label class="govuk-label govuk-radios__label" for="programmeStrand-3">last 6 months</label>
						  	</div>
							
						</div>
					</fieldset>
				</div> 


				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="referral-status">Referral status</label>
					<select class="govuk-select" id="referral-status" name="referral-status">
						<option value="select" selected>Select</option>
						<option value="assessed-suitable">Assessed as suitable</option>
						<option value="assessment-started">Assessment started</option>
						<option value="awaiting-assessment">Awaiting assessment</option>
						<option value="on-programme">On programme</option>
						<option value="referral-submitted">Referral submitted</option>
						<option value="suitable-not-ready">Suitable but not ready</option>
					</select>
				</div>
				<div class="govuk-button-group govuk-!-margin-right-3 govuk-!-margin-bottom-0" style="margin-bottom: 3px !important">
					<button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Apply filters</button>
					<a class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0" href="#">Clear filters</a>
				</div> 
			</div>
		</div>
	</div>
</div> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="#">Open referrals (25)</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Closed referrals (34)</a>
				</li>
			</ul>
		</nav>
		<div class="moj-scrollable-pane">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="none">Name and prison number</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Sentence type</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Programme strand</th>
				
					<th scope="col" class="govuk-table__header" aria-sort="none">Referral status</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Hatton, Del</a><br />D0168KE</td>
					<td class="govuk-table__cell">Stocken (HMP)</td>
					<td class="govuk-table__cell">1 Dec 2025<br />Conditional release date</td>
					<td class="govuk-table__cell">Determinate<br /><span class="moj-badge">Recall</span></td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Referral submitted</strong></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Booth, Sham</a><br />B6789KL</td>
					<td class="govuk-table__cell">Frankland (HMP)</td>
					<td class="govuk-table__cell">1 Apr 2024<br />Conditional release date</td>
					<td class="govuk-table__cell">Indeterminate</td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Referral submitted</strong></td>
					</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McGregor, Simon</a><br />N6005OK</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">28 Dec 2027<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Determinate and indeterminate</td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Awaiting assessment</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Step, Richard</a><br />L2273CK</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Determinate<br /><span class="moj-badge">Recall</span></td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Awaiting assessment</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Jones, Matt</a><br />A1034LK</td>
					<td class="govuk-table__cell">Stocken (HMP)</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Indeterminate<br /><span class="moj-badge">Recall</span></td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessment started</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Wright, Kevin</a><br />Z2345LL</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Indeterminate</td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessment started</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Poole, Adrian</a><br />D0051ED</td>
					<td class="govuk-table__cell">Stocken (HMP)</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Home detention curfew approved date</td>
					<td class="govuk-table__cell">Determinate and indeterminate</td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Assessed as suitable</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Metcalfe, Nicholas</a><br />E7728KL</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Home detention curfew eligibility date</td>
					<td class="govuk-table__cell">Determinate</td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Assessed as suitable</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Akhtar, Suhail</a><br />K2273CD</td>
					<td class="govuk-table__cell">Erlestoke</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Indeterminate</td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Hemsworth, Luke</a><br />F3849MK</td>
					<td class="govuk-table__cell">Frankland (HMP)</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Tariff end date</td>
					<td class="govuk-table__cell">Determinate and indeterminate</td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
					</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McDonald, Jim</a><br />B1234LP</td>
					<td class="govuk-table__cell">Frankland (HMP)</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Tariff expired release scheme eligibility date</td>
					<td class="govuk-table__cell">Determinate and indeterminate</td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McAdam, Alistair</a><br />A114LKA</td>
					<td class="govuk-table__cell">Frankland (HMP)</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Determinate and indeterminate<br /><span class="moj-badge">Recall</span></td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">James, Bob</a><br />A9234LQ</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Conditional release date</td>
					<td class="govuk-table__cell">Determinate and indeterminate<br /><span class="moj-badge">Recall</span></td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Setto, Lukas</a><br />L0994FD</td>
					<td class="govuk-table__cell">Stocken (HMP)</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Conditional release date</td>
					<td class="govuk-table__cell">Indeterminate</td>
					<td class="govuk-table__cell">Intimate partner violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Aalegra, Rema</a><br />F0394LM</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">15 May 2029<br />Conditional release date</td>
					<td class="govuk-table__cell">Determinate and indeterminate</td>
					<td class="govuk-table__cell">General violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
			</tbody>
		</table>
		<nav class="govuk-pagination" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">42</a>
			  	</li>
			</ul>
			<div class="govuk-pagination__next">
			  	<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					<path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg>
				</a>
			</div>
		</nav>
    </div>
</div>
{% endblock %}
