{% extends "layouts/main.html" %}

{% block pageTitle %}
Does the person maintain their innocence? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v3/key-details-pt-adrian.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		
		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
			  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading">
					Does the person maintain their innocence?
				</h1>
			  </legend>
			 <!-- <div id="changedName-hint" class="govuk-hint">
				This includes changing your last name or spelling your name differently
			  </div>-->
			  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
				  <label class="govuk-label govuk-radios__label" for="changedName">
					Yes
				  </label>
				</div>
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
				  <label class="govuk-label govuk-radios__label" for="changedName-2">
					No
				  </label>
				</div>
			  </div>
			</fieldset>
		  </div>

		  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
			 <label class="govuk-label govuk-label--l" for="motivation">
				Is the person motivated to participate in an Accredited Programme? 
			</label>
			<div id="motivation" class="govuk-hint">
				<p class="govuk-body">This includes:</p> 
				<ul class="govuk-list govuk-list--bullet">
					<li>engaging with the assessment process</a></li>
					<li>being motivated to address their thinking or behaviour, even if they maintain their innocence</li>
				</ul>
			</div>
			<textarea class="govuk-textarea govuk-js-character-count" id="motivation" name="motivation" rows="5" aria-describedby="locations-cannot-attend-hint"></textarea>
			<div id="motivation-info" class="govuk-hint govuk-character-count__message">You can enter up to 2000 characters</div>
		</div>

		<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
			<label class="govuk-label govuk-label--l" for="other-people">
				Are there other people on probation who the person should not attend a group with? 
		   </label>
		   <div id="other-people" class="govuk-hint">
			Include any non-associations and other relevant personal relationships, such as co-defendants or gang affiliations. 
		   </div>
		   <textarea class="govuk-textarea govuk-js-character-count" id="other-people" name="other-people" rows="5" aria-describedby="locations-cannot-attend-hint"></textarea>
		   <div id="other-people-info" class="govuk-hint govuk-character-count__message">You can enter up to 2000 characters</div>
	   </div>

		<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
			<label class="govuk-label govuk-label--l" for="account-number">
				Other considerations (optional)
			</label>
			<div id="locations-cannot-attend-hint" class="govuk-hint">
				<p class="govuk-body">Add other information that could help when selecting people for groups. This might include information to help create a diverse group, such as:</p> 
				<ul class="govuk-list govuk-list--bullet">
					<li>relevant demographic information not shown in <a href="#">Personal details</a></li>
					<li>neurodivergence </li>
					<li>culture and background </li>
				</ul>
			</div>
			<textarea class="govuk-textarea govuk-js-character-count" id="locations-cannot-attend" name="locations-cannot-attend" rows="5" aria-describedby="locations-cannot-attend-hint"></textarea>
			<div id="locations-cannot-attend-info" class="govuk-hint govuk-character-count__message">You can enter up to 2000 characters</div>
		</div>
		
		<div class="govuk-button-group govuk-!-margin-top-7">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			<a class="govuk-link" href="location">Cancel</a>
		</div>
		</form>
	</div>
</div>

{% endblock %}
