{% extends "layouts/main.html" %}

{% block pageTitle %}
Update status of referral - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a> -->
	<a href="open-referrals" class="govuk-back-link govuk-!-margin-bottom-0">Back to referrals</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Update status of referral</h1>
		<p class="govuk-body">Record all decisions so that the status of a referral is up to date.</p>
		<h2 class="govuk-heading-m">Current status details</h2>
		<div class="moj-timeline">
			<div class="moj-timeline__item">
				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">Referral submitted</h2>
					<p class="moj-timeline__byline">by Jordan Smith</p>
			  	</div>
			  	<p class="moj-timeline__date">
					<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
			  	</p>
			  	<div class="moj-timeline__description">
					<strong class="govuk-tag govuk-tag--red">Referral submitted</strong>
			  	</div>
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<form action="update-status" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="eligibility-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">Select decision</h2>
					</legend>
					<!-- <div id="eligibility-hint" class="govuk-hint">Select one option.</div> -->
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="eligibility" name="eligibility" type="radio" value="eligible" data-aria-controls="conditional-eligibility">
							<label class="govuk-label govuk-radios__label govuk-label--s" for="eligibility">This person is eligible</label>
							<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">The person meets the eligibility criteria for this programme and will be assessed for suitability.</div>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-eligibility">
							<div class="govuk-form-group">
								<label class="govuk-label" for="add-notes-optional">Add notes (optional)</label>
								<textarea class="govuk-textarea" id="add-notes-optional" name="add-notes-optional" rows="5">{{ data['add-notes-optional'] }}</textarea>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="eligibility-2" name="eligibility" type="radio" value="not-eligible" data-aria-controls="conditional-eligibility-2">
							<label class="govuk-label govuk-radios__label govuk-label--s" for="eligibility-2">This person is not eligible</label>
							<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">The person does not meet the eligibility criteria for this programme and the referral will be closed. You must provide a reason.</div>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-eligibility-2">
							<div class="govuk-form-group">
								<label class="govuk-label" for="add-reason">Add reason</label>
								<textarea class="govuk-textarea" id="add-reason" name="add-reason" rows="5"></textarea>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="govuk-warning-text">
					<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
					<strong class="govuk-warning-text__text">
						<span class="govuk-warning-text__assistive">Warning</span>
						This decision will change the referral status.
					</strong>
				</div>
				<div class="govuk-button-group govuk-!-margin-top-4">
					<button class="govuk-button" data-module="govuk-button">Submit</button>
					<a class="govuk-link" href="#">Cancel</a>
				</div>
			</div>
		</form>
    </div>
</div>

{% endblock %}
