{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
			</div>
			<div class="moj-page-header-actions__actions">
				<div class="moj-button-menu">
				  <div class="moj-button-menu__wrapper">
					  <a href="#" class="govuk-button moj-button-menu__item">Back to referrals</a>
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Update status</a>
				  </div>
				</div>
		  	</div>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="#">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="#">Status history</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Referral summary</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Applicant name</dt>
				<dd class="govuk-summary-list__value">Del Hatton</dd>
		  	</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Programme name</dt>
			  	<dd class="govuk-summary-list__value">Becoming New Me Plus (BNM+)</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Programme strand</dt>
			  	<dd class="govuk-summary-list__value">Intimate partner violence</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme location</dt>
				<dd class="govuk-summary-list__value">HMP Erlestoke</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme team email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">interventions.erlestoke@justice.gov.uk</a></dd>
			</div>
		</dl>
		<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Date referred</dt>
			  	<dd class="govuk-summary-list__value">11 June 2023</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Referrer name</dt>
			  	<dd class="govuk-summary-list__value">Jordan Smith</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Referrer email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">jordan.smith@justice.gov.uk</a></dd>
			</div>
		</dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="#" aria-current="location">Personal details</a>
		  		</li>
		  		<li class="moj-side-navigation__item">
					<a href="#">Programme history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="#">Offence history</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="#">Sentence information</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="#">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-inset-text govuk-!-margin-top-0">Imported from Nomis on 1 August 2023, last updated on 4 January 2023</div>
			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
			  		<h2 class="govuk-summary-card__title">Personal details</h2>
				</div>
				<div class="govuk-summary-card__content">
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Name</dt>
							<dd class="govuk-summary-list__value">Del Hatton</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Prison number</dt>
							<dd class="govuk-summary-list__value">D0168KE</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Date of birth</dt>
							<dd class="govuk-summary-list__value">5 July 1971 (52 years, 11 months old)</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Ethnicity</dt>
							<dd class="govuk-summary-list__value">White and Black African</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Gender</dt>
							<dd class="govuk-summary-list__value">Male</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Setting</dt>
							<dd class="govuk-summary-list__value">Custody</dd>
						</div>
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Current prison</dt>
							<dd class="govuk-summary-list__value">HMP Erlestoke</dd>
						</div>
					</dl>
				</div>
		 	</div>
		</div>
	</div>
</div>
{% endblock %}
