{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Building Choices: moderate intensity - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/community/v2/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Building Choices: moderate intensity</h1>
			</div>
			<form action="pdu/open-referrals" method="post">
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
					  <a href="pdu/open-referrals" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Update status</a>
				  	</div>
				</div>
			</form>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="personal-details">Referral details</a>
			    </li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="pni">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
		  	</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Referral summary</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Applicant name</dt>
				<dd class="govuk-summary-list__value">Alex River</dd>
		  	</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme name</dt>
				<dd class="govuk-summary-list__value">Building Choices: moderate intensity</dd>
		  	</div>
		  	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Programme strand</dt>
				<dd class="govuk-summary-list__value">Sexual offence</dd>
		  	</div>
		</dl>
		<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Date referred</dt>
			  	<dd class="govuk-summary-list__value">11 June 2023</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Probation practitioner</dt>
			  	<dd class="govuk-summary-list__value">Tom Saunders</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Probation practitioner email address</dt>
				<dd class="govuk-summary-list__value"><a href="#" class="govuk-link">tom.saunders@justice.gov.uk</a></dd>
			</div>
		</dl>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
	</div>
</div> 
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
			<ul class="moj-side-navigation__list">
				<li class="moj-side-navigation__item">
					<a href="personal-details">Personal details</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="programme-history">Programme history</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="offence-history">Offence history</a>
				</li>
				<li class="moj-side-navigation__item">
					<a href="sentence-information">Sentence information</a>
				</li>
				<li class="moj-side-navigation__item moj-side-navigation__item--active">
					<a href="availability" aria-current="location">Availability</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="location">Location</a>
		  		</li>
				<li class="moj-side-navigation__item">
					<a href="additional-information">Additional information</a>
		  		</li>
			</ul>
		</nav>
	</div>
	<div class="govuk-grid-column-three-quarters">
		{% if data['update-availability-assess'] == "update availability assess" %}
		<div role="region" class="moj-alert moj-alert--success" aria-label="success: File uploaded successfully" data-module="moj-alert" data-dismissible="true">
			<div>
			  	<svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
					<path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
			  	</svg>
			</div>
			<div class="moj-alert__content">Availability details updated successfully.</div>
			<div class="moj-alert__action">
			  <button class="moj-alert__dismiss" hidden>Dismiss</button>
			</div>
		</div>
		{% else %}
		<!-- No success banner to display yet -->
		{% endif %}

		{% if data['update-availability-assess'] == "update availability assess" %}
		<div class="govuk-inset-text govuk-!-margin-top-0">Last updated 9 May 2025 by Max Freeman</div>
		{% else %}
		<div class="govuk-inset-text govuk-!-margin-top-0">Last updated 3 April 2025 by Tom Saunders</div>
		{% endif %}
		<p class="govuk-body govuk-!-margin-bottom-6">This is Alex River's general availability to attend an Accredited Programme.</p>
		<table class="govuk-table govuk-table--small-text-until-tablet">
			<caption class="govuk-table__caption govuk-table__caption--m" style="display: none;">Availability</caption>
			<thead class="govuk-table__head">
			  <tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header">Day</th>
				<th scope="col" class="govuk-table__header">Daytime</th>
				<th scope="col" class="govuk-table__header">Evening</th>
			  </tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Mondays</th>
					{% if (data['mondays'] or []).indexOf('monday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['mondays'] or []).indexOf('monday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Tuesdays</th>
					{% if (data['tuesdays'] or []).indexOf('tuesday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['tuesdays'] or []).indexOf('tuesday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Wednesdays</th>
					{% if (data['wednesdays'] or []).indexOf('wednesday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['wednesdays'] or []).indexOf('wednesday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Thursdays</th>
					{% if (data['thursdays'] or []).indexOf('thursday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['thursdays'] or []).indexOf('thursday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Fridays</th>
					{% if (data['fridays'] or []).indexOf('friday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['fridays'] or []).indexOf('friday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Saturdays</th>
					{% if (data['saturdays'] or []).indexOf('saturday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['saturdays'] or []).indexOf('saturday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Sundays</th>
					{% if (data['sundays'] or []).indexOf('sunday daytime') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
					{% if (data['sundays'] or []).indexOf('sunday evening') > -1 %}    
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">available</strong></td>
					{% else %}
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">not available</strong></td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<h3 class="govuk-heading-s">Other availability details</h3>
		{% if data['availability-details'] %}
		<p class="govuk-!-margin-bottom-8">{{ data['availability-details'] }}</p>
		{% else %}
		<p class="govuk-!-margin-bottom-8">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		{% endif %}
		
		<form action="add-availability" method="post">
			<input type="hidden" id="update-button" name="update-button" value="update availability assess">
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Update availability</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
