{% extends "layouts/main.html" %}

{% block pageTitle %}
Not eligible for the programme - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/community/v3/key-details-pt.html" %}	
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<form action="status-history" method="post">
			<h1 class="govuk-heading-l">Not eligible for the programme</h1>
			<p class="govuk-body">If you update the status to not eligible, the referral will be closed.</p>
			<h2 class="govuk-heading-m">Current status</h2>
			<div class="moj-timeline">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Referral submitted</h2>
						<p class="moj-timeline__byline">by Tom Saunders</p>
					</div>
					<p class="moj-timeline__date">
						<time datetime="2023-06-28T10:00:00.000Z">28 June 2023 at 10:00am</time>
					</p>
					<div class="moj-timeline__description">
						<strong class="govuk-tag govuk-tag--green">Referral submitted</strong>
					</div>
				</div>
			</div>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<h2 class="govuk-heading-m govuk-!-margin-top-7">Not eligible</h2>
			<p class="govuk-body">You must give a reason why this person is not eligible for the programme.</p>
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
				<div class="govuk-form-group">
					<h3 class="govuk-label-wrapper">
						<label class="govuk-label govuk-label--s" for="add-reason-not-eligible">Add reason</label>
					</h3>
					<textarea class="govuk-textarea govuk-js-character-count" id="add-reason-not-eligible" name="add-reason-not-eligible" rows="12" aria-describedby="add-reason-not-eligible-info">{{ data['add-reason-not-eligible'] }}</textarea>
				</div>
				<div id="add-reason-not-eligible-info" class="govuk-hint govuk-character-count__message">You have 500 characters remaining</div>
			</div> 
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
				  <span class="govuk-visually-hidden">Warning</span>Submitting this will close the referral.</strong>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
				<a class="govuk-link" href="status-history">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
