{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Building Choices: moderate intensity (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-full">
		<div class="moj-page-header-actions">
			<div class="moj-page-header-actions__title">
	  			<h1 class="govuk-heading-l">Referral to Building Choices: moderate intensity</h1>
			</div>
			<form action="pdu/open-referrals" method="post">
				<div class="moj-page-header-actions__actions">
					<div class="moj-button-menu">
					  <a href="pdu/open-referrals" class="govuk-button moj-button-menu__item govuk-button--secondary">Back to referrals</a>
					  <a href="#" class="govuk-button moj-button-menu__item govuk-button--secondary">Update status</a>
				  	</div>
				</div>
			</form>
 		</div>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  <a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="risks-needs">Risks and needs</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="pni">Programme needs identifier</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
		  	</ul>
		</nav>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
		<h2 class="govuk-heading-m">Programme needs identifier</h2>
		<p class="govuk-body govuk-!-margin-bottom-6">This is Alex River's eligibility for Accredited Programmes, based on their risk and need scores.</p>
    </div>
	<div class="govuk-grid-column-three-quarters">
		<div class="rosh-widget rosh-widget--medium govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="orange"><strong>MODERATE INTENSITY</strong></span>
			</h2>
			<p class="govuk-body govuk-!-margin-bottom-1">Based on the risk and need scores, Alex River may be eligible for moderate intensity Accredited Programmes.</p>
		</div>
		<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		<h2 class="govuk-heading-m">How is this calculated?</h2>
		<p class="govuk-body">Eligibility is based on a combination of:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="risks-needs" class="govuk-link">risk scores</a></li>
			<li>the programme needs identifier (PNI), which uses the following scores</li>
		</ul>
		<div class="govuk-summary-card govuk-!-margin-top-8">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Sex</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.11 - Sexual Pre-occupation</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.12 - Offence related Sexual Interests </dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.12  Emotional congruence with children or feeling closer to children than adults</dt>
						<dd class="govuk-summary-list__value">0</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Sex result</dt>
						<dd class="govuk-summary-list__value">Low need</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Thinking</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">12.1 Pro-criminal attitudes</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">12.9 Hostile orientation</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Thinking result</dt>
						<dd class="govuk-summary-list__value">High need</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Relationships</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.1 - Current relationship with close family</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">6.6 - Previous experience of close relationships</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">7.3 - Easily influenced by criminal associates</dt>
						<dd class="govuk-summary-list__value">2</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.3 - Aggressive or controlling behaviour</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Relationships result</dt>
						<dd class="govuk-summary-list__value">High need</dd>
					</div>
				</dl>
			</div>
		</div>

		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				  <h2 class="govuk-summary-card__title">Self-management</h2>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.2 - Impulsivity</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.4 - Temper control</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">11.6 - Problem-solving skills</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">10.1 - Difficulties coping</dt>
						<dd class="govuk-summary-list__value">1</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Self-management result</dt>
						<dd class="govuk-summary-list__value">Medium need</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</div>
{% endblock %}
