{% extends "layouts/main.html" %}

{% block pageTitle %}
Which programme locations would Alex River prefer? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Where can Alex River attend a programme?</h1>
		<p class="govuk-body">Programme teams can use this information when allocating people to programmes. 
			There is no guarantee that participants will be offered their preferred location.</p>
		<p class="govuk-body govuk-!-margin-bottom-6">You can add or change these details until the person starts a programme.</p>
		<form action="preferred-location-router" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="locations-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						East Sussex
					</h2>
					</legend>
					<div id="locations-hint" class="govuk-hint">
					Select any locations Alex River can attend. You can skip this question if you do not know.
					</div>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-1" name="location-preference" type="checkbox" value="Brighton and Hove: Brighton Probation Office" {{ checked("location-preference", "Brighton and Hove: Brighton Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-1">Brighton and Hove: Brighton Probation Office</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-2" name="location-preference" type="checkbox" value="Hastings: St. Leonards Probation Office" {{ checked("location-preference", "Hastings: St. Leonards Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-2">Hastings: St. Leonards Probation Office</label>
					</div>	
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-3" name="location-preference" type="checkbox" value="Hollingbury: Sussex House" {{ checked("location-preference", "Hollingbury: Sussex House") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-3">Hollingbury: Sussex House</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-4" name="location-preference" type="checkbox" value="Lewes & Eastbourne: Eastbourne Probation Office" {{ checked("location-preference", "Lewes & Eastbourne: Eastbourne Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-4">Lewes & Eastbourne: Eastbourne Probation Office</label>
					</div>
				</div>
			</fieldset>
			</div>

		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
		name: "moreLocations",
		fieldset: {
			legend: {
			text: "Do you want to add locations from another probation delivery unit in your region?",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
			{
			value: "yes",
			text: "Yes"
			},
			{
			value: "no",
			text: "No"
			}
		]
		}) }}
		

			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button">Continue</button>
				<a class="govuk-link" href="location">Cancel</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}
