{% extends "layouts/main.html" %}

{% block pageTitle %}
Which programme locations would Alex River prefer? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Which locations can Alex River attend in Kent, Surrey and Sussex?</h1>
		<p class="govuk-body">You have already selected:</p>
		<div class="govuk-inset-text">
			<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0">East Sussex</p>
			<p class="govuk-body">{{ data['location-preference-formatted'] }}</p>
		</div>
		<p class="govuk-body govuk-!-margin-bottom-6">Select any other locations Alex River can attend.</p>
		<form action="preferred-location-alt-router" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="locations-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						East Kent
					</h2>
				</legend>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-5" name="location-preference" type="checkbox" value="Canterbury: Ralphs Centre" {{ checked("location-preference", "Canterbury: Ralphs Centre") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-5">Canterbury: Ralphs Centre</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-6" name="location-preference" type="checkbox" value="Kent: Maidstone Probation Office" {{ checked("location-preference", "Kent: Maidstone Probation Office") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-6">Kent: Maidstone Probation Office</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-7" name="location-preference" type="checkbox" value="Medway: Chatham Probation Office" {{ checked("location-preference", "Medway: Chatham Probation Office") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-7">Medway: Chatham Probation Office</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-8" name="location-preference" type="checkbox" value="Shepway: Folkestone Probation Office" {{ checked("location-preference", "Shepway: Folkestone Probation Office") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-8">Shepway: Folkestone Probation Office</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-9" name="location-preference" type="checkbox" value="Thanet: Darlincton House" {{ checked("location-preference", "Thanet: Darlincton House") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-9">Thanet: Darlincton House</label>
						</div>
					</div>
				</div>
			</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="locations-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						Surrey
					</h2>
				</legend>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes" data-module="govuk-checkboxes">
							<div class="govuk-radios__item">
								<input class="govuk-checkboxes__input" id="location-preference-10" name="location-preference" type="checkbox" value="Guildford: College House" {{ checked("location-preference", "Croydon: 4 Whitgift Street") }}>
								<label class="govuk-label govuk-checkboxes__label" for="location-preference-10">Croydon: 4 Whitgift Street</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-checkboxes__input" id="location-preference-11" name="location-preference" type="checkbox" value="Spelthorne: Swan House" {{ checked("location-preference", "Guildford: College House") }}>
								<label class="govuk-label govuk-checkboxes__label" for="location-preference-11">Guildford: College House</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-checkboxes__input" id="location-preference-12" name="location-preference" type="checkbox" value="Spelthorne: Swan House" {{ checked("location-preference", "Spelthorne: Swan House") }}>
								<label class="govuk-label govuk-checkboxes__label" for="location-preference-12">Spelthorne: Swan House</label>
							</div>
						</div>
					</div>
				</div>
				</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="locations-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						West Kent
					</h2>
				</legend>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-13" name="location-preference" type="checkbox" value="Bexley: Bexley Magistrates' Court" {{ checked("location-preference", "Bexley: Bexley Magistrates' Court") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-13">Bexley: Bexley Magistrates' Court</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-14" name="location-preference" type="checkbox" value="Bromley: Orpington Probation Office" {{ checked("location-preference", "Bromley: Orpington Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-14">Bromley: Orpington Probation Office</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-15" name="location-preference" type="checkbox" value="Kent: Joynes House" {{ checked("location-preference", "Kent: Joynes House") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-15">Kent: Joynes House</label>
					</div>
				</div>
				</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="locations-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						West Sussex
					</h2>
				</legend>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-19" name="location-preference" type="checkbox" value="Arun: Meadowfield House" {{ checked("location-preference", "Arun: Meadowfield House") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-19">Arun: Meadowfield House</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-20" name="location-preference" type="checkbox" value="Crawley: Goff's Park House" {{ checked("location-preference", "Crawley: Goff's Park House") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-20">Crawley: Goff's Park House</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-checkboxes__input" id="location-preference-21" name="location-preference" type="checkbox" value="Worthing: Worthing Probation Office" {{ checked("location-preference", "Worthing: Worthing Probation Office") }}>
							<label class="govuk-label govuk-checkboxes__label" for="location-preference-21">Worthing: Worthing Probation Office</label>
						</div>
					</div>
				</div>
				</fieldset>
			</div>


			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button">Continue</button>
				<a class="govuk-link" href="location">Cancel</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}
