{% extends "layouts/main.html" %}

{% block pageTitle %}
Which programme locations would Alex River prefer? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "includes/community/v3/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Which programme locations would Alex River prefer?</h1>
		<p class="govuk-body">This is a list of all locations where the programme can take place in this probation delivery unit. Choose any locations that are suitable.</p>
		<p class="govuk-body govuk-!-margin-bottom-6">We use this information to help programme teams assign people to suitable programmes. There is no guarantee the person will attend the programme in the location you choose. You can change the preferred location at any time until the programme starts.</p>
		<h2 class="govuk-heading-m">Choose from locations in East Sussex</h2>
		<form action="preferred-location-router" method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-1" name="location-preference" type="checkbox" value="Brighton and Hove: Brighton Probation Office" {{ checked("location-preference", "Brighton and Hove: Brighton Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-1">Brighton and Hove: Brighton Probation Office</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-2" name="location-preference" type="checkbox" value="Hastings: St. Leonards Probation Office" {{ checked("location-preference", "Hastings: St. Leonards Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-2">Hastings: St. Leonards Probation Office</label>
					</div>	
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-3" name="location-preference" type="checkbox" value="Hollingbury: Sussex House" {{ checked("location-preference", "Hollingbury: Sussex House") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-3">Hollingbury: Sussex House</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-checkboxes__input" id="location-preference-4" name="location-preference" type="checkbox" value="Lewes & Eastbourne: Eastbourne Probation Office" {{ checked("location-preference", "Lewes & Eastbourne: Eastbourne Probation Office") }}>
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-4">Lewes & Eastbourne: Eastbourne Probation Office</label>
					</div>
					<div class="govuk-checkboxes__divider">or</div>
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="location-preference-01" name="location-preference" type="checkbox" value="I cannot choose a suitable location yet" {{ checked("location-preference", "I cannot choose a suitable location yet") }} data-behaviour="exclusive">
						<label class="govuk-label govuk-checkboxes__label" for="location-preference-01">I cannot choose a suitable location yet</label>
					</div> 
				</div>
			</div>

		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
		name: "moreLocations",
		fieldset: {
			legend: {
			text: "Would you like to choose from more locations in neighbouring probation delivery units (PDUs)?",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
			{
			value: "yes",
			text: "Yes"
			},
			{
			value: "no",
			text: "No"
			}
		]
		}) }}
		

			<div class="govuk-button-group govuk-!-margin-top-7">
				<button class="govuk-button" data-module="govuk-button">Continue</button>
				<a class="govuk-link" href="location">Cancel</a>
			</div>
		</form>
	</div>
</div>

{% endblock %}
