{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

   		<h1 class="govuk-heading-xl">{{ serviceName }}</h1>
		<!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-8">Custody</h2>
		<strong class="govuk-tag govuk-!-margin-bottom-4">Custody</strong> -->
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">Contents</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#find">Find</a>
			  	</li>
			  	<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#refer">Refer</a>
			 	 </li>
			  	<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#assess">Assess</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#archives">Archives</a>
			  	</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#design-history">Design history</a>
			  	</li>
			</ul>
			<div class="govuk-tabs__panel" id="find">
				<h2 class="govuk-heading-l">Find</h2> 
				<p class="govuk-body">This is the end to end journey of when the Prison Offender Manager (POM) finds a programme for the Person in Prison (PiP).</p>
				<h4 class="govuk-heading-m">Version 2 <strong class="govuk-tag govuk-tag--green">Ready for build</strong></h4>
				<span class="govuk-caption-m govuk-!-margin-bottom-4">This is a copy of the Figma version with some tweaks.</span>
				<p><a class="govuk-link govuk-link--no-visited-state" href="find/v2/dps-home">View prototype</a></p>
				<!-- <h3 class="govuk-heading-m">Versions 1 to 2</h3> 
				<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=0-1&mode=design">View prototypes (Figma)</a></p> -->
				<!-- <div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVM6OklKA=/?share_link_id=143955306611">Round 5</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVMGMBMNk=/?share_link_id=458989280045">Round 3</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVMJmxgoQ=/?share_link_id=498119731036">Round 2</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVM6OklKA=/?share_link_id=143955306611">Round 1</a></li>
						</ul>
					</div>
				</div> -->
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="refer">
				<h2 class="govuk-heading-l">Refer</h2> 
				<p class="govuk-body">This is the end to end journey of when the Prison Offender Manager (POM) makes a programme referral for the Person in Prison (PiP).</p>
				<h4 class="govuk-heading-m">Version 8 <strong class="govuk-tag govuk-tag--red">Work in progress</strong></h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="refer/v8/start-now">View prototype (Make a referral)</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="govuk-link govuk-link--no-visited-state" href="refer/v8/dps-home">View prototype (DPS homepage)</a></p>
				<h4 class="govuk-heading-m">Version 7 <strong class="govuk-tag govuk-tag--green">Ready for build</strong></h4>
				<span class="govuk-caption-m govuk-!-margin-bottom-4">This is a copy of the Figma version with some tweaks.</span>
				<p><a class="govuk-link govuk-link--no-visited-state" href="refer/v7/start-now">View prototype (Make a referral)</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="govuk-link govuk-link--no-visited-state" href="refer/v7/dps-home">View prototype (DPS homepage)</a></p>
				<ul class="govuk-list govuk-list--number">
					<li><a class="govuk-link govuk-link--no-visited-state" href="refer/v7/accredited-programme-history-added/multiple">Accredited Programme history (multiple added)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="refer/v7/accredited-programme-history-added/previously">Accredited Programme history (previously added)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="refer/v7/accredited-programme-history-added/remove">Accredited Programme history (remove)</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
				<h3 class="govuk-heading-m">Hypotheses and experiments</h3>
				<h4 class="govuk-heading-s">Withdrawal (version 1) <strong class="govuk-tag govuk-tag--yellow">Tested with users</strong></h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="refer/features/withdrawal/v1/dps-home">View prototype</a></p>
				<!-- <div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Round XX</a></li>
						</ul>
					</div>
				</div> -->
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="assess">
				<h2 class="govuk-heading-l">Assess</h2> 
				<p class="govuk-body">This is the end to end journey of when a member of the Programme Team (PT) views and assess the programme referral made by the Prison Offender Manager (POM).</p>
				<h4 class="govuk-heading-m">Version 7 <strong class="govuk-tag govuk-tag--red">Work in progress</strong></h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="assess/v7/dps-home">View prototype</a></p>
				<h4 class="govuk-heading-m">Version 6 <strong class="govuk-tag govuk-tag--green">Ready for build</strong></h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/dps-home">View prototype</a></p>
				<!-- <details class="govuk-details" data-module="govuk-details">
					<summary class="govuk-details__summary">
						<span class="govuk-details__summary-text">Alternative statuses</span>
					</summary>
					<div class="govuk-details__text">
						<ul class="govuk-list govuk-list--number">
							<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-assessment-started/update-status">Status (assessment started)</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-suitability/update-status">Status (assessed suitable, suitable not ready and not suitable)</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-programme/update-status">Status (on programme)</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-programme-complete/update-status">Status (programme completed)</a></li>
						</ul>
					</div>
				</details> -->
				<ul class="govuk-list govuk-list--number">
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-assessment-started/update-status">Status (assessment started)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-suitability/update-status">Status (assessed suitable, suitable not ready and not suitable)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-programme/update-status">Status (on programme)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/status-programme-complete/update-status">Status (programme completed)</a></li>
				</ul>
				<h4 class="govuk-heading-s">Alternative designs (Playground)</h4>
				<ul class="govuk-list govuk-list--bullet">
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/sentence-information-no-record">Sentence information (no record)</a> <strong class="govuk-tag govuk-tag--green">Ready for build</strong></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/sentence-information-no-sentence">Sentence information (no sentence)</a> <strong class="govuk-tag govuk-tag--green">Ready for build</strong></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/sentence-information-no-release-dates">Sentence information (no release dates)</a> <strong class="govuk-tag govuk-tag--green">Ready for build</strong></li>
					<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/grey-tags">Grey tags</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/rag-tags">RAG tags</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/colour-tags">Colour tags</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/status-history-short">Status history (short)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="assess/v6/alternative-designs/status-history-long">Status history (long)</a></li> -->
				</ul>
				
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
				<h3 class="govuk-heading-m">Hypotheses and experiments</h3>
				<h4 class="govuk-heading-s">Deselection (version 1) <strong class="govuk-tag govuk-tag--yellow">Tested with users</strong></h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="assess/features/deselection/v1/dps-home">View prototype</a></p>
			</div>
			<div class="govuk-tabs__panel" id="archives">
				<h2 class="govuk-heading-l">Archives</h2> 
				<p class="govuk-body">Links to the old Figma prototypes:</a></p>
				<ul class="govuk-list govuk-list--bullet">
					<li><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=0-1&mode=design">Find</a> (versions 1 to 2)</li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=6-2&mode=design">Refer</a> (versions 1 to 7)</li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=2074-9281&mode=design">Assess</a> (versions 1 to 5)</li>
				</ul>
			</div>
			<div class="govuk-tabs__panel" id="design-history">
				<h2 class="govuk-heading-l">Design history</h2> 
				<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">TBC</a></p>
			</div>
		</div>
		<!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		<h3 class="govuk-heading-m">Archive</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVPiWWsO0=/?share_link_id=118610768837">Design history (Miro)</a>
			</li>
		</ul> -->
  	</div>
</div>

{% endblock %}
