{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

   		<h1 class="govuk-heading-xl">{{ serviceName }}</h1>
		<!-- <h2 class="govuk-heading-l govuk-!-margin-bottom-8">Custody</h2>
		<strong class="govuk-tag govuk-!-margin-bottom-4">Custody</strong> -->
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">Contents</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#find">Find</a>
			  	</li>
			  	<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#refer">Refer</a>
			 	 </li>
			  	<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#assess">Assess</a>
			  	</li>
			</ul>
			<div class="govuk-tabs__panel" id="find">
				<h2 class="govuk-heading-l">Find</h2> 
				<p class="govuk-body">This is the end to end journey of when the Prison Offender Manager (POM) finds a programme for the Person in Prison (PiP).</p>
				<h3 class="govuk-heading-m">Versions 1 to 2</h3> 
				<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=0-1&mode=design">View prototypes (Figma)</a></p>
				<div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 2</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 1</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="refer">
				<h2 class="govuk-heading-l">Refer</h2> 
				<p class="govuk-body">This is the end to end journey of when the Prison Offender Manager (POM) makes a programme referral for the Person in Prison (PiP).</p>
				<h3 class="govuk-heading-m">Versions 1 to 7</h3> 
				<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=6-2&mode=design">View prototypes (Figma)</a></p>
				<div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 7</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 6</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 5</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 4</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 3</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 2</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 1</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="assess">
				<h2 class="govuk-heading-l">Assess</h2> 
				<p class="govuk-body">This is the end to end journey of when a member of the Programme Team (PT) views and assess the programme referral made by the Prison Offender Manager (POM).</p>
				<h4 class="govuk-heading-m">Version 6</h4>
				<p><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/open-referrals">View prototype</a></p>
				<ul class="govuk-list govuk-list--number">
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/assessment-started/update-status">Status history (assessment started)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/status-suitability/update-status">Status history (assessed suitable, suitable not ready and not suitable)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/status-programme/update-status">Status history (on programme)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/programme-completed/update-status">Status history (programme completed)</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/deselected/update-status">Status history (deselected)</a></li>
				</ul>
				<h4 class="govuk-heading-s">Alternative designs</h4>
				<ul class="govuk-list govuk-list--bullet">
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/alternative-designs/rag-tags">RAG tags</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/alternative-designs/colour-tags">Colour tags</a></li>
					<li><a class="govuk-link govuk-link--no-visited-state" href="v6/assess/alternative-designs/status-history">Status history</a></li>
				</ul>

				<div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 6</a></li>
						</ul>
					</div>
				</div>
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
				<h3 class="govuk-heading-m">Versions 1 to 5</h3> 
				<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/ZGMNCyn4uzmUxFQdmAiQQq/Accredited-Programmes-Prototype?type=design&node-id=2074-9281&mode=design">View prototypes (Figma)</a></p>
				<div class="govuk-summary-card govuk-!-margin-top-6">
					<div class="govuk-summary-card__title-wrapper">
						  <h2 class="govuk-summary-card__title">Research findings</h2>
					</div>
					<div class="govuk-summary-card__content">
						<dl class="govuk-summary-list">
							<div class="govuk-summary-list__row">
								<p class="govuk-!-margin-bottom-2">The protoype designs (and iterations) have been informed by the following user research:</p>
							</div>
						</dl>
						<ul class="govuk-list govuk-list--bullet">
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 5</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 4</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 3</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 2</a></li>
							<li><a class="govuk-link govuk-link--no-visited-state" href="#">Version 1</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		<h3 class="govuk-heading-m">Archive</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVPiWWsO0=/?share_link_id=118610768837">Design history (Miro)</a>
			</li>
		</ul> -->
  	</div>
</div>

{% endblock %}
