{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter identity number - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/community/v2/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to interventions homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Enter a CRN or prison number</h1>
		<p class="govuk-body">This will retrieve the person's details to help you find suitable interventions.</p>
		<div class="govuk-form-group">
			<input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="person-identifier" name="person-identifier" type="text" spellcheck="false" value="{{ data['person-identifier'] }}" aria-describedby="person-identifier-hint">
		</div>
		<form action="check-details" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<button type="submit" class="govuk-button" data-module="govuk-button">
				Continue
			</button>
			<p class="govuk-body"><a class="govuk-link" href="search-results-community">See a list of all interventions</a></p>
		</form>
    </div>
</div>

{% endblock %}
