{% extends "layouts/main.html" %}

{% block pageTitle %}
Change programme history - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Change programme history</h1>
		<div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
				<h2 class="govuk-summary-card__title">Healthy Sex Programme</h2>
				<ul class="govuk-summary-card__actions">
					<li class="govuk-summary-card__action">
					  <a class="govuk-link" href="#">Change <span class="govuk-visually-hidden"> programme history</span></a>
					</li>
				</ul>
			</div>
			<div class="govuk-summary-card__content">
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme name</dt>
				  		<dd class="govuk-summary-list__value">Healthy Sex Programme</dd>
				  	</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Setting</dt>
						<dd class="govuk-summary-list__value">Custody</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Location</dt>
						<dd class="govuk-summary-list__value">Whatton</dd>
				  	</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Outcome</dt>
						<dd class="govuk-summary-list__value">Completed 2024</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Additional detail</dt>
						<dd class="govuk-summary-list__value">Motivated to complete the programme</dd>
					</div>
					<div class="govuk-summary-list__row">
					  	<dt class="govuk-summary-list__key">Added by</dt>
						<dd class="govuk-summary-list__value">Test user, 24 July 2024</dd>
					</div>
			  	</dl>
			</div>
		</div>
		<form action="javascript:window.history.back()" method="post">
			<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button" type="submit">Return to Accredited Programme history</button>
		</form>
    </div>
</div>
{% endblock %}
