{% extends "layouts/main.html" %}

{% block pageTitle %}
Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-find.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Becoming New Me Plus (BNM+)</h1>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence</strong>
		<h2 class="govuk-heading-l govuk-!-margin-top-8">Programme criteria</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Prison</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">OSP</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">LDC adapted</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-l govuk-!-margin-top-8">Programme description</h2>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus is a cognitive-behavioural group-work programme aimed at adult men who have been convicted of a sexual, Intimate Partner Violence (IPV) or non-IPV violent offence. The programme is suitable for those who are assessed as having a high or very high risk of reoffending. This programme is suitable for custody delivery and is the LDC equivalent of the Kaizen programme.</p>
		<h2 class="govuk-heading-l govuk-!-margin-top-8">Locations</h2>

		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="ascending">Prison</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Category</th>
					<th scope="col" class="govuk-table__header" aria-sort="none" colspan="2">Region</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			  	<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Aylesbury</td>
					<td class="govuk-table__cell">Category C</td>
					<td class="govuk-table__cell">South</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="hmp-erlestoke">Make referral</a></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Brinsford</td>
					<td class="govuk-table__cell">Category B/C</td>
					<td class="govuk-table__cell">Midlands</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Make referral</a></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Erlestoke</td>
					<td class="govuk-table__cell">Category C</td>
					<td class="govuk-table__cell">South</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Make referral</a></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Frankland</td>
					<td class="govuk-table__cell">Category A/B</td>
					<td class="govuk-table__cell">DoS?</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Make referral</a></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Stoke Heath</td>
					<td class="govuk-table__cell">Category C</td>
					<td class="govuk-table__cell">Midlands</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Make referral</a></td>
			  	</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HMP Swinton Hall</td>
					<td class="govuk-table__cell">Category C</td>
					<td class="govuk-table__cell">Midlands</td>
					<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Make referral</a></td>
			  	</tr>
			</tbody>
		</table>
    </div>
</div>

{% endblock %}
