{% extends "layouts/main.html" %}

{% block pageTitle %}
Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-find.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Becoming New Me Plus (BNM+)</h1>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence</strong>
		<h2 class="govuk-heading-l govuk-!-margin-top-8">HMP Erlestoke</h2>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Prison category</dt>
				<dd class="govuk-summary-list__value">Category C </dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Address</dt>
				<dd class="govuk-summary-list__value">Church Rd, Eastchurch, Sheerness, ME12 4DZ</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Region</dt>
				<dd class="govuk-summary-list__value">South</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Email address</dt>
			  	<dd class="govuk-summary-list__value"><a href="mailto:interventions.erlestoke@justice.gov.uk" class="govuk-link">interventions.erlestoke@justice.gov.uk</a></dd>
			</div>
		</dl>
		<div class="govuk-!-margin-top-4">
			<a class="govuk-button" href="/refer/v7/start-now">Make a referral</a>
		</div>
    </div>
</div>

{% endblock %}
