{% extends "layouts/main.html" %}

{% block pageTitle %}
Find an accredited programme - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-find.html" %}
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
</div> -->
{% endblock %} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Find an Accredited Programme</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<div class="filters-container">
			<h2 class="govuk-heading-m">Filters</h2>
			<div class="filter-options">
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="setting">Setting</label>
					<select class="govuk-select" id="setting" name="setting">
						<option value="select" selected>Select</option>
						<option value="general-violence">Prison</option>
						<option value="intimate-partner-violence">Probation</option>
					</select>
				</div>
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="gender">Gender</label>
					<select class="govuk-select" id="gender" name="gender">
						<option value="select" selected>Select</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<!-- <div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="risk-criteria">Risk criteria</label>
					<select class="govuk-select" id="risk-criteria" name="risk-criteria">
						<option value="select" selected>Select</option>
						<option value="assessment-ERG22">Assessment + ERG22+</option>
						<option value="high-ESARA-SARA">High ESARA/SARA</option>
						<option value="high-ESARA-SARA-OVP">High ESARA/SARA/OVP</option>
						<option value="high-OGRS">High OGRS</option>
						<option value="medium-ESARA">Medium ESARA</option>
						<option value="medium-or-high-ESARA">Medium or High ESARA</option>
						<option value="very-high-high-OSP">Very High/High OSP</option>
					</select>
				</div> -->
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="risk-criteria">Risk criteria</label>
					<select class="govuk-select" id="risk-criteria" name="risk-criteria">
						<option value="select" selected>Select</option>
						<option value="esara-sara">ESARA/SARA</option>
						<option value="osp">OSP</option>
						<option value="ogrs">OGRS</option>
						<option value="ovp">OVP</option>
						<option value="rosh">ROSH</option>
					</select>
				</div>
				<div class="govuk-form-group govuk-!-margin-right-3 govuk-!-margin-bottom-0">
					<label class="govuk-label govuk-label--s" for="learning-needs">Learning needs</label>
					<select class="govuk-select" id="learning-needs" name="learning-needs">
						<option value="select" selected>Select</option>
						<option value="ldc-adapted">LDC adapted</option>
						<option value="not-adapted-ldc">Not adapted for LDC</option>
					</select>
				</div>
				<button class="govuk-button" data-module="govuk-button" style="margin-bottom: 2px !important">Apply filters</button>
			</div>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-l"><a class="govuk-link govuk-link--no-visited-state" href="bnm-plus">Becoming New Me Plus (BNM+)</a></h2>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) is a programme for men who have committed Intimate Partner or General Violence offences. It's for those who are at high or very high risk of reoffending and is adapted for those with Learning Difficulties.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Prison</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">OSP</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">LDC adapted</dd>
			</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-l"><a class="govuk-link govuk-link--no-visited-state" href="#">Becoming New Me Plus (BNM+)</a></h2>
		<strong class="govuk-tag govuk-tag--red">Sexual violence</strong>
		<p class="govuk-body govuk-!-margin-top-6">Becoming New Me Plus (BNM+) is a programme for men who have committed Intimate Partner or General Violence offences. It's for those who are at high or very high risk of reoffending and is adapted for those with Learning Difficulties.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Prison</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">OGRS</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">LDC adapted</dd>
			</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-l"><a class="govuk-link govuk-link--no-visited-state" href="#">Building Better Relationships (BBR)</a></h2>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence</strong>
		<p class="govuk-body govuk-!-margin-top-6">BBR is a moderate intensity cognitive-behavioural group work intervention for adult male perpetrators convicted of an Intimate Partner Violence (IPV) related offence against a female partner.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Prison</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">ESARA/SARA</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">Not adapted for LDC</dd>
			</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-l"><a class="govuk-link govuk-link--no-visited-state" href="#">Building Better Relationships (BBR)</a></h2>
		<strong class="govuk-tag govuk-tag--green">Intimate partner violence</strong>
		<p class="govuk-body govuk-!-margin-top-6">BBR is a moderate intensity cognitive-behavioural group work intervention for adult male perpetrators convicted of an Intimate Partner Violence (IPV) related offence against a female partner.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Probation</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">ESARA/SARA</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">Not adapted for LDC</dd>
			</div>
		</dl>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-l"><a class="govuk-link govuk-link--no-visited-state" href="#">Healthy Identity Intervention (HII)</a></h2>
		<strong class="govuk-tag govuk-tag--blue">Extremism</strong>
		<p class="govuk-body govuk-!-margin-top-6">HII is a one-to-one programme that targets the social and psychological drivers of extremist offending. It seeks to facilitate desistance from future offending, and disengagement from an extremist group, cause and / or ideology. HII is not ideologically focused or intended to re-educate participants in a particular set of beliefs or doctrine, instead focusing on helping participants reconnect with their own personal values and beliefs, rather than being influenced by those shared by an extremist group or cause.</p>
		<dl class="govuk-summary-list govuk-summary-list--no-border">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Setting</dt>
				<dd class="govuk-summary-list__value">Prison</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Risk criteria</dt>
				<dd class="govuk-summary-list__value">OVP</dd>
			</div>
			<div class="govuk-summary-list__row">
			  	<dt class="govuk-summary-list__key">Learning needs</dt>
			  	<dd class="govuk-summary-list__value">Not adapted for LDC</dd>
			</div>
		</dl>

		<nav class="govuk-pagination govuk-!-margin-top-9" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">3</a>
				</li>
			</ul>
			<div class="govuk-pagination__next">
				<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg></a>
			</div>
		</nav>
    </div>
</div>

{% endblock %}
