{% extends "layouts/main.html" %}

{% block pageTitle %}
Programme needs identifier - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-no-nav.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
</nav>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Programme needs identifier</h1>
		<p class="govuk-body">This is the recommended Accredited Programmes pathway. It is based on a combination of:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>risk scores</li>
			<li>the programme needs identifier (PNI)</li>
		</ul>
		<div class="rosh-widget rosh-widget--not-eligible govuk-!-margin-bottom-6">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
				<span class="grey"><strong>NOT ELIGIBLE</strong></span>
			</h2>
			<p class="govuk-body">Based on the risk and need scores, Del Hatton may not be eligible for either the moderate or high intensity Accredited Programmes pathway.</p>
			<p class="govuk-body govuk-!-margin-bottom-1">Speak to the programme team about other options.</p>
		</div>
		<h2 class="govuk-heading-m">If you still want to make a referral</h2>
		<p class="govuk-body">Speak to the programme team if you still think the person should be referred to an Accredited Programme.</p>
    </div>
</div>

{% endblock %}
